=begin
#Mencoro API

#Public API for Mencoro customers. Authenticate with an API key: `Authorization: Bearer mencoro_sk_...`.

The version of the OpenAPI document: 1.0.0
Contact: support@mencoro.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module Mencoro
  class CapturesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List captured AI answers
    # Minimum role: viewer. Every AI answer captured for a project, newest first, one page at a time. This is the evidence under the analytics operations: the full answer text and the sources the engine cited, exactly as captured. Read `unresolved` on a citation before attributing its domain — a true value means the URL is still a redirector and the domain belongs to that redirector, not to the publisher; count the citation, do not credit the site. `passIndex` and `passCount` describe multi-pass sampling: rows sharing a `trackedQueryId` and `capturedAt` are passes of one run, not duplicates, so aggregating across them without dividing by `passCount` double-counts that run. `responseText` is the whole answer, so a page of 100 is a large response — lower `limit` rather than paging blind. Captures are kept for 16 months and purged after that; a `dateFrom` before the window is rejected rather than answered with an empty page. `total` counts every capture the filter matches, not the size of this page.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :date_from Inclusive lower bound, widened to 00:00:00 UTC of the named day. Must be inside the retention window.
    # @option opts [Date] :date_to Inclusive upper bound, widened to 23:59:59 UTC of the named day.
    # @option opts [String] :tracked_query_id Only captures of this tracked query. Must belong to the project in the path.
    # @option opts [Array<String>] :engines Only captures from these AI engines. Repeat the parameter or pass a comma-separated list. An empty filter means every engine.
    # @option opts [Integer] :limit Page size. A larger value is rejected, never silently reduced. (default to 20)
    # @option opts [Integer] :offset Number of captures to skip before the page starts. (default to 0)
    # @option opts [String] :sort_order Direction of the capture-time ordering. An unknown value is rejected, not replaced by the default. (default to 'desc')
    # @return [ListAiResponses200Response]
    def list_ai_responses(organization_id, project_id, opts = {})
      data, _status_code, _headers = list_ai_responses_with_http_info(organization_id, project_id, opts)
      data
    end

    # List captured AI answers
    # Minimum role: viewer. Every AI answer captured for a project, newest first, one page at a time. This is the evidence under the analytics operations: the full answer text and the sources the engine cited, exactly as captured. Read &#x60;unresolved&#x60; on a citation before attributing its domain — a true value means the URL is still a redirector and the domain belongs to that redirector, not to the publisher; count the citation, do not credit the site. &#x60;passIndex&#x60; and &#x60;passCount&#x60; describe multi-pass sampling: rows sharing a &#x60;trackedQueryId&#x60; and &#x60;capturedAt&#x60; are passes of one run, not duplicates, so aggregating across them without dividing by &#x60;passCount&#x60; double-counts that run. &#x60;responseText&#x60; is the whole answer, so a page of 100 is a large response — lower &#x60;limit&#x60; rather than paging blind. Captures are kept for 16 months and purged after that; a &#x60;dateFrom&#x60; before the window is rejected rather than answered with an empty page. &#x60;total&#x60; counts every capture the filter matches, not the size of this page.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :date_from Inclusive lower bound, widened to 00:00:00 UTC of the named day. Must be inside the retention window.
    # @option opts [Date] :date_to Inclusive upper bound, widened to 23:59:59 UTC of the named day.
    # @option opts [String] :tracked_query_id Only captures of this tracked query. Must belong to the project in the path.
    # @option opts [Array<String>] :engines Only captures from these AI engines. Repeat the parameter or pass a comma-separated list. An empty filter means every engine.
    # @option opts [Integer] :limit Page size. A larger value is rejected, never silently reduced. (default to 20)
    # @option opts [Integer] :offset Number of captures to skip before the page starts. (default to 0)
    # @option opts [String] :sort_order Direction of the capture-time ordering. An unknown value is rejected, not replaced by the default. (default to 'desc')
    # @return [Array<(ListAiResponses200Response, Integer, Hash)>] ListAiResponses200Response data, response status code and response headers
    def list_ai_responses_with_http_info(organization_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapturesApi.list_ai_responses ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling CapturesApi.list_ai_responses"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling CapturesApi.list_ai_responses"
      end
      allowable_values = ["chatgpt", "perplexity", "google_ai_overview", "google_ai_mode"]
      if @api_client.config.client_side_validation && opts[:'engines'] && !opts[:'engines'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"engines\", must include one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CapturesApi.list_ai_responses, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CapturesApi.list_ai_responses, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling CapturesApi.list_ai_responses, must be greater than or equal to 0.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/ai-responses'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dateFrom'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'dateTo'] = opts[:'date_to'] if !opts[:'date_to'].nil?
      query_params[:'trackedQueryId'] = opts[:'tracked_query_id'] if !opts[:'tracked_query_id'].nil?
      query_params[:'engines'] = @api_client.build_collection_param(opts[:'engines'], :multi) if !opts[:'engines'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAiResponses200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CapturesApi.list_ai_responses",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapturesApi#list_ai_responses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List captured search-results pages
    # Minimum role: viewer. Every organic search page captured for a project, newest first, one page at a time. This is what the rank figures in the analytics operations were computed from: the ranked results as they stood at `capturedAt`, not as they stand now. Read `unresolved` on a result before attributing its domain — a true value means the URL is still a redirector and the domain belongs to that redirector; count the result, do not credit the site. `rating` and `ratingVotes` come from a rich-result star rating when Google showed one and are absent far more often than present; their absence says nothing about the page. There is no `engines` filter because every capture here comes from Google SERP. Captures are kept for 16 months and purged after that; a `dateFrom` before the window is rejected rather than answered with an empty page. `total` counts every capture the filter matches, not the size of this page.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :date_from Inclusive lower bound, widened to 00:00:00 UTC of the named day. Must be inside the retention window.
    # @option opts [Date] :date_to Inclusive upper bound, widened to 23:59:59 UTC of the named day.
    # @option opts [String] :tracked_query_id Only captures of this tracked query. Must belong to the project in the path.
    # @option opts [Integer] :limit Page size. A larger value is rejected, never silently reduced. (default to 20)
    # @option opts [Integer] :offset Number of captures to skip before the page starts. (default to 0)
    # @option opts [String] :sort_order Direction of the capture-time ordering. An unknown value is rejected, not replaced by the default. (default to 'desc')
    # @return [ListSearchSnapshots200Response]
    def list_search_snapshots(organization_id, project_id, opts = {})
      data, _status_code, _headers = list_search_snapshots_with_http_info(organization_id, project_id, opts)
      data
    end

    # List captured search-results pages
    # Minimum role: viewer. Every organic search page captured for a project, newest first, one page at a time. This is what the rank figures in the analytics operations were computed from: the ranked results as they stood at &#x60;capturedAt&#x60;, not as they stand now. Read &#x60;unresolved&#x60; on a result before attributing its domain — a true value means the URL is still a redirector and the domain belongs to that redirector; count the result, do not credit the site. &#x60;rating&#x60; and &#x60;ratingVotes&#x60; come from a rich-result star rating when Google showed one and are absent far more often than present; their absence says nothing about the page. There is no &#x60;engines&#x60; filter because every capture here comes from Google SERP. Captures are kept for 16 months and purged after that; a &#x60;dateFrom&#x60; before the window is rejected rather than answered with an empty page. &#x60;total&#x60; counts every capture the filter matches, not the size of this page.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :date_from Inclusive lower bound, widened to 00:00:00 UTC of the named day. Must be inside the retention window.
    # @option opts [Date] :date_to Inclusive upper bound, widened to 23:59:59 UTC of the named day.
    # @option opts [String] :tracked_query_id Only captures of this tracked query. Must belong to the project in the path.
    # @option opts [Integer] :limit Page size. A larger value is rejected, never silently reduced. (default to 20)
    # @option opts [Integer] :offset Number of captures to skip before the page starts. (default to 0)
    # @option opts [String] :sort_order Direction of the capture-time ordering. An unknown value is rejected, not replaced by the default. (default to 'desc')
    # @return [Array<(ListSearchSnapshots200Response, Integer, Hash)>] ListSearchSnapshots200Response data, response status code and response headers
    def list_search_snapshots_with_http_info(organization_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapturesApi.list_search_snapshots ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling CapturesApi.list_search_snapshots"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling CapturesApi.list_search_snapshots"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CapturesApi.list_search_snapshots, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CapturesApi.list_search_snapshots, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling CapturesApi.list_search_snapshots, must be greater than or equal to 0.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/search-snapshots'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dateFrom'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'dateTo'] = opts[:'date_to'] if !opts[:'date_to'].nil?
      query_params[:'trackedQueryId'] = opts[:'tracked_query_id'] if !opts[:'tracked_query_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListSearchSnapshots200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CapturesApi.list_search_snapshots",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapturesApi#list_search_snapshots\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List captured shopping-results pages
    # Minimum role: viewer. Every shopping page captured for a project, newest first, one page at a time: the ranked offers as they stood at `capturedAt`. `price` and `currency` are what the seller showed at that moment — no tax normalisation, no shipping, no conversion — and two offers in one snapshot may carry different currencies, so convert before comparing. `productId` is the marketplace's own identifier for the listing, stable enough to follow one offer across snapshots, and it is not a Mencoro id. Offers turn over far faster than organic results, so two snapshots days apart routinely share none; that is the marketplace behaving normally, not a gap in the capture. Unlike organic results, a shopping offer carries no `unresolved` flag: the capture pipeline does not record one for this surface. Shopping captures are trimmed by the same raw-data purge as AI answers and search pages, so the same retention floor applies: a `dateFrom` before it is refused rather than answered with an empty page. `total` counts every capture the filter matches, not the size of this page.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :date_from Inclusive lower bound, widened to 00:00:00 UTC of the named day. A date before the retention floor is refused rather than answered with an empty page: shopping captures are aged out by the raw-data purge like every other capture.
    # @option opts [Date] :date_to Inclusive upper bound, widened to 23:59:59 UTC of the named day.
    # @option opts [String] :tracked_query_id Only captures of this tracked query. Must belong to the project in the path.
    # @option opts [Integer] :limit Page size. A larger value is rejected, never silently reduced. (default to 20)
    # @option opts [Integer] :offset Number of captures to skip before the page starts. (default to 0)
    # @option opts [String] :sort_order Direction of the capture-time ordering. An unknown value is rejected, not replaced by the default. (default to 'desc')
    # @return [ListShoppingSnapshots200Response]
    def list_shopping_snapshots(organization_id, project_id, opts = {})
      data, _status_code, _headers = list_shopping_snapshots_with_http_info(organization_id, project_id, opts)
      data
    end

    # List captured shopping-results pages
    # Minimum role: viewer. Every shopping page captured for a project, newest first, one page at a time: the ranked offers as they stood at &#x60;capturedAt&#x60;. &#x60;price&#x60; and &#x60;currency&#x60; are what the seller showed at that moment — no tax normalisation, no shipping, no conversion — and two offers in one snapshot may carry different currencies, so convert before comparing. &#x60;productId&#x60; is the marketplace&#39;s own identifier for the listing, stable enough to follow one offer across snapshots, and it is not a Mencoro id. Offers turn over far faster than organic results, so two snapshots days apart routinely share none; that is the marketplace behaving normally, not a gap in the capture. Unlike organic results, a shopping offer carries no &#x60;unresolved&#x60; flag: the capture pipeline does not record one for this surface. Shopping captures are trimmed by the same raw-data purge as AI answers and search pages, so the same retention floor applies: a &#x60;dateFrom&#x60; before it is refused rather than answered with an empty page. &#x60;total&#x60; counts every capture the filter matches, not the size of this page.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :date_from Inclusive lower bound, widened to 00:00:00 UTC of the named day. A date before the retention floor is refused rather than answered with an empty page: shopping captures are aged out by the raw-data purge like every other capture.
    # @option opts [Date] :date_to Inclusive upper bound, widened to 23:59:59 UTC of the named day.
    # @option opts [String] :tracked_query_id Only captures of this tracked query. Must belong to the project in the path.
    # @option opts [Integer] :limit Page size. A larger value is rejected, never silently reduced. (default to 20)
    # @option opts [Integer] :offset Number of captures to skip before the page starts. (default to 0)
    # @option opts [String] :sort_order Direction of the capture-time ordering. An unknown value is rejected, not replaced by the default. (default to 'desc')
    # @return [Array<(ListShoppingSnapshots200Response, Integer, Hash)>] ListShoppingSnapshots200Response data, response status code and response headers
    def list_shopping_snapshots_with_http_info(organization_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapturesApi.list_shopping_snapshots ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling CapturesApi.list_shopping_snapshots"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling CapturesApi.list_shopping_snapshots"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CapturesApi.list_shopping_snapshots, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CapturesApi.list_shopping_snapshots, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling CapturesApi.list_shopping_snapshots, must be greater than or equal to 0.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/shopping-snapshots'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dateFrom'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'dateTo'] = opts[:'date_to'] if !opts[:'date_to'].nil?
      query_params[:'trackedQueryId'] = opts[:'tracked_query_id'] if !opts[:'tracked_query_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListShoppingSnapshots200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"CapturesApi.list_shopping_snapshots",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapturesApi#list_shopping_snapshots\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
