=begin
#Mencoro API

#Public API for Mencoro customers. Authenticate with an API key: `Authorization: Bearer mencoro_sk_...`.

The version of the OpenAPI document: 1.0.0
Contact: support@mencoro.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module Mencoro
  class ClustersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Apply the result of a clustering job
    # Minimum role: manager. Writes a completed clustering job onto the tracked queries it was computed for: it creates the clusters the job proposed that the project does not have yet, then assigns each tracked query according to the merge mode the job was started with — fill_gaps leaves already grouped queries alone, add_on_top only adds, full_regroup replaces a query's clusters with the proposed set and therefore REMOVES clusters that are not in it — but only for a tracked query the job actually returned an assignment for. A tracked query the job was started over and produced no assignment for is listed under `unassigned` and left exactly as it was, under every mode; it is not treated as \"belongs to no cluster\" and is never stripped. That matters most with restrictToExistingClusters, where the model is expected to return nothing for queries that fit no existing cluster. The body must be empty: the assignments, the target tracked queries and the mode all come from the job, so this call cannot apply something the job did not produce. Synchronous and partially successful — always 200, with each tracked query under `successful` or `failed`, and nothing rolled back because one failed. A job that is not completed, or one that produced no assignments, is refused with 409. Requires the write capability and an Idempotency-Key header; repeating the key returns the first answer rather than applying twice.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param job_id [String] Must be a clustering job started for this organization and project.
    # @param idempotency_key [String] Repeat it to retry a lost response without applying the job twice.
    # @param [Hash] opts the optional parameters
    # @return [ApplyClusteringJobOutcome]
    def apply_clustering_job(organization_id, project_id, job_id, idempotency_key, opts = {})
      data, _status_code, _headers = apply_clustering_job_with_http_info(organization_id, project_id, job_id, idempotency_key, opts)
      data
    end

    # Apply the result of a clustering job
    # Minimum role: manager. Writes a completed clustering job onto the tracked queries it was computed for: it creates the clusters the job proposed that the project does not have yet, then assigns each tracked query according to the merge mode the job was started with — fill_gaps leaves already grouped queries alone, add_on_top only adds, full_regroup replaces a query&#39;s clusters with the proposed set and therefore REMOVES clusters that are not in it — but only for a tracked query the job actually returned an assignment for. A tracked query the job was started over and produced no assignment for is listed under &#x60;unassigned&#x60; and left exactly as it was, under every mode; it is not treated as \&quot;belongs to no cluster\&quot; and is never stripped. That matters most with restrictToExistingClusters, where the model is expected to return nothing for queries that fit no existing cluster. The body must be empty: the assignments, the target tracked queries and the mode all come from the job, so this call cannot apply something the job did not produce. Synchronous and partially successful — always 200, with each tracked query under &#x60;successful&#x60; or &#x60;failed&#x60;, and nothing rolled back because one failed. A job that is not completed, or one that produced no assignments, is refused with 409. Requires the write capability and an Idempotency-Key header; repeating the key returns the first answer rather than applying twice.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param job_id [String] Must be a clustering job started for this organization and project.
    # @param idempotency_key [String] Repeat it to retry a lost response without applying the job twice.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyClusteringJobOutcome, Integer, Hash)>] ApplyClusteringJobOutcome data, response status code and response headers
    def apply_clustering_job_with_http_info(organization_id, project_id, job_id, idempotency_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClustersApi.apply_clustering_job ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ClustersApi.apply_clustering_job"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ClustersApi.apply_clustering_job"
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling ClustersApi.apply_clustering_job"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling ClustersApi.apply_clustering_job"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/clusters/jobs/{jobId}/apply'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s)).sub('{jobId}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyClusteringJobOutcome'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ClustersApi.apply_clustering_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClustersApi#apply_clustering_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create several keyword clusters at once
    # Minimum role: manager. Creates up to 100 empty keyword clusters in one call. Names are trimmed and lower-cased and repeated names in the body are collapsed before anything is written. Partial success: the answer is always 200 and reports every name under `successful` or under `failed` — a name already taken in the project fails with query_cluster_name_already_exists and is NOT resolved to the existing cluster, while the other names are still created. Nothing is rolled back because one name failed. The clusters are created empty; no tracked query is assigned to them. The organization must not be archived; an archived project IS refused with 409, stricter than the Mencoro app, which lets cluster writes into one. Requires the write capability and an Idempotency-Key header.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] Repeat it to retry a lost response without creating the batch twice.
    # @param batch_create_query_clusters_request_data [BatchCreateQueryClustersRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [BatchCreateQueryClustersOutcome]
    def batch_create_query_clusters(organization_id, project_id, idempotency_key, batch_create_query_clusters_request_data, opts = {})
      data, _status_code, _headers = batch_create_query_clusters_with_http_info(organization_id, project_id, idempotency_key, batch_create_query_clusters_request_data, opts)
      data
    end

    # Create several keyword clusters at once
    # Minimum role: manager. Creates up to 100 empty keyword clusters in one call. Names are trimmed and lower-cased and repeated names in the body are collapsed before anything is written. Partial success: the answer is always 200 and reports every name under &#x60;successful&#x60; or under &#x60;failed&#x60; — a name already taken in the project fails with query_cluster_name_already_exists and is NOT resolved to the existing cluster, while the other names are still created. Nothing is rolled back because one name failed. The clusters are created empty; no tracked query is assigned to them. The organization must not be archived; an archived project IS refused with 409, stricter than the Mencoro app, which lets cluster writes into one. Requires the write capability and an Idempotency-Key header.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] Repeat it to retry a lost response without creating the batch twice.
    # @param batch_create_query_clusters_request_data [BatchCreateQueryClustersRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchCreateQueryClustersOutcome, Integer, Hash)>] BatchCreateQueryClustersOutcome data, response status code and response headers
    def batch_create_query_clusters_with_http_info(organization_id, project_id, idempotency_key, batch_create_query_clusters_request_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClustersApi.batch_create_query_clusters ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ClustersApi.batch_create_query_clusters"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ClustersApi.batch_create_query_clusters"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling ClustersApi.batch_create_query_clusters"
      end
      # verify the required parameter 'batch_create_query_clusters_request_data' is set
      if @api_client.config.client_side_validation && batch_create_query_clusters_request_data.nil?
        fail ArgumentError, "Missing the required parameter 'batch_create_query_clusters_request_data' when calling ClustersApi.batch_create_query_clusters"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/clusters/batch'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_create_query_clusters_request_data)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchCreateQueryClustersOutcome'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ClustersApi.batch_create_query_clusters",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClustersApi#batch_create_query_clusters\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a keyword cluster
    # Minimum role: manager. Creates one empty keyword cluster in the project. The name is trimmed and lower-cased before it is stored, and it must be unique within the project: a name that already exists is refused with 409 and nothing is merged into the existing cluster. The cluster starts with no tracked queries in it — this operation does not assign anything to it. The organization must not be archived; an archived project IS refused with 409, stricter than the Mencoro app, which lets cluster writes into one. Requires the write capability and an Idempotency-Key header.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] A token you choose per operation, 8 to 255 printable ASCII characters with no spaces; a UUID is the obvious choice. Repeat it to retry a lost response without creating a second cluster. The key is scoped to your API key, and it is bound to the method, the path and the body of the first attempt: repeating it with anything else changed is refused with 409 rather than replayed.
    # @param create_query_cluster_request [CreateQueryClusterRequest] 
    # @param [Hash] opts the optional parameters
    # @return [QueryClusterResource]
    def create_query_cluster(organization_id, project_id, idempotency_key, create_query_cluster_request, opts = {})
      data, _status_code, _headers = create_query_cluster_with_http_info(organization_id, project_id, idempotency_key, create_query_cluster_request, opts)
      data
    end

    # Create a keyword cluster
    # Minimum role: manager. Creates one empty keyword cluster in the project. The name is trimmed and lower-cased before it is stored, and it must be unique within the project: a name that already exists is refused with 409 and nothing is merged into the existing cluster. The cluster starts with no tracked queries in it — this operation does not assign anything to it. The organization must not be archived; an archived project IS refused with 409, stricter than the Mencoro app, which lets cluster writes into one. Requires the write capability and an Idempotency-Key header.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] A token you choose per operation, 8 to 255 printable ASCII characters with no spaces; a UUID is the obvious choice. Repeat it to retry a lost response without creating a second cluster. The key is scoped to your API key, and it is bound to the method, the path and the body of the first attempt: repeating it with anything else changed is refused with 409 rather than replayed.
    # @param create_query_cluster_request [CreateQueryClusterRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueryClusterResource, Integer, Hash)>] QueryClusterResource data, response status code and response headers
    def create_query_cluster_with_http_info(organization_id, project_id, idempotency_key, create_query_cluster_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClustersApi.create_query_cluster ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ClustersApi.create_query_cluster"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ClustersApi.create_query_cluster"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling ClustersApi.create_query_cluster"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 255
        fail ArgumentError, 'invalid value for "idempotency_key" when calling ClustersApi.create_query_cluster, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && idempotency_key.to_s.length < 8
        fail ArgumentError, 'invalid value for "idempotency_key" when calling ClustersApi.create_query_cluster, the character length must be greater than or equal to 8.'
      end

      # verify the required parameter 'create_query_cluster_request' is set
      if @api_client.config.client_side_validation && create_query_cluster_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_query_cluster_request' when calling ClustersApi.create_query_cluster"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/clusters'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_query_cluster_request)

      # return_type
      return_type = opts[:debug_return_type] || 'QueryClusterResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ClustersApi.create_query_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClustersApi#create_query_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a keyword cluster
    # Minimum role: manager. Deletes one keyword cluster. The tracked queries that were in it are NOT deleted: they are unassigned from this cluster and keep every other cluster they belong to. Analytics filtered by this cluster id return nothing afterwards, including for dates before the deletion, because that filter reads current membership. This cannot be undone — recreating a cluster with the same name produces a new id and an empty cluster. The organization must not be archived, and neither must the project: an archived project IS refused with 409, stricter than the Mencoro app, which lets cluster writes into one. Requires the write capability and an Idempotency-Key header.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param cluster_id [String] Must be a cluster of the project in the path.
    # @param idempotency_key [String] Repeat it to retry a lost response; a fresh key answers 404 once the cluster is gone.
    # @param [Hash] opts the optional parameters
    # @return [DeleteQueryCluster200Response]
    def delete_query_cluster(organization_id, project_id, cluster_id, idempotency_key, opts = {})
      data, _status_code, _headers = delete_query_cluster_with_http_info(organization_id, project_id, cluster_id, idempotency_key, opts)
      data
    end

    # Delete a keyword cluster
    # Minimum role: manager. Deletes one keyword cluster. The tracked queries that were in it are NOT deleted: they are unassigned from this cluster and keep every other cluster they belong to. Analytics filtered by this cluster id return nothing afterwards, including for dates before the deletion, because that filter reads current membership. This cannot be undone — recreating a cluster with the same name produces a new id and an empty cluster. The organization must not be archived, and neither must the project: an archived project IS refused with 409, stricter than the Mencoro app, which lets cluster writes into one. Requires the write capability and an Idempotency-Key header.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param cluster_id [String] Must be a cluster of the project in the path.
    # @param idempotency_key [String] Repeat it to retry a lost response; a fresh key answers 404 once the cluster is gone.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteQueryCluster200Response, Integer, Hash)>] DeleteQueryCluster200Response data, response status code and response headers
    def delete_query_cluster_with_http_info(organization_id, project_id, cluster_id, idempotency_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClustersApi.delete_query_cluster ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ClustersApi.delete_query_cluster"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ClustersApi.delete_query_cluster"
      end
      # verify the required parameter 'cluster_id' is set
      if @api_client.config.client_side_validation && cluster_id.nil?
        fail ArgumentError, "Missing the required parameter 'cluster_id' when calling ClustersApi.delete_query_cluster"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling ClustersApi.delete_query_cluster"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s)).sub('{clusterId}', CGI.escape(cluster_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteQueryCluster200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ClustersApi.delete_query_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClustersApi#delete_query_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rename a keyword cluster
    # Minimum role: manager. Changes the name of one keyword cluster and nothing else: the tracked queries assigned to it are untouched, and its id does not change, so nothing a client stored breaks. The new name is trimmed and lower-cased and must be unique within the project; a collision is refused with 409. Renaming to the name the cluster already has is accepted and is a no-op. The organization must not be archived; an archived project IS refused with 409, stricter than the Mencoro app, which lets cluster writes into one. Requires the write capability and an Idempotency-Key header.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param cluster_id [String] Must be a cluster of the project in the path.
    # @param idempotency_key [String] Repeat it to retry a lost response without renaming twice.
    # @param create_query_cluster_request [CreateQueryClusterRequest] 
    # @param [Hash] opts the optional parameters
    # @return [QueryClusterResource]
    def rename_query_cluster(organization_id, project_id, cluster_id, idempotency_key, create_query_cluster_request, opts = {})
      data, _status_code, _headers = rename_query_cluster_with_http_info(organization_id, project_id, cluster_id, idempotency_key, create_query_cluster_request, opts)
      data
    end

    # Rename a keyword cluster
    # Minimum role: manager. Changes the name of one keyword cluster and nothing else: the tracked queries assigned to it are untouched, and its id does not change, so nothing a client stored breaks. The new name is trimmed and lower-cased and must be unique within the project; a collision is refused with 409. Renaming to the name the cluster already has is accepted and is a no-op. The organization must not be archived; an archived project IS refused with 409, stricter than the Mencoro app, which lets cluster writes into one. Requires the write capability and an Idempotency-Key header.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param cluster_id [String] Must be a cluster of the project in the path.
    # @param idempotency_key [String] Repeat it to retry a lost response without renaming twice.
    # @param create_query_cluster_request [CreateQueryClusterRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueryClusterResource, Integer, Hash)>] QueryClusterResource data, response status code and response headers
    def rename_query_cluster_with_http_info(organization_id, project_id, cluster_id, idempotency_key, create_query_cluster_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClustersApi.rename_query_cluster ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ClustersApi.rename_query_cluster"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ClustersApi.rename_query_cluster"
      end
      # verify the required parameter 'cluster_id' is set
      if @api_client.config.client_side_validation && cluster_id.nil?
        fail ArgumentError, "Missing the required parameter 'cluster_id' when calling ClustersApi.rename_query_cluster"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling ClustersApi.rename_query_cluster"
      end
      # verify the required parameter 'create_query_cluster_request' is set
      if @api_client.config.client_side_validation && create_query_cluster_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_query_cluster_request' when calling ClustersApi.rename_query_cluster"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s)).sub('{clusterId}', CGI.escape(cluster_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_query_cluster_request)

      # return_type
      return_type = opts[:debug_return_type] || 'QueryClusterResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ClustersApi.rename_query_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClustersApi#rename_query_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start a keyword clustering job
    # Minimum role: manager. Asks the clustering service to propose keyword clusters for up to 500 tracked queries of the project, and answers 202 with the job to poll — the work runs in the background and a 202 says it was accepted, never that it succeeded. THE JOB WRITES NOTHING: it produces a proposal, and nothing changes until it is applied through the apply operation, which is a separate call. Duplicate query texts within the selection are sent once. Requires an entitled subscription (402 otherwise) and the organization must be active and the project not archived. Rate limited to 10 starts per minute per organization, shared with the same operation in the web application. Requires the write capability and an Idempotency-Key header; repeating the key returns the first job rather than starting a second.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] Repeat it to retry a lost response without starting a second job.
    # @param start_clustering_job_request_data [StartClusteringJobRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [AcceptedJobResource]
    def start_clustering_job(organization_id, project_id, idempotency_key, start_clustering_job_request_data, opts = {})
      data, _status_code, _headers = start_clustering_job_with_http_info(organization_id, project_id, idempotency_key, start_clustering_job_request_data, opts)
      data
    end

    # Start a keyword clustering job
    # Minimum role: manager. Asks the clustering service to propose keyword clusters for up to 500 tracked queries of the project, and answers 202 with the job to poll — the work runs in the background and a 202 says it was accepted, never that it succeeded. THE JOB WRITES NOTHING: it produces a proposal, and nothing changes until it is applied through the apply operation, which is a separate call. Duplicate query texts within the selection are sent once. Requires an entitled subscription (402 otherwise) and the organization must be active and the project not archived. Rate limited to 10 starts per minute per organization, shared with the same operation in the web application. Requires the write capability and an Idempotency-Key header; repeating the key returns the first job rather than starting a second.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] Repeat it to retry a lost response without starting a second job.
    # @param start_clustering_job_request_data [StartClusteringJobRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AcceptedJobResource, Integer, Hash)>] AcceptedJobResource data, response status code and response headers
    def start_clustering_job_with_http_info(organization_id, project_id, idempotency_key, start_clustering_job_request_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClustersApi.start_clustering_job ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ClustersApi.start_clustering_job"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ClustersApi.start_clustering_job"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling ClustersApi.start_clustering_job"
      end
      # verify the required parameter 'start_clustering_job_request_data' is set
      if @api_client.config.client_side_validation && start_clustering_job_request_data.nil?
        fail ArgumentError, "Missing the required parameter 'start_clustering_job_request_data' when calling ClustersApi.start_clustering_job"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/clusters/jobs'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(start_clustering_job_request_data)

      # return_type
      return_type = opts[:debug_return_type] || 'AcceptedJobResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ClustersApi.start_clustering_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClustersApi#start_clustering_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
