=begin
#Mencoro API

#Public API for Mencoro customers. Authenticate with an API key: `Authorization: Bearer mencoro_sk_...`.

The version of the OpenAPI document: 1.0.0
Contact: support@mencoro.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module Mencoro
  class InvitationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel a pending invitation
    # Minimum role: owner. The link already emailed to the invitee stops working. Only a pending invitation can be cancelled; one that was accepted, rejected or has expired is refused.
    # @param organization_id [String] 
    # @param invitation_id [String] 
    # @param x_mencoro_confirmation [String] 
    # @param idempotency_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [InvitationResource]
    def cancel_invitation(organization_id, invitation_id, x_mencoro_confirmation, idempotency_key, opts = {})
      data, _status_code, _headers = cancel_invitation_with_http_info(organization_id, invitation_id, x_mencoro_confirmation, idempotency_key, opts)
      data
    end

    # Cancel a pending invitation
    # Minimum role: owner. The link already emailed to the invitee stops working. Only a pending invitation can be cancelled; one that was accepted, rejected or has expired is refused.
    # @param organization_id [String] 
    # @param invitation_id [String] 
    # @param x_mencoro_confirmation [String] 
    # @param idempotency_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvitationResource, Integer, Hash)>] InvitationResource data, response status code and response headers
    def cancel_invitation_with_http_info(organization_id, invitation_id, x_mencoro_confirmation, idempotency_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvitationsApi.cancel_invitation ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling InvitationsApi.cancel_invitation"
      end
      # verify the required parameter 'invitation_id' is set
      if @api_client.config.client_side_validation && invitation_id.nil?
        fail ArgumentError, "Missing the required parameter 'invitation_id' when calling InvitationsApi.cancel_invitation"
      end
      # verify the required parameter 'x_mencoro_confirmation' is set
      if @api_client.config.client_side_validation && x_mencoro_confirmation.nil?
        fail ArgumentError, "Missing the required parameter 'x_mencoro_confirmation' when calling InvitationsApi.cancel_invitation"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling InvitationsApi.cancel_invitation"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/invitations/{invitationId}/cancel'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{invitationId}', CGI.escape(invitation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Mencoro-Confirmation'] = x_mencoro_confirmation
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvitationResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"InvitationsApi.cancel_invitation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvitationsApi#cancel_invitation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invite somebody to an organization
    # Minimum role: owner. Sends an invitation email that expires after 14 days. If the address already belongs to an active member the call succeeds and creates nothing - answered as 200 with created=false rather than 201, so a client can tell the two apart. Preview it first; the preview says which of the two will happen.
    # @param organization_id [String] 
    # @param x_mencoro_confirmation [String] 
    # @param idempotency_key [String] 
    # @param create_invitation_request [CreateInvitationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateInvitation200Response]
    def create_invitation(organization_id, x_mencoro_confirmation, idempotency_key, create_invitation_request, opts = {})
      data, _status_code, _headers = create_invitation_with_http_info(organization_id, x_mencoro_confirmation, idempotency_key, create_invitation_request, opts)
      data
    end

    # Invite somebody to an organization
    # Minimum role: owner. Sends an invitation email that expires after 14 days. If the address already belongs to an active member the call succeeds and creates nothing - answered as 200 with created&#x3D;false rather than 201, so a client can tell the two apart. Preview it first; the preview says which of the two will happen.
    # @param organization_id [String] 
    # @param x_mencoro_confirmation [String] 
    # @param idempotency_key [String] 
    # @param create_invitation_request [CreateInvitationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInvitation200Response, Integer, Hash)>] CreateInvitation200Response data, response status code and response headers
    def create_invitation_with_http_info(organization_id, x_mencoro_confirmation, idempotency_key, create_invitation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvitationsApi.create_invitation ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling InvitationsApi.create_invitation"
      end
      # verify the required parameter 'x_mencoro_confirmation' is set
      if @api_client.config.client_side_validation && x_mencoro_confirmation.nil?
        fail ArgumentError, "Missing the required parameter 'x_mencoro_confirmation' when calling InvitationsApi.create_invitation"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling InvitationsApi.create_invitation"
      end
      # verify the required parameter 'create_invitation_request' is set
      if @api_client.config.client_side_validation && create_invitation_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_invitation_request' when calling InvitationsApi.create_invitation"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/invitations'.sub('{organizationId}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Mencoro-Confirmation'] = x_mencoro_confirmation
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_invitation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInvitation200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"InvitationsApi.create_invitation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvitationsApi#create_invitation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List an organization's invitations
    # Minimum role: owner. Returns the invitations issued for this organization, in every state. The invitation token is never returned. `status` matches the stored state, so an invitation that has passed its `expiresAt` is still listed as pending until it is transitioned; compare `expiresAt` to decide. Rows are ordered by the chosen sort field, and invitations sharing the same value keep no guaranteed relative order across pages.Send `Accept: text/csv` to receive the same page as a CSV download instead of JSON: same filters, same authorization, same page window and the same maximum of 100 rows — it is this page in another format, not a bulk export, so a whole collection is still read by paging. The CSV carries no `total`, because a table whose every row is a record has nowhere to put one; read it from the JSON representation of the same request. Cells beginning with `=`, `+`, `-` or `@` are prefixed with an apostrophe so a spreadsheet treats them as text rather than running them as formulas.
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [Integer] :offset  (default to 0)
    # @option opts [String] :search Matches part of the invited email address.
    # @option opts [String] :status Absent means every state.
    # @option opts [String] :sort_by  (default to 'createdAt')
    # @option opts [String] :sort_order  (default to 'desc')
    # @return [ListInvitations200Response]
    def list_invitations(organization_id, opts = {})
      data, _status_code, _headers = list_invitations_with_http_info(organization_id, opts)
      data
    end

    # List an organization&#39;s invitations
    # Minimum role: owner. Returns the invitations issued for this organization, in every state. The invitation token is never returned. &#x60;status&#x60; matches the stored state, so an invitation that has passed its &#x60;expiresAt&#x60; is still listed as pending until it is transitioned; compare &#x60;expiresAt&#x60; to decide. Rows are ordered by the chosen sort field, and invitations sharing the same value keep no guaranteed relative order across pages.Send &#x60;Accept: text/csv&#x60; to receive the same page as a CSV download instead of JSON: same filters, same authorization, same page window and the same maximum of 100 rows — it is this page in another format, not a bulk export, so a whole collection is still read by paging. The CSV carries no &#x60;total&#x60;, because a table whose every row is a record has nowhere to put one; read it from the JSON representation of the same request. Cells beginning with &#x60;&#x3D;&#x60;, &#x60;+&#x60;, &#x60;-&#x60; or &#x60;@&#x60; are prefixed with an apostrophe so a spreadsheet treats them as text rather than running them as formulas.
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [Integer] :offset  (default to 0)
    # @option opts [String] :search Matches part of the invited email address.
    # @option opts [String] :status Absent means every state.
    # @option opts [String] :sort_by  (default to 'createdAt')
    # @option opts [String] :sort_order  (default to 'desc')
    # @return [Array<(ListInvitations200Response, Integer, Hash)>] ListInvitations200Response data, response status code and response headers
    def list_invitations_with_http_info(organization_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvitationsApi.list_invitations ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling InvitationsApi.list_invitations"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InvitationsApi.list_invitations, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InvitationsApi.list_invitations, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling InvitationsApi.list_invitations, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 100
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling InvitationsApi.list_invitations, the character length must be smaller than or equal to 100.'
      end

      allowable_values = ["pending", "accepted", "rejected", "expired", "cancelled"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["createdAt", "expiresAt"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/invitations'.sub('{organizationId}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/csv']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListInvitations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"InvitationsApi.list_invitations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvitationsApi#list_invitations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
