=begin
#Mencoro API

#Public API for Mencoro customers. Authenticate with an API key: `Authorization: Bearer mencoro_sk_...`.

The version of the OpenAPI document: 1.0.0
Contact: support@mencoro.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module Mencoro
  class MembersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Change a member role
    # Minimum role: owner. The role of a suspended member cannot be changed, and the last active owner cannot be demoted. Preview it first: the confirmation is bound to the number of active owners, so another owner being suspended in between invalidates it rather than stranding the organization.
    # @param organization_id [String] 
    # @param member_id [String] 
    # @param x_mencoro_confirmation [String] 
    # @param idempotency_key [String] 
    # @param change_member_role_request [ChangeMemberRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MemberResource]
    def change_member_role(organization_id, member_id, x_mencoro_confirmation, idempotency_key, change_member_role_request, opts = {})
      data, _status_code, _headers = change_member_role_with_http_info(organization_id, member_id, x_mencoro_confirmation, idempotency_key, change_member_role_request, opts)
      data
    end

    # Change a member role
    # Minimum role: owner. The role of a suspended member cannot be changed, and the last active owner cannot be demoted. Preview it first: the confirmation is bound to the number of active owners, so another owner being suspended in between invalidates it rather than stranding the organization.
    # @param organization_id [String] 
    # @param member_id [String] 
    # @param x_mencoro_confirmation [String] 
    # @param idempotency_key [String] 
    # @param change_member_role_request [ChangeMemberRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberResource, Integer, Hash)>] MemberResource data, response status code and response headers
    def change_member_role_with_http_info(organization_id, member_id, x_mencoro_confirmation, idempotency_key, change_member_role_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MembersApi.change_member_role ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling MembersApi.change_member_role"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling MembersApi.change_member_role"
      end
      # verify the required parameter 'x_mencoro_confirmation' is set
      if @api_client.config.client_side_validation && x_mencoro_confirmation.nil?
        fail ArgumentError, "Missing the required parameter 'x_mencoro_confirmation' when calling MembersApi.change_member_role"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling MembersApi.change_member_role"
      end
      # verify the required parameter 'change_member_role_request' is set
      if @api_client.config.client_side_validation && change_member_role_request.nil?
        fail ArgumentError, "Missing the required parameter 'change_member_role_request' when calling MembersApi.change_member_role"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/members/{memberId}'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{memberId}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Mencoro-Confirmation'] = x_mencoro_confirmation
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(change_member_role_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MembersApi.change_member_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MembersApi#change_member_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one organization membership
    # Minimum role: owner — the same floor the members listing enforces, because a caller who can page the roster has already seen this record. Returns the facts of one membership: its role, whether it is active or suspended, and when it was joined. It does NOT describe the person behind it: no name, no email address, no phone number and no profile image, so a membership id can never be turned into a contact lookup. The membership is read from PostgreSQL, the same row at the same freshness the listing publishes. A membership belonging to another organization answers 404, exactly as an unknown or malformed id does, so the API never confirms that an inaccessible membership exists; the one 403 is a key without the read capability. The response carries no organizationId — it is the one in the path — and no creation timestamp; joinedAt is the membership fact. No query parameters are accepted.
    # @param organization_id [String] 
    # @param member_id [String] The membership id, not the user id. Must belong to the organization in the path.
    # @param [Hash] opts the optional parameters
    # @return [MemberResource]
    def get_member(organization_id, member_id, opts = {})
      data, _status_code, _headers = get_member_with_http_info(organization_id, member_id, opts)
      data
    end

    # Get one organization membership
    # Minimum role: owner — the same floor the members listing enforces, because a caller who can page the roster has already seen this record. Returns the facts of one membership: its role, whether it is active or suspended, and when it was joined. It does NOT describe the person behind it: no name, no email address, no phone number and no profile image, so a membership id can never be turned into a contact lookup. The membership is read from PostgreSQL, the same row at the same freshness the listing publishes. A membership belonging to another organization answers 404, exactly as an unknown or malformed id does, so the API never confirms that an inaccessible membership exists; the one 403 is a key without the read capability. The response carries no organizationId — it is the one in the path — and no creation timestamp; joinedAt is the membership fact. No query parameters are accepted.
    # @param organization_id [String] 
    # @param member_id [String] The membership id, not the user id. Must belong to the organization in the path.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberResource, Integer, Hash)>] MemberResource data, response status code and response headers
    def get_member_with_http_info(organization_id, member_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MembersApi.get_member ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling MembersApi.get_member"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling MembersApi.get_member"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/members/{memberId}'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{memberId}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MembersApi.get_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MembersApi#get_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List an organization's members
    # Minimum role: owner. The application exposes this roster twice and the two disagree — its member screen shows it to any viewer, while its non-BFF endpoint requires an owner — so the published API takes the stricter of the two and requires an owner. A membership describes the membership, not the person: names and email addresses are never returned here, and there is no search parameter, because both would turn the roster into a contact export. Omitting \"status\" returns active and suspended memberships alike. Sorting by \"role\" is alphabetical on the role name, not by seniority.Send `Accept: text/csv` to receive the same page as a CSV download instead of JSON: same filters, same authorization, same page window and the same maximum of 100 rows — it is this page in another format, not a bulk export, so a whole collection is still read by paging. The CSV carries no `total`, because a table whose every row is a record has nowhere to put one; read it from the JSON representation of the same request. Cells beginning with `=`, `+`, `-` or `@` are prefixed with an apostrophe so a spreadsheet treats them as text rather than running them as formulas.
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [Integer] :offset  (default to 0)
    # @option opts [String] :status Absent means both states.
    # @option opts [String] :sort_by  (default to 'joinedAt')
    # @option opts [String] :sort_order  (default to 'desc')
    # @return [ListMembers200Response]
    def list_members(organization_id, opts = {})
      data, _status_code, _headers = list_members_with_http_info(organization_id, opts)
      data
    end

    # List an organization&#39;s members
    # Minimum role: owner. The application exposes this roster twice and the two disagree — its member screen shows it to any viewer, while its non-BFF endpoint requires an owner — so the published API takes the stricter of the two and requires an owner. A membership describes the membership, not the person: names and email addresses are never returned here, and there is no search parameter, because both would turn the roster into a contact export. Omitting \&quot;status\&quot; returns active and suspended memberships alike. Sorting by \&quot;role\&quot; is alphabetical on the role name, not by seniority.Send &#x60;Accept: text/csv&#x60; to receive the same page as a CSV download instead of JSON: same filters, same authorization, same page window and the same maximum of 100 rows — it is this page in another format, not a bulk export, so a whole collection is still read by paging. The CSV carries no &#x60;total&#x60;, because a table whose every row is a record has nowhere to put one; read it from the JSON representation of the same request. Cells beginning with &#x60;&#x3D;&#x60;, &#x60;+&#x60;, &#x60;-&#x60; or &#x60;@&#x60; are prefixed with an apostrophe so a spreadsheet treats them as text rather than running them as formulas.
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [Integer] :offset  (default to 0)
    # @option opts [String] :status Absent means both states.
    # @option opts [String] :sort_by  (default to 'joinedAt')
    # @option opts [String] :sort_order  (default to 'desc')
    # @return [Array<(ListMembers200Response, Integer, Hash)>] ListMembers200Response data, response status code and response headers
    def list_members_with_http_info(organization_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MembersApi.list_members ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling MembersApi.list_members"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MembersApi.list_members, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MembersApi.list_members, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling MembersApi.list_members, must be greater than or equal to 0.'
      end

      allowable_values = ["active", "suspended"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["joinedAt", "role"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/members'.sub('{organizationId}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/csv']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListMembers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MembersApi.list_members",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MembersApi#list_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reactivate a suspended member
    # Minimum role: owner. The member keeps the role they had and regains access on their very next request. A member who is already active cannot be reactivated.
    # @param organization_id [String] 
    # @param member_id [String] 
    # @param x_mencoro_confirmation [String] 
    # @param idempotency_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [MemberResource]
    def reactivate_member(organization_id, member_id, x_mencoro_confirmation, idempotency_key, opts = {})
      data, _status_code, _headers = reactivate_member_with_http_info(organization_id, member_id, x_mencoro_confirmation, idempotency_key, opts)
      data
    end

    # Reactivate a suspended member
    # Minimum role: owner. The member keeps the role they had and regains access on their very next request. A member who is already active cannot be reactivated.
    # @param organization_id [String] 
    # @param member_id [String] 
    # @param x_mencoro_confirmation [String] 
    # @param idempotency_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberResource, Integer, Hash)>] MemberResource data, response status code and response headers
    def reactivate_member_with_http_info(organization_id, member_id, x_mencoro_confirmation, idempotency_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MembersApi.reactivate_member ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling MembersApi.reactivate_member"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling MembersApi.reactivate_member"
      end
      # verify the required parameter 'x_mencoro_confirmation' is set
      if @api_client.config.client_side_validation && x_mencoro_confirmation.nil?
        fail ArgumentError, "Missing the required parameter 'x_mencoro_confirmation' when calling MembersApi.reactivate_member"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling MembersApi.reactivate_member"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/members/{memberId}/reactivate'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{memberId}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Mencoro-Confirmation'] = x_mencoro_confirmation
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MembersApi.reactivate_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MembersApi#reactivate_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Suspend a member
    # Minimum role: owner. The member loses access on their very next request, including through any API key they own that is scoped to this organization. The last active owner cannot be suspended.
    # @param organization_id [String] 
    # @param member_id [String] 
    # @param x_mencoro_confirmation [String] 
    # @param idempotency_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [MemberResource]
    def suspend_member(organization_id, member_id, x_mencoro_confirmation, idempotency_key, opts = {})
      data, _status_code, _headers = suspend_member_with_http_info(organization_id, member_id, x_mencoro_confirmation, idempotency_key, opts)
      data
    end

    # Suspend a member
    # Minimum role: owner. The member loses access on their very next request, including through any API key they own that is scoped to this organization. The last active owner cannot be suspended.
    # @param organization_id [String] 
    # @param member_id [String] 
    # @param x_mencoro_confirmation [String] 
    # @param idempotency_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberResource, Integer, Hash)>] MemberResource data, response status code and response headers
    def suspend_member_with_http_info(organization_id, member_id, x_mencoro_confirmation, idempotency_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MembersApi.suspend_member ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling MembersApi.suspend_member"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling MembersApi.suspend_member"
      end
      # verify the required parameter 'x_mencoro_confirmation' is set
      if @api_client.config.client_side_validation && x_mencoro_confirmation.nil?
        fail ArgumentError, "Missing the required parameter 'x_mencoro_confirmation' when calling MembersApi.suspend_member"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling MembersApi.suspend_member"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/members/{memberId}/suspend'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{memberId}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Mencoro-Confirmation'] = x_mencoro_confirmation
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MembersApi.suspend_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MembersApi#suspend_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
