=begin
#Mencoro API

#Public API for Mencoro customers. Authenticate with an API key: `Authorization: Bearer mencoro_sk_...`.

The version of the OpenAPI document: 1.0.0
Contact: support@mencoro.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module Mencoro
  class OrganizationOperationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Preview an organization operation and obtain a confirmation
    # Organization, member and invitation changes need two calls. This one reports the concrete changes, the side effects, the warnings and the conditions, and returns a confirmation valid for five minutes. Send it back in the X-Mencoro-Confirmation header, together with an Idempotency-Key, on the call that performs the operation. Previewing has no effects of any kind.
    # @param preview_organization_operation_request [PreviewOrganizationOperationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PreviewOrganizationOperation200Response]
    def preview_organization_operation(preview_organization_operation_request, opts = {})
      data, _status_code, _headers = preview_organization_operation_with_http_info(preview_organization_operation_request, opts)
      data
    end

    # Preview an organization operation and obtain a confirmation
    # Organization, member and invitation changes need two calls. This one reports the concrete changes, the side effects, the warnings and the conditions, and returns a confirmation valid for five minutes. Send it back in the X-Mencoro-Confirmation header, together with an Idempotency-Key, on the call that performs the operation. Previewing has no effects of any kind.
    # @param preview_organization_operation_request [PreviewOrganizationOperationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PreviewOrganizationOperation200Response, Integer, Hash)>] PreviewOrganizationOperation200Response data, response status code and response headers
    def preview_organization_operation_with_http_info(preview_organization_operation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationOperationsApi.preview_organization_operation ...'
      end
      # verify the required parameter 'preview_organization_operation_request' is set
      if @api_client.config.client_side_validation && preview_organization_operation_request.nil?
        fail ArgumentError, "Missing the required parameter 'preview_organization_operation_request' when calling OrganizationOperationsApi.preview_organization_operation"
      end
      # resource path
      local_var_path = '/api/v1/organization-operation-previews'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(preview_organization_operation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PreviewOrganizationOperation200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"OrganizationOperationsApi.preview_organization_operation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationOperationsApi#preview_organization_operation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
