=begin
#Mencoro API

#Public API for Mencoro customers. Authenticate with an API key: `Authorization: Bearer mencoro_sk_...`.

The version of the OpenAPI document: 1.0.0
Contact: support@mencoro.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module Mencoro
  class ProjectsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Archive a project
    # Minimum role: manager, in an active organization. Requires the \"write\" capability. Archiving stops a project from being modified: its name, brand profile and competitors are refused with 409 until it is restored. What is NOT done: nothing is deleted. Tracked queries, captured responses, mentions and every metric already collected stay exactly as they are, and restoreProject brings the project back with all of it. Archiving is recorded as done by the caller, not by an organization cascade, so restoring the organization later will not restore this project — restore it explicitly. This endpoint takes no body, and one carrying fields is refused. Archiving an already archived project answers 409, unless the call is a retry carrying the key that archived it. Send an Idempotency-Key; a retry with the same key returns the recorded answer.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectDetailResource]
    def archive_project(organization_id, project_id, idempotency_key, opts = {})
      data, _status_code, _headers = archive_project_with_http_info(organization_id, project_id, idempotency_key, opts)
      data
    end

    # Archive a project
    # Minimum role: manager, in an active organization. Requires the \&quot;write\&quot; capability. Archiving stops a project from being modified: its name, brand profile and competitors are refused with 409 until it is restored. What is NOT done: nothing is deleted. Tracked queries, captured responses, mentions and every metric already collected stay exactly as they are, and restoreProject brings the project back with all of it. Archiving is recorded as done by the caller, not by an organization cascade, so restoring the organization later will not restore this project — restore it explicitly. This endpoint takes no body, and one carrying fields is refused. Archiving an already archived project answers 409, unless the call is a retry carrying the key that archived it. Send an Idempotency-Key; a retry with the same key returns the recorded answer.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectDetailResource, Integer, Hash)>] ProjectDetailResource data, response status code and response headers
    def archive_project_with_http_info(organization_id, project_id, idempotency_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.archive_project ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ProjectsApi.archive_project"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.archive_project"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling ProjectsApi.archive_project"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 255
        fail ArgumentError, 'invalid value for "idempotency_key" when calling ProjectsApi.archive_project, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && idempotency_key.to_s.length < 8
        fail ArgumentError, 'invalid value for "idempotency_key" when calling ProjectsApi.archive_project, the character length must be greater than or equal to 8.'
      end

      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/archive'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectDetailResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ProjectsApi.archive_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#archive_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a competitor to a project
    # Minimum role: manager, on an active organization and a project that is not archived. Creates one competitor with the domains and brand names its mentions are matched against. Both lists are required and neither may be empty: a competitor that matches on nothing would never be found in an answer. A domain may be sent as a full URL or as a bare host; a URL is reduced to its host and a leading \"www.\" is dropped. Duplicates are collapsed. The id is assigned by the server and cannot be chosen, and neither the auto-generated brand description nor the internal brand monitoring profile id can be set — sending either is refused as an unknown field. Adding a competitor does NOT re-match the answers already captured: it applies to checks from here on. A project whose brand monitoring profile has not been created yet answers 404. An Idempotency-Key header is required.
    # @param organization_id [String] 
    # @param project_id [String] Must belong to the organization in the path.
    # @param idempotency_key [String] Unique per attempt. Without it a lost response cannot be retried without risking a second competitor.
    # @param create_competitor_request [CreateCompetitorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CompetitorResource]
    def create_competitor(organization_id, project_id, idempotency_key, create_competitor_request, opts = {})
      data, _status_code, _headers = create_competitor_with_http_info(organization_id, project_id, idempotency_key, create_competitor_request, opts)
      data
    end

    # Add a competitor to a project
    # Minimum role: manager, on an active organization and a project that is not archived. Creates one competitor with the domains and brand names its mentions are matched against. Both lists are required and neither may be empty: a competitor that matches on nothing would never be found in an answer. A domain may be sent as a full URL or as a bare host; a URL is reduced to its host and a leading \&quot;www.\&quot; is dropped. Duplicates are collapsed. The id is assigned by the server and cannot be chosen, and neither the auto-generated brand description nor the internal brand monitoring profile id can be set — sending either is refused as an unknown field. Adding a competitor does NOT re-match the answers already captured: it applies to checks from here on. A project whose brand monitoring profile has not been created yet answers 404. An Idempotency-Key header is required.
    # @param organization_id [String] 
    # @param project_id [String] Must belong to the organization in the path.
    # @param idempotency_key [String] Unique per attempt. Without it a lost response cannot be retried without risking a second competitor.
    # @param create_competitor_request [CreateCompetitorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompetitorResource, Integer, Hash)>] CompetitorResource data, response status code and response headers
    def create_competitor_with_http_info(organization_id, project_id, idempotency_key, create_competitor_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.create_competitor ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ProjectsApi.create_competitor"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.create_competitor"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling ProjectsApi.create_competitor"
      end
      # verify the required parameter 'create_competitor_request' is set
      if @api_client.config.client_side_validation && create_competitor_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_competitor_request' when calling ProjectsApi.create_competitor"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/competitors'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_competitor_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CompetitorResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ProjectsApi.create_competitor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#create_competitor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a project and the brand monitoring profile its checks run against
    # Minimum role: manager, in an active organization. Requires the \"write\" capability. Creates the project, the brand monitoring profile holding the domains and brand names to watch, and one competitor per entry of `competitors`, in a single call. The project id is minted by the server; a caller-supplied id is rejected as an unknown field. What is NOT done: no tracked queries are created, no check is run and no scraping is scheduled — a new project has nothing collected against it until tracked queries are added. Each website entry may be a full URL or a bare domain: a URL is reduced to its host with any leading \"www.\" removed, so \"https://www.acme.com/pricing\" is stored as \"acme.com\". Duplicate domains and duplicate brand names are collapsed, exactly as the stored value objects do. Send an Idempotency-Key: a retry with the same key and the same body returns this same project instead of creating a second one.
    # @param organization_id [String] 
    # @param idempotency_key [String] 
    # @param create_project_request [CreateProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectDetailResource]
    def create_project(organization_id, idempotency_key, create_project_request, opts = {})
      data, _status_code, _headers = create_project_with_http_info(organization_id, idempotency_key, create_project_request, opts)
      data
    end

    # Create a project and the brand monitoring profile its checks run against
    # Minimum role: manager, in an active organization. Requires the \&quot;write\&quot; capability. Creates the project, the brand monitoring profile holding the domains and brand names to watch, and one competitor per entry of &#x60;competitors&#x60;, in a single call. The project id is minted by the server; a caller-supplied id is rejected as an unknown field. What is NOT done: no tracked queries are created, no check is run and no scraping is scheduled — a new project has nothing collected against it until tracked queries are added. Each website entry may be a full URL or a bare domain: a URL is reduced to its host with any leading \&quot;www.\&quot; removed, so \&quot;https://www.acme.com/pricing\&quot; is stored as \&quot;acme.com\&quot;. Duplicate domains and duplicate brand names are collapsed, exactly as the stored value objects do. Send an Idempotency-Key: a retry with the same key and the same body returns this same project instead of creating a second one.
    # @param organization_id [String] 
    # @param idempotency_key [String] 
    # @param create_project_request [CreateProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectDetailResource, Integer, Hash)>] ProjectDetailResource data, response status code and response headers
    def create_project_with_http_info(organization_id, idempotency_key, create_project_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.create_project ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ProjectsApi.create_project"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling ProjectsApi.create_project"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 255
        fail ArgumentError, 'invalid value for "idempotency_key" when calling ProjectsApi.create_project, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && idempotency_key.to_s.length < 8
        fail ArgumentError, 'invalid value for "idempotency_key" when calling ProjectsApi.create_project, the character length must be greater than or equal to 8.'
      end

      # verify the required parameter 'create_project_request' is set
      if @api_client.config.client_side_validation && create_project_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_project_request' when calling ProjectsApi.create_project"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects'.sub('{organizationId}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_project_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectDetailResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ProjectsApi.create_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#create_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a competitor from a project
    # Minimum role: manager, on an active organization and a project that is not archived. Removes the competitor and, asynchronously, every stored mention, search result and shopping result attributed to it, in AI answers and search captures already taken. This is permanent and it changes historical analytics: share of voice and competitor co-occurrence recomputed after the cascade will not include it. A 200 means the competitor is gone; the cascade runs on the event bus and finishes shortly afterwards. The response body is the competitor as it was immediately before removal, because it can no longer be read back. The request takes no body, and sending one is refused. A competitor belonging to another project answers 404, the same answer an unknown id gets. An Idempotency-Key header is required.
    # @param organization_id [String] 
    # @param project_id [String] Must belong to the organization in the path.
    # @param competitor_id [String] Must belong to the project in the path.
    # @param idempotency_key [String] Unique per attempt. A retry carrying the same key is answered from the record instead of running again.
    # @param [Hash] opts the optional parameters
    # @return [CompetitorResource]
    def delete_competitor(organization_id, project_id, competitor_id, idempotency_key, opts = {})
      data, _status_code, _headers = delete_competitor_with_http_info(organization_id, project_id, competitor_id, idempotency_key, opts)
      data
    end

    # Remove a competitor from a project
    # Minimum role: manager, on an active organization and a project that is not archived. Removes the competitor and, asynchronously, every stored mention, search result and shopping result attributed to it, in AI answers and search captures already taken. This is permanent and it changes historical analytics: share of voice and competitor co-occurrence recomputed after the cascade will not include it. A 200 means the competitor is gone; the cascade runs on the event bus and finishes shortly afterwards. The response body is the competitor as it was immediately before removal, because it can no longer be read back. The request takes no body, and sending one is refused. A competitor belonging to another project answers 404, the same answer an unknown id gets. An Idempotency-Key header is required.
    # @param organization_id [String] 
    # @param project_id [String] Must belong to the organization in the path.
    # @param competitor_id [String] Must belong to the project in the path.
    # @param idempotency_key [String] Unique per attempt. A retry carrying the same key is answered from the record instead of running again.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompetitorResource, Integer, Hash)>] CompetitorResource data, response status code and response headers
    def delete_competitor_with_http_info(organization_id, project_id, competitor_id, idempotency_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.delete_competitor ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ProjectsApi.delete_competitor"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.delete_competitor"
      end
      # verify the required parameter 'competitor_id' is set
      if @api_client.config.client_side_validation && competitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'competitor_id' when calling ProjectsApi.delete_competitor"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling ProjectsApi.delete_competitor"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/competitors/{competitorId}'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s)).sub('{competitorId}', CGI.escape(competitor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompetitorResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ProjectsApi.delete_competitor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#delete_competitor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a project's brand monitoring profile
    # Minimum role: viewer. The brand identity every check of this project is matched against: the tracked brand terms, the website domains, and the generated description of what the brand does. A null description means it has not been generated yet — the generator runs asynchronously after the names or domains change — which is not the same as an empty one. An empty brandNames or websiteDomains array means the profile exists and names nothing; a project whose profile has not been created at all answers 404.
    # @param organization_id [String] 
    # @param project_id [String] Must belong to the organization in the path.
    # @param [Hash] opts the optional parameters
    # @return [BrandProfileResource]
    def get_brand_profile(organization_id, project_id, opts = {})
      data, _status_code, _headers = get_brand_profile_with_http_info(organization_id, project_id, opts)
      data
    end

    # Get a project&#39;s brand monitoring profile
    # Minimum role: viewer. The brand identity every check of this project is matched against: the tracked brand terms, the website domains, and the generated description of what the brand does. A null description means it has not been generated yet — the generator runs asynchronously after the names or domains change — which is not the same as an empty one. An empty brandNames or websiteDomains array means the profile exists and names nothing; a project whose profile has not been created at all answers 404.
    # @param organization_id [String] 
    # @param project_id [String] Must belong to the organization in the path.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrandProfileResource, Integer, Hash)>] BrandProfileResource data, response status code and response headers
    def get_brand_profile_with_http_info(organization_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.get_brand_profile ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ProjectsApi.get_brand_profile"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.get_brand_profile"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/brand-profile'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BrandProfileResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ProjectsApi.get_brand_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#get_brand_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a project and its brand monitoring configuration
    # Minimum role: viewer. Returns the project together with the domains and brand names it is monitored for and the competitors it is measured against. A project that exists but belongs to another organization answers 404, never 403. A project that has been created but not yet configured for brand monitoring reports empty `websiteDomains`, `brandNames` and `competitors`. Headline metrics are not part of this response: use `listProjects` for the per-project figures, or `getProjectMetrics` for a window.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectDetailResource]
    def get_project(organization_id, project_id, opts = {})
      data, _status_code, _headers = get_project_with_http_info(organization_id, project_id, opts)
      data
    end

    # Get a project and its brand monitoring configuration
    # Minimum role: viewer. Returns the project together with the domains and brand names it is monitored for and the competitors it is measured against. A project that exists but belongs to another organization answers 404, never 403. A project that has been created but not yet configured for brand monitoring reports empty &#x60;websiteDomains&#x60;, &#x60;brandNames&#x60; and &#x60;competitors&#x60;. Headline metrics are not part of this response: use &#x60;listProjects&#x60; for the per-project figures, or &#x60;getProjectMetrics&#x60; for a window.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectDetailResource, Integer, Hash)>] ProjectDetailResource data, response status code and response headers
    def get_project_with_http_info(organization_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.get_project ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ProjectsApi.get_project"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.get_project"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectDetailResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ProjectsApi.get_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#get_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the competitors tracked by a project
    # Minimum role: viewer. The competitors configured on the project, one page at a time, with the website domains and brand names each one is matched against. `total` counts every competitor of the project, not the size of this page, so a project with more than `limit` competitors needs `offset` to read them all. Ordering is by id, which for a UUID v7 is roughly creation order, and `sortOrder` chooses its direction; there is no other sort key and no text search, and sending `sortBy` or `search` is rejected rather than ignored. A project whose brand monitoring profile has not been created yet answers 200 with an empty collection, which means \"nothing configured yet\" rather than \"no competitors found\". Internal fields the pipeline writes — the auto-generated brand description used by the mention classifier, and the internal brand monitoring profile id — are not part of this contract.Send `Accept: text/csv` to receive the same page as a CSV download instead of JSON: same filters, same authorization, same page window and the same maximum of 100 rows — it is this page in another format, not a bulk export, so a whole collection is still read by paging. The CSV carries no `total`, because a table whose every row is a record has nowhere to put one; read it from the JSON representation of the same request. A list-valued field is joined into one cell with `; ` as a display projection — parse the JSON if you need the structure. Cells beginning with `=`, `+`, `-` or `@` are prefixed with an apostrophe so a spreadsheet treats them as text rather than running them as formulas.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size. A larger value is rejected, never silently reduced. (default to 20)
    # @option opts [Integer] :offset Number of competitors to skip before the page starts. (default to 0)
    # @option opts [String] :sort_order Direction of the id ordering. An unknown value is rejected, not replaced by the default. (default to 'asc')
    # @return [ListCompetitors200Response]
    def list_competitors(organization_id, project_id, opts = {})
      data, _status_code, _headers = list_competitors_with_http_info(organization_id, project_id, opts)
      data
    end

    # List the competitors tracked by a project
    # Minimum role: viewer. The competitors configured on the project, one page at a time, with the website domains and brand names each one is matched against. &#x60;total&#x60; counts every competitor of the project, not the size of this page, so a project with more than &#x60;limit&#x60; competitors needs &#x60;offset&#x60; to read them all. Ordering is by id, which for a UUID v7 is roughly creation order, and &#x60;sortOrder&#x60; chooses its direction; there is no other sort key and no text search, and sending &#x60;sortBy&#x60; or &#x60;search&#x60; is rejected rather than ignored. A project whose brand monitoring profile has not been created yet answers 200 with an empty collection, which means \&quot;nothing configured yet\&quot; rather than \&quot;no competitors found\&quot;. Internal fields the pipeline writes — the auto-generated brand description used by the mention classifier, and the internal brand monitoring profile id — are not part of this contract.Send &#x60;Accept: text/csv&#x60; to receive the same page as a CSV download instead of JSON: same filters, same authorization, same page window and the same maximum of 100 rows — it is this page in another format, not a bulk export, so a whole collection is still read by paging. The CSV carries no &#x60;total&#x60;, because a table whose every row is a record has nowhere to put one; read it from the JSON representation of the same request. A list-valued field is joined into one cell with &#x60;; &#x60; as a display projection — parse the JSON if you need the structure. Cells beginning with &#x60;&#x3D;&#x60;, &#x60;+&#x60;, &#x60;-&#x60; or &#x60;@&#x60; are prefixed with an apostrophe so a spreadsheet treats them as text rather than running them as formulas.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size. A larger value is rejected, never silently reduced. (default to 20)
    # @option opts [Integer] :offset Number of competitors to skip before the page starts. (default to 0)
    # @option opts [String] :sort_order Direction of the id ordering. An unknown value is rejected, not replaced by the default. (default to 'asc')
    # @return [Array<(ListCompetitors200Response, Integer, Hash)>] ListCompetitors200Response data, response status code and response headers
    def list_competitors_with_http_info(organization_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.list_competitors ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ProjectsApi.list_competitors"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.list_competitors"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ProjectsApi.list_competitors, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ProjectsApi.list_competitors, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ProjectsApi.list_competitors, must be greater than or equal to 0.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/competitors'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/csv']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCompetitors200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ProjectsApi.list_competitors",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#list_competitors\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List an organization's projects
    # Minimum role: viewer. Metrics come from the same read model the application uses, so the figures match what the product shows. A null metric means \"not known yet\", never zero.Send `Accept: text/csv` to receive the same page as a CSV download instead of JSON: same filters, same authorization, same page window and the same maximum of 100 rows — it is this page in another format, not a bulk export, so a whole collection is still read by paging. The CSV carries no `total`, because a table whose every row is a record has nowhere to put one; read it from the JSON representation of the same request. A list-valued field is joined into one cell with `; ` as a display projection — parse the JSON if you need the structure. Cells beginning with `=`, `+`, `-` or `@` are prefixed with an apostrophe so a spreadsheet treats them as text rather than running them as formulas.
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size. A larger value is rejected, never silently reduced. (default to 20)
    # @option opts [Integer] :offset Rows to skip before the page starts. Page by advancing it in steps of &#x60;limit&#x60; until it reaches &#x60;total&#x60;. (default to 0)
    # @option opts [String] :search 
    # @option opts [String] :status 
    # @option opts [String] :sort_by  (default to 'createdAt')
    # @option opts [String] :sort_order  (default to 'desc')
    # @return [ListProjects200Response]
    def list_projects(organization_id, opts = {})
      data, _status_code, _headers = list_projects_with_http_info(organization_id, opts)
      data
    end

    # List an organization&#39;s projects
    # Minimum role: viewer. Metrics come from the same read model the application uses, so the figures match what the product shows. A null metric means \&quot;not known yet\&quot;, never zero.Send &#x60;Accept: text/csv&#x60; to receive the same page as a CSV download instead of JSON: same filters, same authorization, same page window and the same maximum of 100 rows — it is this page in another format, not a bulk export, so a whole collection is still read by paging. The CSV carries no &#x60;total&#x60;, because a table whose every row is a record has nowhere to put one; read it from the JSON representation of the same request. A list-valued field is joined into one cell with &#x60;; &#x60; as a display projection — parse the JSON if you need the structure. Cells beginning with &#x60;&#x3D;&#x60;, &#x60;+&#x60;, &#x60;-&#x60; or &#x60;@&#x60; are prefixed with an apostrophe so a spreadsheet treats them as text rather than running them as formulas.
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size. A larger value is rejected, never silently reduced. (default to 20)
    # @option opts [Integer] :offset Rows to skip before the page starts. Page by advancing it in steps of &#x60;limit&#x60; until it reaches &#x60;total&#x60;. (default to 0)
    # @option opts [String] :search 
    # @option opts [String] :status 
    # @option opts [String] :sort_by  (default to 'createdAt')
    # @option opts [String] :sort_order  (default to 'desc')
    # @return [Array<(ListProjects200Response, Integer, Hash)>] ListProjects200Response data, response status code and response headers
    def list_projects_with_http_info(organization_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.list_projects ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ProjectsApi.list_projects"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ProjectsApi.list_projects, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ProjectsApi.list_projects, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ProjectsApi.list_projects, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 100
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling ProjectsApi.list_projects, the character length must be smaller than or equal to 100.'
      end

      allowable_values = ["active", "archived"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["createdAt", "name", "trackedQueryCount", "avgSerpPosition", "avgShoppingPosition", "avgMentionPosition", "avgLinkPosition", "mentionRate", "serpRate", "shoppingRate", "positivityIndex", "shareOfVoice", "serpPositionStability", "shoppingPositionStability", "lastRankDetectedAt"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects'.sub('{organizationId}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/csv']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListProjects200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ProjectsApi.list_projects",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#list_projects\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the keyword clusters of a project
    # Minimum role: viewer. The keyword clusters configured on a project, one page at a time. Each cluster id is exactly what the analytics operations accept in their queryClusterIds filter — pass the id, never the name. Names are unique within a project and are stored lower-cased, so the listing is ordered by name with no ties and paging over it neither repeats nor skips a cluster. `total` counts every cluster in the project, not the size of the page returned. A cluster carries no metrics of its own and no membership count: for the tracked queries inside a cluster, filter the tracked-query operations by its id. An empty list means the project has no clusters configured, which is not an error and is not a statement about whether any data has been collected.Send `Accept: text/csv` to receive the same page as a CSV download instead of JSON: same filters, same authorization, same page window and the same maximum of 100 rows — it is this page in another format, not a bulk export, so a whole collection is still read by paging. The CSV carries no `total`, because a table whose every row is a record has nowhere to put one; read it from the JSON representation of the same request. A list-valued field is joined into one cell with `; ` as a display projection — parse the JSON if you need the structure. Cells beginning with `=`, `+`, `-` or `@` are prefixed with an apostrophe so a spreadsheet treats them as text rather than running them as formulas.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size. A larger value is rejected, never silently reduced. (default to 20)
    # @option opts [Integer] :offset Number of clusters to skip before the page starts. (default to 0)
    # @option opts [String] :sort_order Direction of the name ordering. An unknown value is rejected, not replaced by the default. (default to 'asc')
    # @return [ListQueryClusters200Response]
    def list_query_clusters(organization_id, project_id, opts = {})
      data, _status_code, _headers = list_query_clusters_with_http_info(organization_id, project_id, opts)
      data
    end

    # List the keyword clusters of a project
    # Minimum role: viewer. The keyword clusters configured on a project, one page at a time. Each cluster id is exactly what the analytics operations accept in their queryClusterIds filter — pass the id, never the name. Names are unique within a project and are stored lower-cased, so the listing is ordered by name with no ties and paging over it neither repeats nor skips a cluster. &#x60;total&#x60; counts every cluster in the project, not the size of the page returned. A cluster carries no metrics of its own and no membership count: for the tracked queries inside a cluster, filter the tracked-query operations by its id. An empty list means the project has no clusters configured, which is not an error and is not a statement about whether any data has been collected.Send &#x60;Accept: text/csv&#x60; to receive the same page as a CSV download instead of JSON: same filters, same authorization, same page window and the same maximum of 100 rows — it is this page in another format, not a bulk export, so a whole collection is still read by paging. The CSV carries no &#x60;total&#x60;, because a table whose every row is a record has nowhere to put one; read it from the JSON representation of the same request. A list-valued field is joined into one cell with &#x60;; &#x60; as a display projection — parse the JSON if you need the structure. Cells beginning with &#x60;&#x3D;&#x60;, &#x60;+&#x60;, &#x60;-&#x60; or &#x60;@&#x60; are prefixed with an apostrophe so a spreadsheet treats them as text rather than running them as formulas.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size. A larger value is rejected, never silently reduced. (default to 20)
    # @option opts [Integer] :offset Number of clusters to skip before the page starts. (default to 0)
    # @option opts [String] :sort_order Direction of the name ordering. An unknown value is rejected, not replaced by the default. (default to 'asc')
    # @return [Array<(ListQueryClusters200Response, Integer, Hash)>] ListQueryClusters200Response data, response status code and response headers
    def list_query_clusters_with_http_info(organization_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.list_query_clusters ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ProjectsApi.list_query_clusters"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.list_query_clusters"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ProjectsApi.list_query_clusters, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ProjectsApi.list_query_clusters, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ProjectsApi.list_query_clusters, must be greater than or equal to 0.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/clusters'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/csv']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListQueryClusters200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ProjectsApi.list_query_clusters",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#list_query_clusters\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restore an archived project
    # Minimum role: manager, in an active organization. Requires the \"write\" capability. Brings an archived project back to active, with every tracked query, capture and metric it had when it was archived. What is NOT done: no check is run and no scraping is scheduled as a result — collection resumes on the project's own schedule. Restoring clears the record of who archived the project, so a project restored here is treated as an ordinary active project by any later organization archive. A project archived because its organization was archived cannot be restored on its own: restore the organization, which restores them all. Restoring a project that is already active answers 409, unless the call is a retry carrying the key that restored it. This endpoint takes no body, and one carrying fields is refused. Send an Idempotency-Key; a retry with the same key returns the recorded answer.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectDetailResource]
    def restore_project(organization_id, project_id, idempotency_key, opts = {})
      data, _status_code, _headers = restore_project_with_http_info(organization_id, project_id, idempotency_key, opts)
      data
    end

    # Restore an archived project
    # Minimum role: manager, in an active organization. Requires the \&quot;write\&quot; capability. Brings an archived project back to active, with every tracked query, capture and metric it had when it was archived. What is NOT done: no check is run and no scraping is scheduled as a result — collection resumes on the project&#39;s own schedule. Restoring clears the record of who archived the project, so a project restored here is treated as an ordinary active project by any later organization archive. A project archived because its organization was archived cannot be restored on its own: restore the organization, which restores them all. Restoring a project that is already active answers 409, unless the call is a retry carrying the key that restored it. This endpoint takes no body, and one carrying fields is refused. Send an Idempotency-Key; a retry with the same key returns the recorded answer.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectDetailResource, Integer, Hash)>] ProjectDetailResource data, response status code and response headers
    def restore_project_with_http_info(organization_id, project_id, idempotency_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.restore_project ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ProjectsApi.restore_project"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.restore_project"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling ProjectsApi.restore_project"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 255
        fail ArgumentError, 'invalid value for "idempotency_key" when calling ProjectsApi.restore_project, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && idempotency_key.to_s.length < 8
        fail ArgumentError, 'invalid value for "idempotency_key" when calling ProjectsApi.restore_project, the character length must be greater than or equal to 8.'
      end

      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/restore'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectDetailResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ProjectsApi.restore_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#restore_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace a competitor
    # Minimum role: manager, on an active organization and a project that is not archived. Replaces the competitor's name, domains and brand names: the lists sent become the lists stored, so a term left out is removed. Both lists are required and neither may be empty — a competitor that matches on nothing would never be found in an answer. A domain may be sent as a full URL or as a bare host; a URL is reduced to its host and a leading \"www.\" is dropped. Duplicates are collapsed. The auto-generated brand description cannot be set, and sending it is refused as an unknown field. Changing the matching rules does NOT re-match the answers already captured: it applies to checks from here on. A competitor belonging to another project answers 404, the same answer an unknown id gets. An Idempotency-Key header is required.
    # @param organization_id [String] 
    # @param project_id [String] Must belong to the organization in the path.
    # @param competitor_id [String] Must belong to the project in the path.
    # @param idempotency_key [String] Unique per attempt. A retry carrying the same key and the same body is answered from the record instead of running again.
    # @param create_competitor_request [CreateCompetitorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CompetitorResource]
    def update_competitor(organization_id, project_id, competitor_id, idempotency_key, create_competitor_request, opts = {})
      data, _status_code, _headers = update_competitor_with_http_info(organization_id, project_id, competitor_id, idempotency_key, create_competitor_request, opts)
      data
    end

    # Replace a competitor
    # Minimum role: manager, on an active organization and a project that is not archived. Replaces the competitor&#39;s name, domains and brand names: the lists sent become the lists stored, so a term left out is removed. Both lists are required and neither may be empty — a competitor that matches on nothing would never be found in an answer. A domain may be sent as a full URL or as a bare host; a URL is reduced to its host and a leading \&quot;www.\&quot; is dropped. Duplicates are collapsed. The auto-generated brand description cannot be set, and sending it is refused as an unknown field. Changing the matching rules does NOT re-match the answers already captured: it applies to checks from here on. A competitor belonging to another project answers 404, the same answer an unknown id gets. An Idempotency-Key header is required.
    # @param organization_id [String] 
    # @param project_id [String] Must belong to the organization in the path.
    # @param competitor_id [String] Must belong to the project in the path.
    # @param idempotency_key [String] Unique per attempt. A retry carrying the same key and the same body is answered from the record instead of running again.
    # @param create_competitor_request [CreateCompetitorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompetitorResource, Integer, Hash)>] CompetitorResource data, response status code and response headers
    def update_competitor_with_http_info(organization_id, project_id, competitor_id, idempotency_key, create_competitor_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.update_competitor ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ProjectsApi.update_competitor"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.update_competitor"
      end
      # verify the required parameter 'competitor_id' is set
      if @api_client.config.client_side_validation && competitor_id.nil?
        fail ArgumentError, "Missing the required parameter 'competitor_id' when calling ProjectsApi.update_competitor"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling ProjectsApi.update_competitor"
      end
      # verify the required parameter 'create_competitor_request' is set
      if @api_client.config.client_side_validation && create_competitor_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_competitor_request' when calling ProjectsApi.update_competitor"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/competitors/{competitorId}'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s)).sub('{competitorId}', CGI.escape(competitor_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_competitor_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CompetitorResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ProjectsApi.update_competitor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#update_competitor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rename a project
    # Minimum role: manager, in an active organization. Requires the \"write\" capability. `name` is the only writable field and it is required. What is NOT done: the monitored domains and brand names are not touched (use updateProjectBrandProfile) and competitors are not touched, added or removed (use the competitor endpoints). Sending `websiteDomains`, `brandNames` or `competitors` here is refused with the field named, never applied in part and never ignored. Renaming a project changes nothing about the data already collected against it. A project that belongs to another organization answers 404, never 403. An archived project answers 409: restore it first — unless the call is a retry carrying the key of a rename that already succeeded, which is answered from the record whatever the project's state is now. Send an Idempotency-Key; a retry with the same key and body returns the recorded answer.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] 
    # @param update_project_request [UpdateProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectDetailResource]
    def update_project(organization_id, project_id, idempotency_key, update_project_request, opts = {})
      data, _status_code, _headers = update_project_with_http_info(organization_id, project_id, idempotency_key, update_project_request, opts)
      data
    end

    # Rename a project
    # Minimum role: manager, in an active organization. Requires the \&quot;write\&quot; capability. &#x60;name&#x60; is the only writable field and it is required. What is NOT done: the monitored domains and brand names are not touched (use updateProjectBrandProfile) and competitors are not touched, added or removed (use the competitor endpoints). Sending &#x60;websiteDomains&#x60;, &#x60;brandNames&#x60; or &#x60;competitors&#x60; here is refused with the field named, never applied in part and never ignored. Renaming a project changes nothing about the data already collected against it. A project that belongs to another organization answers 404, never 403. An archived project answers 409: restore it first — unless the call is a retry carrying the key of a rename that already succeeded, which is answered from the record whatever the project&#39;s state is now. Send an Idempotency-Key; a retry with the same key and body returns the recorded answer.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] 
    # @param update_project_request [UpdateProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectDetailResource, Integer, Hash)>] ProjectDetailResource data, response status code and response headers
    def update_project_with_http_info(organization_id, project_id, idempotency_key, update_project_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.update_project ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ProjectsApi.update_project"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.update_project"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling ProjectsApi.update_project"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 255
        fail ArgumentError, 'invalid value for "idempotency_key" when calling ProjectsApi.update_project, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && idempotency_key.to_s.length < 8
        fail ArgumentError, 'invalid value for "idempotency_key" when calling ProjectsApi.update_project, the character length must be greater than or equal to 8.'
      end

      # verify the required parameter 'update_project_request' is set
      if @api_client.config.client_side_validation && update_project_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_project_request' when calling ProjectsApi.update_project"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_project_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectDetailResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ProjectsApi.update_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#update_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace a project's brand monitoring profile
    # Minimum role: manager, on an active organization and a project that is not archived. Replaces the brand terms and website domains every check of this project is matched against: the lists sent become the lists stored, so a term left out is removed. Both lists are required and neither may be empty — a project must keep at least one brand name and one domain to match anything. A domain may be sent as a full URL or as a bare host; a URL is reduced to its host and a leading \"www.\" is dropped, which is the form the profile is read back in. Duplicates, including two URLs that reduce to the same host, are collapsed. This operation does NOT touch the project name or its competitors, which are separate resources, and it does not regenerate the brand description: that runs asynchronously afterwards, so the description in the response is the one stored at the time of the write. An Idempotency-Key header is required.
    # @param organization_id [String] 
    # @param project_id [String] Must belong to the organization in the path.
    # @param idempotency_key [String] Unique per attempt. A retry carrying the same key and the same body is answered from the record instead of running again.
    # @param update_project_brand_profile_request [UpdateProjectBrandProfileRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BrandProfileResource]
    def update_project_brand_profile(organization_id, project_id, idempotency_key, update_project_brand_profile_request, opts = {})
      data, _status_code, _headers = update_project_brand_profile_with_http_info(organization_id, project_id, idempotency_key, update_project_brand_profile_request, opts)
      data
    end

    # Replace a project&#39;s brand monitoring profile
    # Minimum role: manager, on an active organization and a project that is not archived. Replaces the brand terms and website domains every check of this project is matched against: the lists sent become the lists stored, so a term left out is removed. Both lists are required and neither may be empty — a project must keep at least one brand name and one domain to match anything. A domain may be sent as a full URL or as a bare host; a URL is reduced to its host and a leading \&quot;www.\&quot; is dropped, which is the form the profile is read back in. Duplicates, including two URLs that reduce to the same host, are collapsed. This operation does NOT touch the project name or its competitors, which are separate resources, and it does not regenerate the brand description: that runs asynchronously afterwards, so the description in the response is the one stored at the time of the write. An Idempotency-Key header is required.
    # @param organization_id [String] 
    # @param project_id [String] Must belong to the organization in the path.
    # @param idempotency_key [String] Unique per attempt. A retry carrying the same key and the same body is answered from the record instead of running again.
    # @param update_project_brand_profile_request [UpdateProjectBrandProfileRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrandProfileResource, Integer, Hash)>] BrandProfileResource data, response status code and response headers
    def update_project_brand_profile_with_http_info(organization_id, project_id, idempotency_key, update_project_brand_profile_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.update_project_brand_profile ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ProjectsApi.update_project_brand_profile"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.update_project_brand_profile"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling ProjectsApi.update_project_brand_profile"
      end
      # verify the required parameter 'update_project_brand_profile_request' is set
      if @api_client.config.client_side_validation && update_project_brand_profile_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_project_brand_profile_request' when calling ProjectsApi.update_project_brand_profile"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/brand-profile'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_project_brand_profile_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BrandProfileResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ProjectsApi.update_project_brand_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#update_project_brand_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
