=begin
#Mencoro API

#Public API for Mencoro customers. Authenticate with an API key: `Authorization: Bearer mencoro_sk_...`.

The version of the OpenAPI document: 1.0.0
Contact: support@mencoro.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module Mencoro
  class TrackedQueriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a tracked query to clusters
    # Minimum role: manager. Adds the tracked query to every cluster named in \"queryClusterIds\" and answers with the query in its new state. Membership is a set: a cluster the query already belongs to is skipped, not reported as an error, and the response still lists it. Clusters the query belongs to and this call does not name are left alone — this adds, it does not replace the membership. Every cluster must belong to the project in the path; one that does not is rejected with its field named, and nothing is written. The \"Idempotency-Key\" header is required, and a repeat of the same key and body returns the recorded answer without adding anything again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param tracked_query_id [String] Must belong to the project in the path.
    # @param idempotency_key [String] A client-chosen key, unique per operation, so a lost response can be retried without repeating the write.
    # @param cluster_membership_request_data [ClusterMembershipRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [TrackedQueryDetailResource]
    def add_clusters_to_tracked_query(organization_id, project_id, tracked_query_id, idempotency_key, cluster_membership_request_data, opts = {})
      data, _status_code, _headers = add_clusters_to_tracked_query_with_http_info(organization_id, project_id, tracked_query_id, idempotency_key, cluster_membership_request_data, opts)
      data
    end

    # Add a tracked query to clusters
    # Minimum role: manager. Adds the tracked query to every cluster named in \&quot;queryClusterIds\&quot; and answers with the query in its new state. Membership is a set: a cluster the query already belongs to is skipped, not reported as an error, and the response still lists it. Clusters the query belongs to and this call does not name are left alone — this adds, it does not replace the membership. Every cluster must belong to the project in the path; one that does not is rejected with its field named, and nothing is written. The \&quot;Idempotency-Key\&quot; header is required, and a repeat of the same key and body returns the recorded answer without adding anything again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param tracked_query_id [String] Must belong to the project in the path.
    # @param idempotency_key [String] A client-chosen key, unique per operation, so a lost response can be retried without repeating the write.
    # @param cluster_membership_request_data [ClusterMembershipRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrackedQueryDetailResource, Integer, Hash)>] TrackedQueryDetailResource data, response status code and response headers
    def add_clusters_to_tracked_query_with_http_info(organization_id, project_id, tracked_query_id, idempotency_key, cluster_membership_request_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackedQueriesApi.add_clusters_to_tracked_query ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TrackedQueriesApi.add_clusters_to_tracked_query"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TrackedQueriesApi.add_clusters_to_tracked_query"
      end
      # verify the required parameter 'tracked_query_id' is set
      if @api_client.config.client_side_validation && tracked_query_id.nil?
        fail ArgumentError, "Missing the required parameter 'tracked_query_id' when calling TrackedQueriesApi.add_clusters_to_tracked_query"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling TrackedQueriesApi.add_clusters_to_tracked_query"
      end
      # verify the required parameter 'cluster_membership_request_data' is set
      if @api_client.config.client_side_validation && cluster_membership_request_data.nil?
        fail ArgumentError, "Missing the required parameter 'cluster_membership_request_data' when calling TrackedQueriesApi.add_clusters_to_tracked_query"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/{trackedQueryId}/clusters'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s)).sub('{trackedQueryId}', CGI.escape(tracked_query_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cluster_membership_request_data)

      # return_type
      return_type = opts[:debug_return_type] || 'TrackedQueryDetailResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"TrackedQueriesApi.add_clusters_to_tracked_query",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackedQueriesApi#add_clusters_to_tracked_query\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change how often several tracked queries are checked
    # Minimum role: manager. Sets the same check frequency on every tracked query named in `ids`, at most 100 distinct ids per call. The organization must be active and the project must not be archived. Partial success: an id that is not a tracked query of this project — unknown, malformed, already deleted, or belonging to somewhere else — is reported under `failed` with `tracked_query_not_found` while the rest are changed, and the call still answers 200. Nothing is rolled back because an item failed. Setting the frequency a query already has is accepted and changes nothing. This does NOT run a check and does not reschedule one already in flight. It never changes more than the ids it is given: there is no \"change everything matching a filter\" mode. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without applying anything again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] A client-chosen key, unique per operation. Replaying it returns the first answer instead of applying anything again.
    # @param batch_change_tracked_query_check_frequency_request_data [BatchChangeTrackedQueryCheckFrequencyRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [BatchWriteOutcome]
    def batch_change_tracked_queries_check_frequency(organization_id, project_id, idempotency_key, batch_change_tracked_query_check_frequency_request_data, opts = {})
      data, _status_code, _headers = batch_change_tracked_queries_check_frequency_with_http_info(organization_id, project_id, idempotency_key, batch_change_tracked_query_check_frequency_request_data, opts)
      data
    end

    # Change how often several tracked queries are checked
    # Minimum role: manager. Sets the same check frequency on every tracked query named in &#x60;ids&#x60;, at most 100 distinct ids per call. The organization must be active and the project must not be archived. Partial success: an id that is not a tracked query of this project — unknown, malformed, already deleted, or belonging to somewhere else — is reported under &#x60;failed&#x60; with &#x60;tracked_query_not_found&#x60; while the rest are changed, and the call still answers 200. Nothing is rolled back because an item failed. Setting the frequency a query already has is accepted and changes nothing. This does NOT run a check and does not reschedule one already in flight. It never changes more than the ids it is given: there is no \&quot;change everything matching a filter\&quot; mode. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without applying anything again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] A client-chosen key, unique per operation. Replaying it returns the first answer instead of applying anything again.
    # @param batch_change_tracked_query_check_frequency_request_data [BatchChangeTrackedQueryCheckFrequencyRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchWriteOutcome, Integer, Hash)>] BatchWriteOutcome data, response status code and response headers
    def batch_change_tracked_queries_check_frequency_with_http_info(organization_id, project_id, idempotency_key, batch_change_tracked_query_check_frequency_request_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackedQueriesApi.batch_change_tracked_queries_check_frequency ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TrackedQueriesApi.batch_change_tracked_queries_check_frequency"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TrackedQueriesApi.batch_change_tracked_queries_check_frequency"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling TrackedQueriesApi.batch_change_tracked_queries_check_frequency"
      end
      # verify the required parameter 'batch_change_tracked_query_check_frequency_request_data' is set
      if @api_client.config.client_side_validation && batch_change_tracked_query_check_frequency_request_data.nil?
        fail ArgumentError, "Missing the required parameter 'batch_change_tracked_query_check_frequency_request_data' when calling TrackedQueriesApi.batch_change_tracked_queries_check_frequency"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/batch/check-frequency'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_change_tracked_query_check_frequency_request_data)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchWriteOutcome'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"TrackedQueriesApi.batch_change_tracked_queries_check_frequency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackedQueriesApi#batch_change_tracked_queries_check_frequency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change how many passes several tracked queries run per check
    # Minimum role: manager. Sets the same passes-per-check on every tracked query named in `ids`, at most 100 distinct ids per call. The organization must be active and the project must not be archived. Partial success, and two distinct reasons appear under `failed`: an id that is not a tracked query of this project answers `tracked_query_not_found`, and a `google_serp` or `google_shopping` query asked for more than one pass answers `n_passes_not_supported_for_engine` — those engines run a single pass. Both leave the rest of the batch changed and the call still answers 200. Setting the value back to 1 is always allowed, so a batch that lowers sampling never fails on engine grounds. This does NOT run a check and does not change history already captured. More passes cost proportionally more of the plan's check budget. It never changes more than the ids it is given: there is no \"change everything matching a filter\" mode. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without applying anything again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] A client-chosen key, unique per operation. Replaying it returns the first answer instead of applying anything again.
    # @param batch_change_tracked_query_passes_request_data [BatchChangeTrackedQueryPassesRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [BatchWriteOutcome]
    def batch_change_tracked_queries_n_passes(organization_id, project_id, idempotency_key, batch_change_tracked_query_passes_request_data, opts = {})
      data, _status_code, _headers = batch_change_tracked_queries_n_passes_with_http_info(organization_id, project_id, idempotency_key, batch_change_tracked_query_passes_request_data, opts)
      data
    end

    # Change how many passes several tracked queries run per check
    # Minimum role: manager. Sets the same passes-per-check on every tracked query named in &#x60;ids&#x60;, at most 100 distinct ids per call. The organization must be active and the project must not be archived. Partial success, and two distinct reasons appear under &#x60;failed&#x60;: an id that is not a tracked query of this project answers &#x60;tracked_query_not_found&#x60;, and a &#x60;google_serp&#x60; or &#x60;google_shopping&#x60; query asked for more than one pass answers &#x60;n_passes_not_supported_for_engine&#x60; — those engines run a single pass. Both leave the rest of the batch changed and the call still answers 200. Setting the value back to 1 is always allowed, so a batch that lowers sampling never fails on engine grounds. This does NOT run a check and does not change history already captured. More passes cost proportionally more of the plan&#39;s check budget. It never changes more than the ids it is given: there is no \&quot;change everything matching a filter\&quot; mode. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without applying anything again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] A client-chosen key, unique per operation. Replaying it returns the first answer instead of applying anything again.
    # @param batch_change_tracked_query_passes_request_data [BatchChangeTrackedQueryPassesRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchWriteOutcome, Integer, Hash)>] BatchWriteOutcome data, response status code and response headers
    def batch_change_tracked_queries_n_passes_with_http_info(organization_id, project_id, idempotency_key, batch_change_tracked_query_passes_request_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackedQueriesApi.batch_change_tracked_queries_n_passes ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TrackedQueriesApi.batch_change_tracked_queries_n_passes"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TrackedQueriesApi.batch_change_tracked_queries_n_passes"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling TrackedQueriesApi.batch_change_tracked_queries_n_passes"
      end
      # verify the required parameter 'batch_change_tracked_query_passes_request_data' is set
      if @api_client.config.client_side_validation && batch_change_tracked_query_passes_request_data.nil?
        fail ArgumentError, "Missing the required parameter 'batch_change_tracked_query_passes_request_data' when calling TrackedQueriesApi.batch_change_tracked_queries_n_passes"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/batch/passes'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_change_tracked_query_passes_request_data)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchWriteOutcome'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"TrackedQueriesApi.batch_change_tracked_queries_n_passes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackedQueriesApi#batch_change_tracked_queries_n_passes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create tracked queries
    # Minimum role: manager. Creates the cross product of `queryTexts` x `engines` x `countries`: three texts, two engines and two countries create twelve tracked queries, not three. At most 100 combinations per call. The organization must be active and the project must not be archived. Partial success: the response lists, per combination, either the id it was created under or why nothing was created for it, and the status code never reports item-level outcomes. A combination the project already tracks is NOT created again and NOT re-identified — it appears under `failed` with `tracked_query_already_exists`, keeps the id it already had, and has any `queryClusterIds` in this request merged into it. Query text is normalised before it is compared and stored (lower-cased, whitespace collapsed, leading list markers stripped), so two texts differing only in those respects are one tracked query: the first of them owns the outcome and every later one appears under `failed` with `duplicate_combination_in_request`, naming the entry it repeats. `nPasses` applies to AI engines only: `google_serp` and `google_shopping` rows are always created with one pass, whatever is sent. Google AI Mode is unavailable in a few countries and those combinations are reported under `failed` rather than created. Creating a tracked query does not run a check: the first check happens on the normal schedule for the `checkFrequency` chosen. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without creating anything again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] A client-chosen key, unique per operation. Replaying it returns the first answer instead of creating anything again.
    # @param batch_create_tracked_queries_request_data [BatchCreateTrackedQueriesRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [BatchCreateTrackedQueriesResultResource]
    def batch_create_tracked_queries(organization_id, project_id, idempotency_key, batch_create_tracked_queries_request_data, opts = {})
      data, _status_code, _headers = batch_create_tracked_queries_with_http_info(organization_id, project_id, idempotency_key, batch_create_tracked_queries_request_data, opts)
      data
    end

    # Create tracked queries
    # Minimum role: manager. Creates the cross product of &#x60;queryTexts&#x60; x &#x60;engines&#x60; x &#x60;countries&#x60;: three texts, two engines and two countries create twelve tracked queries, not three. At most 100 combinations per call. The organization must be active and the project must not be archived. Partial success: the response lists, per combination, either the id it was created under or why nothing was created for it, and the status code never reports item-level outcomes. A combination the project already tracks is NOT created again and NOT re-identified — it appears under &#x60;failed&#x60; with &#x60;tracked_query_already_exists&#x60;, keeps the id it already had, and has any &#x60;queryClusterIds&#x60; in this request merged into it. Query text is normalised before it is compared and stored (lower-cased, whitespace collapsed, leading list markers stripped), so two texts differing only in those respects are one tracked query: the first of them owns the outcome and every later one appears under &#x60;failed&#x60; with &#x60;duplicate_combination_in_request&#x60;, naming the entry it repeats. &#x60;nPasses&#x60; applies to AI engines only: &#x60;google_serp&#x60; and &#x60;google_shopping&#x60; rows are always created with one pass, whatever is sent. Google AI Mode is unavailable in a few countries and those combinations are reported under &#x60;failed&#x60; rather than created. Creating a tracked query does not run a check: the first check happens on the normal schedule for the &#x60;checkFrequency&#x60; chosen. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without creating anything again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] A client-chosen key, unique per operation. Replaying it returns the first answer instead of creating anything again.
    # @param batch_create_tracked_queries_request_data [BatchCreateTrackedQueriesRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchCreateTrackedQueriesResultResource, Integer, Hash)>] BatchCreateTrackedQueriesResultResource data, response status code and response headers
    def batch_create_tracked_queries_with_http_info(organization_id, project_id, idempotency_key, batch_create_tracked_queries_request_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackedQueriesApi.batch_create_tracked_queries ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TrackedQueriesApi.batch_create_tracked_queries"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TrackedQueriesApi.batch_create_tracked_queries"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling TrackedQueriesApi.batch_create_tracked_queries"
      end
      # verify the required parameter 'batch_create_tracked_queries_request_data' is set
      if @api_client.config.client_side_validation && batch_create_tracked_queries_request_data.nil?
        fail ArgumentError, "Missing the required parameter 'batch_create_tracked_queries_request_data' when calling TrackedQueriesApi.batch_create_tracked_queries"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_create_tracked_queries_request_data)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchCreateTrackedQueriesResultResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"TrackedQueriesApi.batch_create_tracked_queries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackedQueriesApi#batch_create_tracked_queries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check several tracked queries now
    # Minimum role: manager. Asks for a fresh check of up to 100 named tracked queries straight away, ignoring how recently each was last checked. Answers 200 with per-item results and NO job id: a check that is already in flight for a query is reused rather than started again, so there is no id this operation could hand back that is guaranteed to exist. Follow progress on the tracked query itself — its lastCheckedAt advances when the check completes. A successful item means the check was accepted for submission with budget available for it at that moment; it does not mean the check has run. A checked query costs one budget unit per pass (nPasses), and items that do not fit the remaining budget are reported as failed with `check_budget_forecast_exhausted`, or `subscription_not_found` when the organization has no entitled subscription — they are never reported as successful. That budget figure is a forecast for this batch, and a pessimistic one: a tracked query already being checked is joined to the check in flight and costs nothing, but it is still debited here, so an item refused this way may have fitted. Resubmit it in a later batch rather than treating the refusal as a statement about your subscription. A paused query is reported as failed with `tracked_query_already_paused`: paused queries are never checked. An id that is not a tracked query of this project is reported as failed with `tracked_query_not_found`, exactly as an id that does not exist. Requires an Idempotency-Key header; a retry must repeat the same ids in the same order.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] Repeating a request with the same key and the same ids answers with the first attempt&#39;s result instead of submitting again.
    # @param batch_targets_request_data [BatchTargetsRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [BatchForceCheckTrackedQueries200Response]
    def batch_force_check_tracked_queries(organization_id, project_id, idempotency_key, batch_targets_request_data, opts = {})
      data, _status_code, _headers = batch_force_check_tracked_queries_with_http_info(organization_id, project_id, idempotency_key, batch_targets_request_data, opts)
      data
    end

    # Check several tracked queries now
    # Minimum role: manager. Asks for a fresh check of up to 100 named tracked queries straight away, ignoring how recently each was last checked. Answers 200 with per-item results and NO job id: a check that is already in flight for a query is reused rather than started again, so there is no id this operation could hand back that is guaranteed to exist. Follow progress on the tracked query itself — its lastCheckedAt advances when the check completes. A successful item means the check was accepted for submission with budget available for it at that moment; it does not mean the check has run. A checked query costs one budget unit per pass (nPasses), and items that do not fit the remaining budget are reported as failed with &#x60;check_budget_forecast_exhausted&#x60;, or &#x60;subscription_not_found&#x60; when the organization has no entitled subscription — they are never reported as successful. That budget figure is a forecast for this batch, and a pessimistic one: a tracked query already being checked is joined to the check in flight and costs nothing, but it is still debited here, so an item refused this way may have fitted. Resubmit it in a later batch rather than treating the refusal as a statement about your subscription. A paused query is reported as failed with &#x60;tracked_query_already_paused&#x60;: paused queries are never checked. An id that is not a tracked query of this project is reported as failed with &#x60;tracked_query_not_found&#x60;, exactly as an id that does not exist. Requires an Idempotency-Key header; a retry must repeat the same ids in the same order.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] Repeating a request with the same key and the same ids answers with the first attempt&#39;s result instead of submitting again.
    # @param batch_targets_request_data [BatchTargetsRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchForceCheckTrackedQueries200Response, Integer, Hash)>] BatchForceCheckTrackedQueries200Response data, response status code and response headers
    def batch_force_check_tracked_queries_with_http_info(organization_id, project_id, idempotency_key, batch_targets_request_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackedQueriesApi.batch_force_check_tracked_queries ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TrackedQueriesApi.batch_force_check_tracked_queries"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TrackedQueriesApi.batch_force_check_tracked_queries"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling TrackedQueriesApi.batch_force_check_tracked_queries"
      end
      # verify the required parameter 'batch_targets_request_data' is set
      if @api_client.config.client_side_validation && batch_targets_request_data.nil?
        fail ArgumentError, "Missing the required parameter 'batch_targets_request_data' when calling TrackedQueriesApi.batch_force_check_tracked_queries"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/check'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_targets_request_data)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchForceCheckTrackedQueries200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"TrackedQueriesApi.batch_force_check_tracked_queries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackedQueriesApi#batch_force_check_tracked_queries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pause several tracked queries
    # Minimum role: manager. Pauses up to 100 tracked queries of one project, each independently. Always answers 200 when the batch itself was processed: read `failed` to find out which items were not paused, never the status code. Items are never rolled back because a later one failed. An id that is already paused is reported as successful — pausing asserts a state, not a transition. An id that is not a tracked query of this project is reported as failed with `tracked_query_not_found`, exactly as an id that does not exist at all, and nothing is written for it. Pausing does not cancel a check that is already running. Requires an Idempotency-Key header; a retry must repeat the same ids in the same order to be recognised as a retry rather than refused as a reused key.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] Repeating a request with the same key and the same ids answers with the first attempt&#39;s result.
    # @param batch_targets_request_data [BatchTargetsRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [BatchPauseTrackedQueries200Response]
    def batch_pause_tracked_queries(organization_id, project_id, idempotency_key, batch_targets_request_data, opts = {})
      data, _status_code, _headers = batch_pause_tracked_queries_with_http_info(organization_id, project_id, idempotency_key, batch_targets_request_data, opts)
      data
    end

    # Pause several tracked queries
    # Minimum role: manager. Pauses up to 100 tracked queries of one project, each independently. Always answers 200 when the batch itself was processed: read &#x60;failed&#x60; to find out which items were not paused, never the status code. Items are never rolled back because a later one failed. An id that is already paused is reported as successful — pausing asserts a state, not a transition. An id that is not a tracked query of this project is reported as failed with &#x60;tracked_query_not_found&#x60;, exactly as an id that does not exist at all, and nothing is written for it. Pausing does not cancel a check that is already running. Requires an Idempotency-Key header; a retry must repeat the same ids in the same order to be recognised as a retry rather than refused as a reused key.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] Repeating a request with the same key and the same ids answers with the first attempt&#39;s result.
    # @param batch_targets_request_data [BatchTargetsRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchPauseTrackedQueries200Response, Integer, Hash)>] BatchPauseTrackedQueries200Response data, response status code and response headers
    def batch_pause_tracked_queries_with_http_info(organization_id, project_id, idempotency_key, batch_targets_request_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackedQueriesApi.batch_pause_tracked_queries ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TrackedQueriesApi.batch_pause_tracked_queries"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TrackedQueriesApi.batch_pause_tracked_queries"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling TrackedQueriesApi.batch_pause_tracked_queries"
      end
      # verify the required parameter 'batch_targets_request_data' is set
      if @api_client.config.client_side_validation && batch_targets_request_data.nil?
        fail ArgumentError, "Missing the required parameter 'batch_targets_request_data' when calling TrackedQueriesApi.batch_pause_tracked_queries"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/batch/pause'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_targets_request_data)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchPauseTrackedQueries200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"TrackedQueriesApi.batch_pause_tracked_queries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackedQueriesApi#batch_pause_tracked_queries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resume several tracked queries
    # Minimum role: manager. Puts up to 100 paused tracked queries of one project back under the scheduler, each independently. Always answers 200 when the batch itself was processed: read `failed` to find out which items were not resumed, never the status code. Items are never rolled back because a later one failed. An id that is already active is reported as successful — resuming asserts a state, not a transition. An id that is not a tracked query of this project is reported as failed with `tracked_query_not_found`, exactly as an id that does not exist at all, and nothing is written for it. No check is run by this operation and nothing is back-filled for the time the queries spent paused. Requires an Idempotency-Key header; a retry must repeat the same ids in the same order to be recognised as a retry rather than refused as a reused key.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] Repeating a request with the same key and the same ids answers with the first attempt&#39;s result.
    # @param batch_targets_request_data [BatchTargetsRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [BatchResumeTrackedQueries200Response]
    def batch_resume_tracked_queries(organization_id, project_id, idempotency_key, batch_targets_request_data, opts = {})
      data, _status_code, _headers = batch_resume_tracked_queries_with_http_info(organization_id, project_id, idempotency_key, batch_targets_request_data, opts)
      data
    end

    # Resume several tracked queries
    # Minimum role: manager. Puts up to 100 paused tracked queries of one project back under the scheduler, each independently. Always answers 200 when the batch itself was processed: read &#x60;failed&#x60; to find out which items were not resumed, never the status code. Items are never rolled back because a later one failed. An id that is already active is reported as successful — resuming asserts a state, not a transition. An id that is not a tracked query of this project is reported as failed with &#x60;tracked_query_not_found&#x60;, exactly as an id that does not exist at all, and nothing is written for it. No check is run by this operation and nothing is back-filled for the time the queries spent paused. Requires an Idempotency-Key header; a retry must repeat the same ids in the same order to be recognised as a retry rather than refused as a reused key.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] Repeating a request with the same key and the same ids answers with the first attempt&#39;s result.
    # @param batch_targets_request_data [BatchTargetsRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchResumeTrackedQueries200Response, Integer, Hash)>] BatchResumeTrackedQueries200Response data, response status code and response headers
    def batch_resume_tracked_queries_with_http_info(organization_id, project_id, idempotency_key, batch_targets_request_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackedQueriesApi.batch_resume_tracked_queries ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TrackedQueriesApi.batch_resume_tracked_queries"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TrackedQueriesApi.batch_resume_tracked_queries"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling TrackedQueriesApi.batch_resume_tracked_queries"
      end
      # verify the required parameter 'batch_targets_request_data' is set
      if @api_client.config.client_side_validation && batch_targets_request_data.nil?
        fail ArgumentError, "Missing the required parameter 'batch_targets_request_data' when calling TrackedQueriesApi.batch_resume_tracked_queries"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/batch/resume'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_targets_request_data)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchResumeTrackedQueries200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"TrackedQueriesApi.batch_resume_tracked_queries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackedQueriesApi#batch_resume_tracked_queries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add many tracked queries to clusters
    # Minimum role: manager. Adds every tracked query named in \"ids\" to every cluster named in \"queryClusterIds\". At most 100 distinct tracked queries per call; duplicates in \"ids\" are collapsed. Partial success: the answer is 200 with a per-item \"successful\" and \"failed\" list even when some items failed, nothing is rolled back, and an id that is not a tracked query of this project is reported as a failed item rather than dropped. Clusters not named are left alone — this adds, it does not replace membership. Every cluster must belong to the project in the path; one that does not is rejected with its field named and nothing is written at all. The \"Idempotency-Key\" header is required, and a repeat of the same key and body returns the recorded answer without running the batch again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] A client-chosen key, unique per operation, so a lost response can be retried without repeating the batch.
    # @param bulk_add_clusters_to_tracked_queries_request [BulkAddClustersToTrackedQueriesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BulkAddClustersToTrackedQueries200Response]
    def bulk_add_clusters_to_tracked_queries(organization_id, project_id, idempotency_key, bulk_add_clusters_to_tracked_queries_request, opts = {})
      data, _status_code, _headers = bulk_add_clusters_to_tracked_queries_with_http_info(organization_id, project_id, idempotency_key, bulk_add_clusters_to_tracked_queries_request, opts)
      data
    end

    # Add many tracked queries to clusters
    # Minimum role: manager. Adds every tracked query named in \&quot;ids\&quot; to every cluster named in \&quot;queryClusterIds\&quot;. At most 100 distinct tracked queries per call; duplicates in \&quot;ids\&quot; are collapsed. Partial success: the answer is 200 with a per-item \&quot;successful\&quot; and \&quot;failed\&quot; list even when some items failed, nothing is rolled back, and an id that is not a tracked query of this project is reported as a failed item rather than dropped. Clusters not named are left alone — this adds, it does not replace membership. Every cluster must belong to the project in the path; one that does not is rejected with its field named and nothing is written at all. The \&quot;Idempotency-Key\&quot; header is required, and a repeat of the same key and body returns the recorded answer without running the batch again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] A client-chosen key, unique per operation, so a lost response can be retried without repeating the batch.
    # @param bulk_add_clusters_to_tracked_queries_request [BulkAddClustersToTrackedQueriesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkAddClustersToTrackedQueries200Response, Integer, Hash)>] BulkAddClustersToTrackedQueries200Response data, response status code and response headers
    def bulk_add_clusters_to_tracked_queries_with_http_info(organization_id, project_id, idempotency_key, bulk_add_clusters_to_tracked_queries_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackedQueriesApi.bulk_add_clusters_to_tracked_queries ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TrackedQueriesApi.bulk_add_clusters_to_tracked_queries"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TrackedQueriesApi.bulk_add_clusters_to_tracked_queries"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling TrackedQueriesApi.bulk_add_clusters_to_tracked_queries"
      end
      # verify the required parameter 'bulk_add_clusters_to_tracked_queries_request' is set
      if @api_client.config.client_side_validation && bulk_add_clusters_to_tracked_queries_request.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_add_clusters_to_tracked_queries_request' when calling TrackedQueriesApi.bulk_add_clusters_to_tracked_queries"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/bulk/clusters'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_add_clusters_to_tracked_queries_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkAddClustersToTrackedQueries200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"TrackedQueriesApi.bulk_add_clusters_to_tracked_queries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackedQueriesApi#bulk_add_clusters_to_tracked_queries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete tracked queries
    # Minimum role: manager. Permanently deletes the tracked queries named in `ids`, at most 100 distinct ids per call. The organization must be active and the project must not be archived. Deletion is hard and cannot be undone: the tracked query is removed along with its captured answers, matches, search pages and rank history, and any check already in flight for it is cancelled. Those cascades run in the background, so a 200 means the tracked queries were deleted, not that every derived record has finished being purged. Partial success: an id that is not a tracked query of this project — unknown, malformed, already deleted, or belonging to somewhere else — is reported under `failed` with `tracked_query_not_found` while the rest are deleted. It never deletes more than the ids it is given: there is no \"delete everything matching a filter\" mode. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without deleting anything again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] A client-chosen key, unique per operation. Replaying it returns the first answer instead of deleting anything again.
    # @param batch_targets_request_data [BatchTargetsRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [BatchWriteOutcome]
    def bulk_delete_tracked_queries(organization_id, project_id, idempotency_key, batch_targets_request_data, opts = {})
      data, _status_code, _headers = bulk_delete_tracked_queries_with_http_info(organization_id, project_id, idempotency_key, batch_targets_request_data, opts)
      data
    end

    # Delete tracked queries
    # Minimum role: manager. Permanently deletes the tracked queries named in &#x60;ids&#x60;, at most 100 distinct ids per call. The organization must be active and the project must not be archived. Deletion is hard and cannot be undone: the tracked query is removed along with its captured answers, matches, search pages and rank history, and any check already in flight for it is cancelled. Those cascades run in the background, so a 200 means the tracked queries were deleted, not that every derived record has finished being purged. Partial success: an id that is not a tracked query of this project — unknown, malformed, already deleted, or belonging to somewhere else — is reported under &#x60;failed&#x60; with &#x60;tracked_query_not_found&#x60; while the rest are deleted. It never deletes more than the ids it is given: there is no \&quot;delete everything matching a filter\&quot; mode. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without deleting anything again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] A client-chosen key, unique per operation. Replaying it returns the first answer instead of deleting anything again.
    # @param batch_targets_request_data [BatchTargetsRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchWriteOutcome, Integer, Hash)>] BatchWriteOutcome data, response status code and response headers
    def bulk_delete_tracked_queries_with_http_info(organization_id, project_id, idempotency_key, batch_targets_request_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackedQueriesApi.bulk_delete_tracked_queries ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TrackedQueriesApi.bulk_delete_tracked_queries"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TrackedQueriesApi.bulk_delete_tracked_queries"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling TrackedQueriesApi.bulk_delete_tracked_queries"
      end
      # verify the required parameter 'batch_targets_request_data' is set
      if @api_client.config.client_side_validation && batch_targets_request_data.nil?
        fail ArgumentError, "Missing the required parameter 'batch_targets_request_data' when calling TrackedQueriesApi.bulk_delete_tracked_queries"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/bulk-delete'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_targets_request_data)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchWriteOutcome'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"TrackedQueriesApi.bulk_delete_tracked_queries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackedQueriesApi#bulk_delete_tracked_queries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove many tracked queries from clusters
    # Minimum role: manager. Removes every tracked query named in \"ids\" from every cluster named in \"queryClusterIds\". At most 100 distinct tracked queries per call; duplicates in \"ids\" are collapsed. Partial success: the answer is 200 with a per-item \"successful\" and \"failed\" list even when some items failed, nothing is rolled back, and an id that is not a tracked query of this project is reported as a failed item rather than dropped. Neither the clusters nor the tracked queries are deleted: only the membership between them. Every cluster must belong to the project in the path; one that does not is rejected with its field named and nothing is written at all. NOTE: this DELETE requires a request body — some HTTP client libraries and proxies strip bodies from DELETE, and a stripped body is refused with a validation error rather than interpreted as \"remove everything\". The \"Idempotency-Key\" header is required, and a repeat of the same key and body returns the recorded answer without running the batch again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] A client-chosen key, unique per operation, so a lost response can be retried without repeating the batch.
    # @param bulk_remove_clusters_from_tracked_queries_request [BulkRemoveClustersFromTrackedQueriesRequest] Required. A DELETE with no body is rejected.
    # @param [Hash] opts the optional parameters
    # @return [BulkRemoveClustersFromTrackedQueries200Response]
    def bulk_remove_clusters_from_tracked_queries(organization_id, project_id, idempotency_key, bulk_remove_clusters_from_tracked_queries_request, opts = {})
      data, _status_code, _headers = bulk_remove_clusters_from_tracked_queries_with_http_info(organization_id, project_id, idempotency_key, bulk_remove_clusters_from_tracked_queries_request, opts)
      data
    end

    # Remove many tracked queries from clusters
    # Minimum role: manager. Removes every tracked query named in \&quot;ids\&quot; from every cluster named in \&quot;queryClusterIds\&quot;. At most 100 distinct tracked queries per call; duplicates in \&quot;ids\&quot; are collapsed. Partial success: the answer is 200 with a per-item \&quot;successful\&quot; and \&quot;failed\&quot; list even when some items failed, nothing is rolled back, and an id that is not a tracked query of this project is reported as a failed item rather than dropped. Neither the clusters nor the tracked queries are deleted: only the membership between them. Every cluster must belong to the project in the path; one that does not is rejected with its field named and nothing is written at all. NOTE: this DELETE requires a request body — some HTTP client libraries and proxies strip bodies from DELETE, and a stripped body is refused with a validation error rather than interpreted as \&quot;remove everything\&quot;. The \&quot;Idempotency-Key\&quot; header is required, and a repeat of the same key and body returns the recorded answer without running the batch again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] A client-chosen key, unique per operation, so a lost response can be retried without repeating the batch.
    # @param bulk_remove_clusters_from_tracked_queries_request [BulkRemoveClustersFromTrackedQueriesRequest] Required. A DELETE with no body is rejected.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkRemoveClustersFromTrackedQueries200Response, Integer, Hash)>] BulkRemoveClustersFromTrackedQueries200Response data, response status code and response headers
    def bulk_remove_clusters_from_tracked_queries_with_http_info(organization_id, project_id, idempotency_key, bulk_remove_clusters_from_tracked_queries_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackedQueriesApi.bulk_remove_clusters_from_tracked_queries ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TrackedQueriesApi.bulk_remove_clusters_from_tracked_queries"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TrackedQueriesApi.bulk_remove_clusters_from_tracked_queries"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling TrackedQueriesApi.bulk_remove_clusters_from_tracked_queries"
      end
      # verify the required parameter 'bulk_remove_clusters_from_tracked_queries_request' is set
      if @api_client.config.client_side_validation && bulk_remove_clusters_from_tracked_queries_request.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_remove_clusters_from_tracked_queries_request' when calling TrackedQueriesApi.bulk_remove_clusters_from_tracked_queries"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/bulk/clusters'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_remove_clusters_from_tracked_queries_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkRemoveClustersFromTrackedQueries200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"TrackedQueriesApi.bulk_remove_clusters_from_tracked_queries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackedQueriesApi#bulk_remove_clusters_from_tracked_queries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change how often a tracked query is checked
    # Minimum role: manager. Sets how often one tracked query is checked while it is active. The organization must be active and the project must not be archived. Setting the frequency it already has is accepted and changes nothing. This does NOT run a check, does not backfill history, and does not reschedule a check already in flight: the new cadence applies from the next time the query is considered. A paused query keeps the setting but is not checked until it is resumed. A tracked query belonging to another project answers 404, the same answer an unknown id gets. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without applying anything again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param tracked_query_id [String] Must belong to the project in the path.
    # @param idempotency_key [String] A client-chosen key, unique per operation. Replaying it returns the first answer instead of applying anything again.
    # @param change_tracked_query_check_frequency_request_data [ChangeTrackedQueryCheckFrequencyRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [TrackedQueryDetailResource]
    def change_tracked_query_check_frequency(organization_id, project_id, tracked_query_id, idempotency_key, change_tracked_query_check_frequency_request_data, opts = {})
      data, _status_code, _headers = change_tracked_query_check_frequency_with_http_info(organization_id, project_id, tracked_query_id, idempotency_key, change_tracked_query_check_frequency_request_data, opts)
      data
    end

    # Change how often a tracked query is checked
    # Minimum role: manager. Sets how often one tracked query is checked while it is active. The organization must be active and the project must not be archived. Setting the frequency it already has is accepted and changes nothing. This does NOT run a check, does not backfill history, and does not reschedule a check already in flight: the new cadence applies from the next time the query is considered. A paused query keeps the setting but is not checked until it is resumed. A tracked query belonging to another project answers 404, the same answer an unknown id gets. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without applying anything again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param tracked_query_id [String] Must belong to the project in the path.
    # @param idempotency_key [String] A client-chosen key, unique per operation. Replaying it returns the first answer instead of applying anything again.
    # @param change_tracked_query_check_frequency_request_data [ChangeTrackedQueryCheckFrequencyRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrackedQueryDetailResource, Integer, Hash)>] TrackedQueryDetailResource data, response status code and response headers
    def change_tracked_query_check_frequency_with_http_info(organization_id, project_id, tracked_query_id, idempotency_key, change_tracked_query_check_frequency_request_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackedQueriesApi.change_tracked_query_check_frequency ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TrackedQueriesApi.change_tracked_query_check_frequency"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TrackedQueriesApi.change_tracked_query_check_frequency"
      end
      # verify the required parameter 'tracked_query_id' is set
      if @api_client.config.client_side_validation && tracked_query_id.nil?
        fail ArgumentError, "Missing the required parameter 'tracked_query_id' when calling TrackedQueriesApi.change_tracked_query_check_frequency"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling TrackedQueriesApi.change_tracked_query_check_frequency"
      end
      # verify the required parameter 'change_tracked_query_check_frequency_request_data' is set
      if @api_client.config.client_side_validation && change_tracked_query_check_frequency_request_data.nil?
        fail ArgumentError, "Missing the required parameter 'change_tracked_query_check_frequency_request_data' when calling TrackedQueriesApi.change_tracked_query_check_frequency"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/{trackedQueryId}/check-frequency'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s)).sub('{trackedQueryId}', CGI.escape(tracked_query_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(change_tracked_query_check_frequency_request_data)

      # return_type
      return_type = opts[:debug_return_type] || 'TrackedQueryDetailResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"TrackedQueriesApi.change_tracked_query_check_frequency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackedQueriesApi#change_tracked_query_check_frequency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change how many passes a tracked query runs per check
    # Minimum role: manager. Sets how many times one tracked query is asked per check. AI engines are not deterministic, so several passes are averaged; `google_serp` and `google_shopping` run a single pass and refuse any value above one with 409 `n_passes_not_supported_for_engine`. Setting the value back to 1 is always allowed. The organization must be active and the project must not be archived. Setting the value it already has is accepted and changes nothing. This does NOT run a check and does not change history already captured: it applies from the next check. More passes cost proportionally more of the plan's check budget. A tracked query belonging to another project answers 404, the same answer an unknown id gets. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without applying anything again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param tracked_query_id [String] Must belong to the project in the path.
    # @param idempotency_key [String] A client-chosen key, unique per operation. Replaying it returns the first answer instead of applying anything again.
    # @param change_tracked_query_passes_request_data [ChangeTrackedQueryPassesRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [TrackedQueryDetailResource]
    def change_tracked_query_n_passes(organization_id, project_id, tracked_query_id, idempotency_key, change_tracked_query_passes_request_data, opts = {})
      data, _status_code, _headers = change_tracked_query_n_passes_with_http_info(organization_id, project_id, tracked_query_id, idempotency_key, change_tracked_query_passes_request_data, opts)
      data
    end

    # Change how many passes a tracked query runs per check
    # Minimum role: manager. Sets how many times one tracked query is asked per check. AI engines are not deterministic, so several passes are averaged; &#x60;google_serp&#x60; and &#x60;google_shopping&#x60; run a single pass and refuse any value above one with 409 &#x60;n_passes_not_supported_for_engine&#x60;. Setting the value back to 1 is always allowed. The organization must be active and the project must not be archived. Setting the value it already has is accepted and changes nothing. This does NOT run a check and does not change history already captured: it applies from the next check. More passes cost proportionally more of the plan&#39;s check budget. A tracked query belonging to another project answers 404, the same answer an unknown id gets. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without applying anything again.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param tracked_query_id [String] Must belong to the project in the path.
    # @param idempotency_key [String] A client-chosen key, unique per operation. Replaying it returns the first answer instead of applying anything again.
    # @param change_tracked_query_passes_request_data [ChangeTrackedQueryPassesRequestData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrackedQueryDetailResource, Integer, Hash)>] TrackedQueryDetailResource data, response status code and response headers
    def change_tracked_query_n_passes_with_http_info(organization_id, project_id, tracked_query_id, idempotency_key, change_tracked_query_passes_request_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackedQueriesApi.change_tracked_query_n_passes ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TrackedQueriesApi.change_tracked_query_n_passes"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TrackedQueriesApi.change_tracked_query_n_passes"
      end
      # verify the required parameter 'tracked_query_id' is set
      if @api_client.config.client_side_validation && tracked_query_id.nil?
        fail ArgumentError, "Missing the required parameter 'tracked_query_id' when calling TrackedQueriesApi.change_tracked_query_n_passes"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling TrackedQueriesApi.change_tracked_query_n_passes"
      end
      # verify the required parameter 'change_tracked_query_passes_request_data' is set
      if @api_client.config.client_side_validation && change_tracked_query_passes_request_data.nil?
        fail ArgumentError, "Missing the required parameter 'change_tracked_query_passes_request_data' when calling TrackedQueriesApi.change_tracked_query_n_passes"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/{trackedQueryId}/passes'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s)).sub('{trackedQueryId}', CGI.escape(tracked_query_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(change_tracked_query_passes_request_data)

      # return_type
      return_type = opts[:debug_return_type] || 'TrackedQueryDetailResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"TrackedQueriesApi.change_tracked_query_n_passes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackedQueriesApi#change_tracked_query_n_passes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count a project's tracked queries and price checking them
    # Minimum role: viewer. Two numbers about one project: how many tracked queries it holds, and what force-checking that same set would cost. Omit `status` to count every tracked query whatever its status; send `active` or `paused` to count and price only those. `checkCost` is a PRICED DRY RUN expressed in check budget units — one unit per pass, the same unit the plan allowance is counted in, so it is directly comparable with `checksAvailable` from the entitlements operation — and it is the sum of each matched tracked query's configured passes. Asking reserves nothing, debits nothing and starts no check. It is deliberately NOT a forecast of what the check-all operation will consume: that operation skips paused queries, skips a query whose check is already pending or running, re-runs a check awaiting retry without charging for it again, and stops at whatever budget is left — none of which is subtracted here. Count with `status=active` for the figure closest to a full check-all. Both numbers are read from the write model, so a tracked query created moments ago is already in them; that is why they can be AHEAD of the `total` returned by the tracked-queries listing, which counts a search projection, and ahead of the keyword listings, which read projections refreshed in the background. Summing the unfiltered count over every project of an organization, archived projects included, reproduces countOrganizationTrackedQueries, which counts through the same counter in the same store. An archived project still answers, because this is a read, but no check can be submitted there while it stays archived, so its cost is hypothetical. For a month of scheduled rounds across the whole organization instead of one round over one project, read getOrganizationProjectedMonthlyChecks. No monetary amount is published or implied: the cost of a check is published only in budget units.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Restrict both numbers to one status. Lower-case; an unknown value is rejected, not ignored. Omitted, every status is counted and priced.
    # @return [TrackedQueryCountResource]
    def count_tracked_queries(organization_id, project_id, opts = {})
      data, _status_code, _headers = count_tracked_queries_with_http_info(organization_id, project_id, opts)
      data
    end

    # Count a project&#39;s tracked queries and price checking them
    # Minimum role: viewer. Two numbers about one project: how many tracked queries it holds, and what force-checking that same set would cost. Omit &#x60;status&#x60; to count every tracked query whatever its status; send &#x60;active&#x60; or &#x60;paused&#x60; to count and price only those. &#x60;checkCost&#x60; is a PRICED DRY RUN expressed in check budget units — one unit per pass, the same unit the plan allowance is counted in, so it is directly comparable with &#x60;checksAvailable&#x60; from the entitlements operation — and it is the sum of each matched tracked query&#39;s configured passes. Asking reserves nothing, debits nothing and starts no check. It is deliberately NOT a forecast of what the check-all operation will consume: that operation skips paused queries, skips a query whose check is already pending or running, re-runs a check awaiting retry without charging for it again, and stops at whatever budget is left — none of which is subtracted here. Count with &#x60;status&#x3D;active&#x60; for the figure closest to a full check-all. Both numbers are read from the write model, so a tracked query created moments ago is already in them; that is why they can be AHEAD of the &#x60;total&#x60; returned by the tracked-queries listing, which counts a search projection, and ahead of the keyword listings, which read projections refreshed in the background. Summing the unfiltered count over every project of an organization, archived projects included, reproduces countOrganizationTrackedQueries, which counts through the same counter in the same store. An archived project still answers, because this is a read, but no check can be submitted there while it stays archived, so its cost is hypothetical. For a month of scheduled rounds across the whole organization instead of one round over one project, read getOrganizationProjectedMonthlyChecks. No monetary amount is published or implied: the cost of a check is published only in budget units.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Restrict both numbers to one status. Lower-case; an unknown value is rejected, not ignored. Omitted, every status is counted and priced.
    # @return [Array<(TrackedQueryCountResource, Integer, Hash)>] TrackedQueryCountResource data, response status code and response headers
    def count_tracked_queries_with_http_info(organization_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackedQueriesApi.count_tracked_queries ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TrackedQueriesApi.count_tracked_queries"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TrackedQueriesApi.count_tracked_queries"
      end
      allowable_values = ["active", "paused"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/count'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrackedQueryCountResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"TrackedQueriesApi.count_tracked_queries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackedQueriesApi#count_tracked_queries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check every eligible tracked query of a project now
    # Minimum role: manager. Submits a fresh check for every eligible tracked query of the project, ignoring how recently each was last checked, least-recently-checked first, and at most 1000 tracked queries per call. Eligible is narrower than active: a paused query is skipped, and so is one whose check is already pending or running for the same engine. A query whose check is awaiting a retry is included and, WHEN THE ENGINE HAS NOT CHANGED SINCE, costs nothing extra, because its first submission already paid for it; if the engine did change, the pending run is replaced and the replacement is paid for. What is left is trimmed to what the organization's remaining check budget can pay for — a check costs one budget unit per pass. While a subscription is cancelled but still inside its paid grace window nothing is submitted at all and `submitted` is 0; name the queries explicitly through the check operation to run them in that window. CALLING AGAIN DOES NOT CONTINUE WHERE THIS CALL STOPPED: submissions are handed to a worker, and a tracked query stops being selected only once that worker has started its check, so a second call made before the queue drains selects and submits the same tracked queries again. That is safe while the first check is still running — the duplicate is collapsed, and nothing is checked or charged twice — but a check that has already finished is run again and charged again, because this operation ignores staleness by design. To cover a project with more than 1000 eligible tracked queries, wait for the submitted wave to be picked up — each tracked query's lastCheckedAt advances when its check completes — and call again then. The response lists the tracked queries submitted and carries NO job id: a check already in flight is reused rather than started again, so no id could be guaranteed to exist. Submission is accepted, not completed: a listed tracked query can still lose the last budget units to another caller before the worker reaches it. The request takes no body, and any field sent is rejected. Requires an Idempotency-Key header.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] Repeating a request with the same key answers with the first attempt&#39;s result instead of submitting a second wave.
    # @param [Hash] opts the optional parameters
    # @return [SubmittedChecksResource]
    def force_check_all_active_tracked_queries(organization_id, project_id, idempotency_key, opts = {})
      data, _status_code, _headers = force_check_all_active_tracked_queries_with_http_info(organization_id, project_id, idempotency_key, opts)
      data
    end

    # Check every eligible tracked query of a project now
    # Minimum role: manager. Submits a fresh check for every eligible tracked query of the project, ignoring how recently each was last checked, least-recently-checked first, and at most 1000 tracked queries per call. Eligible is narrower than active: a paused query is skipped, and so is one whose check is already pending or running for the same engine. A query whose check is awaiting a retry is included and, WHEN THE ENGINE HAS NOT CHANGED SINCE, costs nothing extra, because its first submission already paid for it; if the engine did change, the pending run is replaced and the replacement is paid for. What is left is trimmed to what the organization&#39;s remaining check budget can pay for — a check costs one budget unit per pass. While a subscription is cancelled but still inside its paid grace window nothing is submitted at all and &#x60;submitted&#x60; is 0; name the queries explicitly through the check operation to run them in that window. CALLING AGAIN DOES NOT CONTINUE WHERE THIS CALL STOPPED: submissions are handed to a worker, and a tracked query stops being selected only once that worker has started its check, so a second call made before the queue drains selects and submits the same tracked queries again. That is safe while the first check is still running — the duplicate is collapsed, and nothing is checked or charged twice — but a check that has already finished is run again and charged again, because this operation ignores staleness by design. To cover a project with more than 1000 eligible tracked queries, wait for the submitted wave to be picked up — each tracked query&#39;s lastCheckedAt advances when its check completes — and call again then. The response lists the tracked queries submitted and carries NO job id: a check already in flight is reused rather than started again, so no id could be guaranteed to exist. Submission is accepted, not completed: a listed tracked query can still lose the last budget units to another caller before the worker reaches it. The request takes no body, and any field sent is rejected. Requires an Idempotency-Key header.
    # @param organization_id [String] 
    # @param project_id [String] 
    # @param idempotency_key [String] Repeating a request with the same key answers with the first attempt&#39;s result instead of submitting a second wave.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubmittedChecksResource, Integer, Hash)>] SubmittedChecksResource data, response status code and response headers
    def force_check_all_active_tracked_queries_with_http_info(organization_id, project_id, idempotency_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackedQueriesApi.force_check_all_active_tracked_queries ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TrackedQueriesApi.force_check_all_active_tracked_queries"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TrackedQueriesApi.force_check_all_active_tracked_queries"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling TrackedQueriesApi.force_check_all_active_tracked_queries"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/check-all'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubmittedChecksResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"TrackedQueriesApi.force_check_all_active_tracked_queries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackedQueriesApi#force_check_all_active_tracked_queries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a tracked query
[...]
