/*
Mencoro API

Public API for Mencoro customers. Authenticate with an API key: `Authorization: Bearer mencoro_sk_...`.

API version: 1.0.0
Contact: support@mencoro.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mencoro

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// TrackedQueriesAPIService TrackedQueriesAPI service
type TrackedQueriesAPIService service

type ApiAddClustersToTrackedQueryRequest struct {
	ctx context.Context
	ApiService *TrackedQueriesAPIService
	organizationId string
	projectId string
	trackedQueryId string
	idempotencyKey *string
	clusterMembershipRequestData *ClusterMembershipRequestData
}

// A client-chosen key, unique per operation, so a lost response can be retried without repeating the write.
func (r ApiAddClustersToTrackedQueryRequest) IdempotencyKey(idempotencyKey string) ApiAddClustersToTrackedQueryRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiAddClustersToTrackedQueryRequest) ClusterMembershipRequestData(clusterMembershipRequestData ClusterMembershipRequestData) ApiAddClustersToTrackedQueryRequest {
	r.clusterMembershipRequestData = &clusterMembershipRequestData
	return r
}

func (r ApiAddClustersToTrackedQueryRequest) Execute() (*TrackedQueryDetailResource, *http.Response, error) {
	return r.ApiService.AddClustersToTrackedQueryExecute(r)
}

/*
AddClustersToTrackedQuery Add a tracked query to clusters

Minimum role: manager. Adds the tracked query to every cluster named in "queryClusterIds" and answers with the query in its new state. Membership is a set: a cluster the query already belongs to is skipped, not reported as an error, and the response still lists it. Clusters the query belongs to and this call does not name are left alone — this adds, it does not replace the membership. Every cluster must belong to the project in the path; one that does not is rejected with its field named, and nothing is written. The "Idempotency-Key" header is required, and a repeat of the same key and body returns the recorded answer without adding anything again.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @param trackedQueryId Must belong to the project in the path.
 @return ApiAddClustersToTrackedQueryRequest
*/
func (a *TrackedQueriesAPIService) AddClustersToTrackedQuery(ctx context.Context, organizationId string, projectId string, trackedQueryId string) ApiAddClustersToTrackedQueryRequest {
	return ApiAddClustersToTrackedQueryRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
		trackedQueryId: trackedQueryId,
	}
}

// Execute executes the request
//  @return TrackedQueryDetailResource
func (a *TrackedQueriesAPIService) AddClustersToTrackedQueryExecute(r ApiAddClustersToTrackedQueryRequest) (*TrackedQueryDetailResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TrackedQueryDetailResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackedQueriesAPIService.AddClustersToTrackedQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/{trackedQueryId}/clusters"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"trackedQueryId"+"}", url.PathEscape(parameterValueToString(r.trackedQueryId, "trackedQueryId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if r.clusterMembershipRequestData == nil {
		return localVarReturnValue, nil, reportError("clusterMembershipRequestData is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.clusterMembershipRequestData
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBatchChangeTrackedQueriesCheckFrequencyRequest struct {
	ctx context.Context
	ApiService *TrackedQueriesAPIService
	organizationId string
	projectId string
	idempotencyKey *string
	batchChangeTrackedQueryCheckFrequencyRequestData *BatchChangeTrackedQueryCheckFrequencyRequestData
}

// A client-chosen key, unique per operation. Replaying it returns the first answer instead of applying anything again.
func (r ApiBatchChangeTrackedQueriesCheckFrequencyRequest) IdempotencyKey(idempotencyKey string) ApiBatchChangeTrackedQueriesCheckFrequencyRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiBatchChangeTrackedQueriesCheckFrequencyRequest) BatchChangeTrackedQueryCheckFrequencyRequestData(batchChangeTrackedQueryCheckFrequencyRequestData BatchChangeTrackedQueryCheckFrequencyRequestData) ApiBatchChangeTrackedQueriesCheckFrequencyRequest {
	r.batchChangeTrackedQueryCheckFrequencyRequestData = &batchChangeTrackedQueryCheckFrequencyRequestData
	return r
}

func (r ApiBatchChangeTrackedQueriesCheckFrequencyRequest) Execute() (*BatchWriteOutcome, *http.Response, error) {
	return r.ApiService.BatchChangeTrackedQueriesCheckFrequencyExecute(r)
}

/*
BatchChangeTrackedQueriesCheckFrequency Change how often several tracked queries are checked

Minimum role: manager. Sets the same check frequency on every tracked query named in `ids`, at most 100 distinct ids per call. The organization must be active and the project must not be archived. Partial success: an id that is not a tracked query of this project — unknown, malformed, already deleted, or belonging to somewhere else — is reported under `failed` with `tracked_query_not_found` while the rest are changed, and the call still answers 200. Nothing is rolled back because an item failed. Setting the frequency a query already has is accepted and changes nothing. This does NOT run a check and does not reschedule one already in flight. It never changes more than the ids it is given: there is no "change everything matching a filter" mode. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without applying anything again.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiBatchChangeTrackedQueriesCheckFrequencyRequest
*/
func (a *TrackedQueriesAPIService) BatchChangeTrackedQueriesCheckFrequency(ctx context.Context, organizationId string, projectId string) ApiBatchChangeTrackedQueriesCheckFrequencyRequest {
	return ApiBatchChangeTrackedQueriesCheckFrequencyRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return BatchWriteOutcome
func (a *TrackedQueriesAPIService) BatchChangeTrackedQueriesCheckFrequencyExecute(r ApiBatchChangeTrackedQueriesCheckFrequencyRequest) (*BatchWriteOutcome, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BatchWriteOutcome
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackedQueriesAPIService.BatchChangeTrackedQueriesCheckFrequency")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/batch/check-frequency"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if r.batchChangeTrackedQueryCheckFrequencyRequestData == nil {
		return localVarReturnValue, nil, reportError("batchChangeTrackedQueryCheckFrequencyRequestData is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.batchChangeTrackedQueryCheckFrequencyRequestData
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBatchChangeTrackedQueriesNPassesRequest struct {
	ctx context.Context
	ApiService *TrackedQueriesAPIService
	organizationId string
	projectId string
	idempotencyKey *string
	batchChangeTrackedQueryPassesRequestData *BatchChangeTrackedQueryPassesRequestData
}

// A client-chosen key, unique per operation. Replaying it returns the first answer instead of applying anything again.
func (r ApiBatchChangeTrackedQueriesNPassesRequest) IdempotencyKey(idempotencyKey string) ApiBatchChangeTrackedQueriesNPassesRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiBatchChangeTrackedQueriesNPassesRequest) BatchChangeTrackedQueryPassesRequestData(batchChangeTrackedQueryPassesRequestData BatchChangeTrackedQueryPassesRequestData) ApiBatchChangeTrackedQueriesNPassesRequest {
	r.batchChangeTrackedQueryPassesRequestData = &batchChangeTrackedQueryPassesRequestData
	return r
}

func (r ApiBatchChangeTrackedQueriesNPassesRequest) Execute() (*BatchWriteOutcome, *http.Response, error) {
	return r.ApiService.BatchChangeTrackedQueriesNPassesExecute(r)
}

/*
BatchChangeTrackedQueriesNPasses Change how many passes several tracked queries run per check

Minimum role: manager. Sets the same passes-per-check on every tracked query named in `ids`, at most 100 distinct ids per call. The organization must be active and the project must not be archived. Partial success, and two distinct reasons appear under `failed`: an id that is not a tracked query of this project answers `tracked_query_not_found`, and a `google_serp` or `google_shopping` query asked for more than one pass answers `n_passes_not_supported_for_engine` — those engines run a single pass. Both leave the rest of the batch changed and the call still answers 200. Setting the value back to 1 is always allowed, so a batch that lowers sampling never fails on engine grounds. This does NOT run a check and does not change history already captured. More passes cost proportionally more of the plan's check budget. It never changes more than the ids it is given: there is no "change everything matching a filter" mode. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without applying anything again.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiBatchChangeTrackedQueriesNPassesRequest
*/
func (a *TrackedQueriesAPIService) BatchChangeTrackedQueriesNPasses(ctx context.Context, organizationId string, projectId string) ApiBatchChangeTrackedQueriesNPassesRequest {
	return ApiBatchChangeTrackedQueriesNPassesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return BatchWriteOutcome
func (a *TrackedQueriesAPIService) BatchChangeTrackedQueriesNPassesExecute(r ApiBatchChangeTrackedQueriesNPassesRequest) (*BatchWriteOutcome, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BatchWriteOutcome
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackedQueriesAPIService.BatchChangeTrackedQueriesNPasses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/batch/passes"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if r.batchChangeTrackedQueryPassesRequestData == nil {
		return localVarReturnValue, nil, reportError("batchChangeTrackedQueryPassesRequestData is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.batchChangeTrackedQueryPassesRequestData
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBatchCreateTrackedQueriesRequest struct {
	ctx context.Context
	ApiService *TrackedQueriesAPIService
	organizationId string
	projectId string
	idempotencyKey *string
	batchCreateTrackedQueriesRequestData *BatchCreateTrackedQueriesRequestData
}

// A client-chosen key, unique per operation. Replaying it returns the first answer instead of creating anything again.
func (r ApiBatchCreateTrackedQueriesRequest) IdempotencyKey(idempotencyKey string) ApiBatchCreateTrackedQueriesRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiBatchCreateTrackedQueriesRequest) BatchCreateTrackedQueriesRequestData(batchCreateTrackedQueriesRequestData BatchCreateTrackedQueriesRequestData) ApiBatchCreateTrackedQueriesRequest {
	r.batchCreateTrackedQueriesRequestData = &batchCreateTrackedQueriesRequestData
	return r
}

func (r ApiBatchCreateTrackedQueriesRequest) Execute() (*BatchCreateTrackedQueriesResultResource, *http.Response, error) {
	return r.ApiService.BatchCreateTrackedQueriesExecute(r)
}

/*
BatchCreateTrackedQueries Create tracked queries

Minimum role: manager. Creates the cross product of `queryTexts` x `engines` x `countries`: three texts, two engines and two countries create twelve tracked queries, not three. At most 100 combinations per call. The organization must be active and the project must not be archived. Partial success: the response lists, per combination, either the id it was created under or why nothing was created for it, and the status code never reports item-level outcomes. A combination the project already tracks is NOT created again and NOT re-identified — it appears under `failed` with `tracked_query_already_exists`, keeps the id it already had, and has any `queryClusterIds` in this request merged into it. Query text is normalised before it is compared and stored (lower-cased, whitespace collapsed, leading list markers stripped), so two texts differing only in those respects are one tracked query: the first of them owns the outcome and every later one appears under `failed` with `duplicate_combination_in_request`, naming the entry it repeats. `nPasses` applies to AI engines only: `google_serp` and `google_shopping` rows are always created with one pass, whatever is sent. Google AI Mode is unavailable in a few countries and those combinations are reported under `failed` rather than created. Creating a tracked query does not run a check: the first check happens on the normal schedule for the `checkFrequency` chosen. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without creating anything again.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiBatchCreateTrackedQueriesRequest
*/
func (a *TrackedQueriesAPIService) BatchCreateTrackedQueries(ctx context.Context, organizationId string, projectId string) ApiBatchCreateTrackedQueriesRequest {
	return ApiBatchCreateTrackedQueriesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return BatchCreateTrackedQueriesResultResource
func (a *TrackedQueriesAPIService) BatchCreateTrackedQueriesExecute(r ApiBatchCreateTrackedQueriesRequest) (*BatchCreateTrackedQueriesResultResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BatchCreateTrackedQueriesResultResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackedQueriesAPIService.BatchCreateTrackedQueries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if r.batchCreateTrackedQueriesRequestData == nil {
		return localVarReturnValue, nil, reportError("batchCreateTrackedQueriesRequestData is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.batchCreateTrackedQueriesRequestData
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBatchForceCheckTrackedQueriesRequest struct {
	ctx context.Context
	ApiService *TrackedQueriesAPIService
	organizationId string
	projectId string
	idempotencyKey *string
	batchTargetsRequestData *BatchTargetsRequestData
}

// Repeating a request with the same key and the same ids answers with the first attempt&#39;s result instead of submitting again.
func (r ApiBatchForceCheckTrackedQueriesRequest) IdempotencyKey(idempotencyKey string) ApiBatchForceCheckTrackedQueriesRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiBatchForceCheckTrackedQueriesRequest) BatchTargetsRequestData(batchTargetsRequestData BatchTargetsRequestData) ApiBatchForceCheckTrackedQueriesRequest {
	r.batchTargetsRequestData = &batchTargetsRequestData
	return r
}

func (r ApiBatchForceCheckTrackedQueriesRequest) Execute() (*BatchForceCheckTrackedQueries200Response, *http.Response, error) {
	return r.ApiService.BatchForceCheckTrackedQueriesExecute(r)
}

/*
BatchForceCheckTrackedQueries Check several tracked queries now

Minimum role: manager. Asks for a fresh check of up to 100 named tracked queries straight away, ignoring how recently each was last checked. Answers 200 with per-item results and NO job id: a check that is already in flight for a query is reused rather than started again, so there is no id this operation could hand back that is guaranteed to exist. Follow progress on the tracked query itself — its lastCheckedAt advances when the check completes. A successful item means the check was accepted for submission with budget available for it at that moment; it does not mean the check has run. A checked query costs one budget unit per pass (nPasses), and items that do not fit the remaining budget are reported as failed with `check_budget_forecast_exhausted`, or `subscription_not_found` when the organization has no entitled subscription — they are never reported as successful. That budget figure is a forecast for this batch, and a pessimistic one: a tracked query already being checked is joined to the check in flight and costs nothing, but it is still debited here, so an item refused this way may have fitted. Resubmit it in a later batch rather than treating the refusal as a statement about your subscription. A paused query is reported as failed with `tracked_query_already_paused`: paused queries are never checked. An id that is not a tracked query of this project is reported as failed with `tracked_query_not_found`, exactly as an id that does not exist. Requires an Idempotency-Key header; a retry must repeat the same ids in the same order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiBatchForceCheckTrackedQueriesRequest
*/
func (a *TrackedQueriesAPIService) BatchForceCheckTrackedQueries(ctx context.Context, organizationId string, projectId string) ApiBatchForceCheckTrackedQueriesRequest {
	return ApiBatchForceCheckTrackedQueriesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return BatchForceCheckTrackedQueries200Response
func (a *TrackedQueriesAPIService) BatchForceCheckTrackedQueriesExecute(r ApiBatchForceCheckTrackedQueriesRequest) (*BatchForceCheckTrackedQueries200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BatchForceCheckTrackedQueries200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackedQueriesAPIService.BatchForceCheckTrackedQueries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/check"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if r.batchTargetsRequestData == nil {
		return localVarReturnValue, nil, reportError("batchTargetsRequestData is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.batchTargetsRequestData
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBatchPauseTrackedQueriesRequest struct {
	ctx context.Context
	ApiService *TrackedQueriesAPIService
	organizationId string
	projectId string
	idempotencyKey *string
	batchTargetsRequestData *BatchTargetsRequestData
}

// Repeating a request with the same key and the same ids answers with the first attempt&#39;s result.
func (r ApiBatchPauseTrackedQueriesRequest) IdempotencyKey(idempotencyKey string) ApiBatchPauseTrackedQueriesRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiBatchPauseTrackedQueriesRequest) BatchTargetsRequestData(batchTargetsRequestData BatchTargetsRequestData) ApiBatchPauseTrackedQueriesRequest {
	r.batchTargetsRequestData = &batchTargetsRequestData
	return r
}

func (r ApiBatchPauseTrackedQueriesRequest) Execute() (*BatchPauseTrackedQueries200Response, *http.Response, error) {
	return r.ApiService.BatchPauseTrackedQueriesExecute(r)
}

/*
BatchPauseTrackedQueries Pause several tracked queries

Minimum role: manager. Pauses up to 100 tracked queries of one project, each independently. Always answers 200 when the batch itself was processed: read `failed` to find out which items were not paused, never the status code. Items are never rolled back because a later one failed. An id that is already paused is reported as successful — pausing asserts a state, not a transition. An id that is not a tracked query of this project is reported as failed with `tracked_query_not_found`, exactly as an id that does not exist at all, and nothing is written for it. Pausing does not cancel a check that is already running. Requires an Idempotency-Key header; a retry must repeat the same ids in the same order to be recognised as a retry rather than refused as a reused key.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiBatchPauseTrackedQueriesRequest
*/
func (a *TrackedQueriesAPIService) BatchPauseTrackedQueries(ctx context.Context, organizationId string, projectId string) ApiBatchPauseTrackedQueriesRequest {
	return ApiBatchPauseTrackedQueriesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return BatchPauseTrackedQueries200Response
func (a *TrackedQueriesAPIService) BatchPauseTrackedQueriesExecute(r ApiBatchPauseTrackedQueriesRequest) (*BatchPauseTrackedQueries200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BatchPauseTrackedQueries200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackedQueriesAPIService.BatchPauseTrackedQueries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/batch/pause"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if r.batchTargetsRequestData == nil {
		return localVarReturnValue, nil, reportError("batchTargetsRequestData is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.batchTargetsRequestData
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBatchResumeTrackedQueriesRequest struct {
	ctx context.Context
	ApiService *TrackedQueriesAPIService
	organizationId string
	projectId string
	idempotencyKey *string
	batchTargetsRequestData *BatchTargetsRequestData
}

// Repeating a request with the same key and the same ids answers with the first attempt&#39;s result.
func (r ApiBatchResumeTrackedQueriesRequest) IdempotencyKey(idempotencyKey string) ApiBatchResumeTrackedQueriesRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiBatchResumeTrackedQueriesRequest) BatchTargetsRequestData(batchTargetsRequestData BatchTargetsRequestData) ApiBatchResumeTrackedQueriesRequest {
	r.batchTargetsRequestData = &batchTargetsRequestData
	return r
}

func (r ApiBatchResumeTrackedQueriesRequest) Execute() (*BatchResumeTrackedQueries200Response, *http.Response, error) {
	return r.ApiService.BatchResumeTrackedQueriesExecute(r)
}

/*
BatchResumeTrackedQueries Resume several tracked queries

Minimum role: manager. Puts up to 100 paused tracked queries of one project back under the scheduler, each independently. Always answers 200 when the batch itself was processed: read `failed` to find out which items were not resumed, never the status code. Items are never rolled back because a later one failed. An id that is already active is reported as successful — resuming asserts a state, not a transition. An id that is not a tracked query of this project is reported as failed with `tracked_query_not_found`, exactly as an id that does not exist at all, and nothing is written for it. No check is run by this operation and nothing is back-filled for the time the queries spent paused. Requires an Idempotency-Key header; a retry must repeat the same ids in the same order to be recognised as a retry rather than refused as a reused key.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiBatchResumeTrackedQueriesRequest
*/
func (a *TrackedQueriesAPIService) BatchResumeTrackedQueries(ctx context.Context, organizationId string, projectId string) ApiBatchResumeTrackedQueriesRequest {
	return ApiBatchResumeTrackedQueriesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return BatchResumeTrackedQueries200Response
func (a *TrackedQueriesAPIService) BatchResumeTrackedQueriesExecute(r ApiBatchResumeTrackedQueriesRequest) (*BatchResumeTrackedQueries200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BatchResumeTrackedQueries200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackedQueriesAPIService.BatchResumeTrackedQueries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/batch/resume"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if r.batchTargetsRequestData == nil {
		return localVarReturnValue, nil, reportError("batchTargetsRequestData is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.batchTargetsRequestData
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBulkAddClustersToTrackedQueriesRequest struct {
	ctx context.Context
	ApiService *TrackedQueriesAPIService
	organizationId string
	projectId string
	idempotencyKey *string
	bulkAddClustersToTrackedQueriesRequest *BulkAddClustersToTrackedQueriesRequest
}

// A client-chosen key, unique per operation, so a lost response can be retried without repeating the batch.
func (r ApiBulkAddClustersToTrackedQueriesRequest) IdempotencyKey(idempotencyKey string) ApiBulkAddClustersToTrackedQueriesRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiBulkAddClustersToTrackedQueriesRequest) BulkAddClustersToTrackedQueriesRequest(bulkAddClustersToTrackedQueriesRequest BulkAddClustersToTrackedQueriesRequest) ApiBulkAddClustersToTrackedQueriesRequest {
	r.bulkAddClustersToTrackedQueriesRequest = &bulkAddClustersToTrackedQueriesRequest
	return r
}

func (r ApiBulkAddClustersToTrackedQueriesRequest) Execute() (*BulkAddClustersToTrackedQueries200Response, *http.Response, error) {
	return r.ApiService.BulkAddClustersToTrackedQueriesExecute(r)
}

/*
BulkAddClustersToTrackedQueries Add many tracked queries to clusters

Minimum role: manager. Adds every tracked query named in "ids" to every cluster named in "queryClusterIds". At most 100 distinct tracked queries per call; duplicates in "ids" are collapsed. Partial success: the answer is 200 with a per-item "successful" and "failed" list even when some items failed, nothing is rolled back, and an id that is not a tracked query of this project is reported as a failed item rather than dropped. Clusters not named are left alone — this adds, it does not replace membership. Every cluster must belong to the project in the path; one that does not is rejected with its field named and nothing is written at all. The "Idempotency-Key" header is required, and a repeat of the same key and body returns the recorded answer without running the batch again.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiBulkAddClustersToTrackedQueriesRequest
*/
func (a *TrackedQueriesAPIService) BulkAddClustersToTrackedQueries(ctx context.Context, organizationId string, projectId string) ApiBulkAddClustersToTrackedQueriesRequest {
	return ApiBulkAddClustersToTrackedQueriesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return BulkAddClustersToTrackedQueries200Response
func (a *TrackedQueriesAPIService) BulkAddClustersToTrackedQueriesExecute(r ApiBulkAddClustersToTrackedQueriesRequest) (*BulkAddClustersToTrackedQueries200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BulkAddClustersToTrackedQueries200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackedQueriesAPIService.BulkAddClustersToTrackedQueries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/bulk/clusters"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if r.bulkAddClustersToTrackedQueriesRequest == nil {
		return localVarReturnValue, nil, reportError("bulkAddClustersToTrackedQueriesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.bulkAddClustersToTrackedQueriesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBulkDeleteTrackedQueriesRequest struct {
	ctx context.Context
	ApiService *TrackedQueriesAPIService
	organizationId string
	projectId string
	idempotencyKey *string
	batchTargetsRequestData *BatchTargetsRequestData
}

// A client-chosen key, unique per operation. Replaying it returns the first answer instead of deleting anything again.
func (r ApiBulkDeleteTrackedQueriesRequest) IdempotencyKey(idempotencyKey string) ApiBulkDeleteTrackedQueriesRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiBulkDeleteTrackedQueriesRequest) BatchTargetsRequestData(batchTargetsRequestData BatchTargetsRequestData) ApiBulkDeleteTrackedQueriesRequest {
	r.batchTargetsRequestData = &batchTargetsRequestData
	return r
}

func (r ApiBulkDeleteTrackedQueriesRequest) Execute() (*BatchWriteOutcome, *http.Response, error) {
	return r.ApiService.BulkDeleteTrackedQueriesExecute(r)
}

/*
BulkDeleteTrackedQueries Delete tracked queries

Minimum role: manager. Permanently deletes the tracked queries named in `ids`, at most 100 distinct ids per call. The organization must be active and the project must not be archived. Deletion is hard and cannot be undone: the tracked query is removed along with its captured answers, matches, search pages and rank history, and any check already in flight for it is cancelled. Those cascades run in the background, so a 200 means the tracked queries were deleted, not that every derived record has finished being purged. Partial success: an id that is not a tracked query of this project — unknown, malformed, already deleted, or belonging to somewhere else — is reported under `failed` with `tracked_query_not_found` while the rest are deleted. It never deletes more than the ids it is given: there is no "delete everything matching a filter" mode. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without deleting anything again.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiBulkDeleteTrackedQueriesRequest
*/
func (a *TrackedQueriesAPIService) BulkDeleteTrackedQueries(ctx context.Context, organizationId string, projectId string) ApiBulkDeleteTrackedQueriesRequest {
	return ApiBulkDeleteTrackedQueriesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return BatchWriteOutcome
func (a *TrackedQueriesAPIService) BulkDeleteTrackedQueriesExecute(r ApiBulkDeleteTrackedQueriesRequest) (*BatchWriteOutcome, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BatchWriteOutcome
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackedQueriesAPIService.BulkDeleteTrackedQueries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/bulk-delete"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if r.batchTargetsRequestData == nil {
		return localVarReturnValue, nil, reportError("batchTargetsRequestData is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.batchTargetsRequestData
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBulkRemoveClustersFromTrackedQueriesRequest struct {
	ctx context.Context
	ApiService *TrackedQueriesAPIService
	organizationId string
	projectId string
	idempotencyKey *string
	bulkRemoveClustersFromTrackedQueriesRequest *BulkRemoveClustersFromTrackedQueriesRequest
}

// A client-chosen key, unique per operation, so a lost response can be retried without repeating the batch.
func (r ApiBulkRemoveClustersFromTrackedQueriesRequest) IdempotencyKey(idempotencyKey string) ApiBulkRemoveClustersFromTrackedQueriesRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

// Required. A DELETE with no body is rejected.
func (r ApiBulkRemoveClustersFromTrackedQueriesRequest) BulkRemoveClustersFromTrackedQueriesRequest(bulkRemoveClustersFromTrackedQueriesRequest BulkRemoveClustersFromTrackedQueriesRequest) ApiBulkRemoveClustersFromTrackedQueriesRequest {
	r.bulkRemoveClustersFromTrackedQueriesRequest = &bulkRemoveClustersFromTrackedQueriesRequest
	return r
}

func (r ApiBulkRemoveClustersFromTrackedQueriesRequest) Execute() (*BulkRemoveClustersFromTrackedQueries200Response, *http.Response, error) {
	return r.ApiService.BulkRemoveClustersFromTrackedQueriesExecute(r)
}

/*
BulkRemoveClustersFromTrackedQueries Remove many tracked queries from clusters

Minimum role: manager. Removes every tracked query named in "ids" from every cluster named in "queryClusterIds". At most 100 distinct tracked queries per call; duplicates in "ids" are collapsed. Partial success: the answer is 200 with a per-item "successful" and "failed" list even when some items failed, nothing is rolled back, and an id that is not a tracked query of this project is reported as a failed item rather than dropped. Neither the clusters nor the tracked queries are deleted: only the membership between them. Every cluster must belong to the project in the path; one that does not is rejected with its field named and nothing is written at all. NOTE: this DELETE requires a request body — some HTTP client libraries and proxies strip bodies from DELETE, and a stripped body is refused with a validation error rather than interpreted as "remove everything". The "Idempotency-Key" header is required, and a repeat of the same key and body returns the recorded answer without running the batch again.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiBulkRemoveClustersFromTrackedQueriesRequest
*/
func (a *TrackedQueriesAPIService) BulkRemoveClustersFromTrackedQueries(ctx context.Context, organizationId string, projectId string) ApiBulkRemoveClustersFromTrackedQueriesRequest {
	return ApiBulkRemoveClustersFromTrackedQueriesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return BulkRemoveClustersFromTrackedQueries200Response
func (a *TrackedQueriesAPIService) BulkRemoveClustersFromTrackedQueriesExecute(r ApiBulkRemoveClustersFromTrackedQueriesRequest) (*BulkRemoveClustersFromTrackedQueries200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BulkRemoveClustersFromTrackedQueries200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackedQueriesAPIService.BulkRemoveClustersFromTrackedQueries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/bulk/clusters"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if r.bulkRemoveClustersFromTrackedQueriesRequest == nil {
		return localVarReturnValue, nil, reportError("bulkRemoveClustersFromTrackedQueriesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.bulkRemoveClustersFromTrackedQueriesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiChangeTrackedQueryCheckFrequencyRequest struct {
	ctx context.Context
	ApiService *TrackedQueriesAPIService
	organizationId string
	projectId string
	trackedQueryId string
	idempotencyKey *string
	changeTrackedQueryCheckFrequencyRequestData *ChangeTrackedQueryCheckFrequencyRequestData
}

// A client-chosen key, unique per operation. Replaying it returns the first answer instead of applying anything again.
func (r ApiChangeTrackedQueryCheckFrequencyRequest) IdempotencyKey(idempotencyKey string) ApiChangeTrackedQueryCheckFrequencyRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiChangeTrackedQueryCheckFrequencyRequest) ChangeTrackedQueryCheckFrequencyRequestData(changeTrackedQueryCheckFrequencyRequestData ChangeTrackedQueryCheckFrequencyRequestData) ApiChangeTrackedQueryCheckFrequencyRequest {
	r.changeTrackedQueryCheckFrequencyRequestData = &changeTrackedQueryCheckFrequencyRequestData
	return r
}

func (r ApiChangeTrackedQueryCheckFrequencyRequest) Execute() (*TrackedQueryDetailResource, *http.Response, error) {
	return r.ApiService.ChangeTrackedQueryCheckFrequencyExecute(r)
}

/*
ChangeTrackedQueryCheckFrequency Change how often a tracked query is checked

Minimum role: manager. Sets how often one tracked query is checked while it is active. The organization must be active and the project must not be archived. Setting the frequency it already has is accepted and changes nothing. This does NOT run a check, does not backfill history, and does not reschedule a check already in flight: the new cadence applies from the next time the query is considered. A paused query keeps the setting but is not checked until it is resumed. A tracked query belonging to another project answers 404, the same answer an unknown id gets. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without applying anything again.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @param trackedQueryId Must belong to the project in the path.
 @return ApiChangeTrackedQueryCheckFrequencyRequest
*/
func (a *TrackedQueriesAPIService) ChangeTrackedQueryCheckFrequency(ctx context.Context, organizationId string, projectId string, trackedQueryId string) ApiChangeTrackedQueryCheckFrequencyRequest {
	return ApiChangeTrackedQueryCheckFrequencyRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
		trackedQueryId: trackedQueryId,
	}
}

// Execute executes the request
//  @return TrackedQueryDetailResource
func (a *TrackedQueriesAPIService) ChangeTrackedQueryCheckFrequencyExecute(r ApiChangeTrackedQueryCheckFrequencyRequest) (*TrackedQueryDetailResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TrackedQueryDetailResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackedQueriesAPIService.ChangeTrackedQueryCheckFrequency")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/{trackedQueryId}/check-frequency"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"trackedQueryId"+"}", url.PathEscape(parameterValueToString(r.trackedQueryId, "trackedQueryId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if r.changeTrackedQueryCheckFrequencyRequestData == nil {
		return localVarReturnValue, nil, reportError("changeTrackedQueryCheckFrequencyRequestData is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.changeTrackedQueryCheckFrequencyRequestData
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiChangeTrackedQueryNPassesRequest struct {
	ctx context.Context
	ApiService *TrackedQueriesAPIService
	organizationId string
	projectId string
	trackedQueryId string
	idempotencyKey *string
	changeTrackedQueryPassesRequestData *ChangeTrackedQueryPassesRequestData
}

// A client-chosen key, unique per operation. Replaying it returns the first answer instead of applying anything again.
func (r ApiChangeTrackedQueryNPassesRequest) IdempotencyKey(idempotencyKey string) ApiChangeTrackedQueryNPassesRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiChangeTrackedQueryNPassesRequest) ChangeTrackedQueryPassesRequestData(changeTrackedQueryPassesRequestData ChangeTrackedQueryPassesRequestData) ApiChangeTrackedQueryNPassesRequest {
	r.changeTrackedQueryPassesRequestData = &changeTrackedQueryPassesRequestData
	return r
}

func (r ApiChangeTrackedQueryNPassesRequest) Execute() (*TrackedQueryDetailResource, *http.Response, error) {
	return r.ApiService.ChangeTrackedQueryNPassesExecute(r)
}

/*
ChangeTrackedQueryNPasses Change how many passes a tracked query runs per check

Minimum role: manager. Sets how many times one tracked query is asked per check. AI engines are not deterministic, so several passes are averaged; `google_serp` and `google_shopping` run a single pass and refuse any value above one with 409 `n_passes_not_supported_for_engine`. Setting the value back to 1 is always allowed. The organization must be active and the project must not be archived. Setting the value it already has is accepted and changes nothing. This does NOT run a check and does not change history already captured: it applies from the next check. More passes cost proportionally more of the plan's check budget. A tracked query belonging to another project answers 404, the same answer an unknown id gets. The Idempotency-Key header is required; a retry with the same key and the same body returns this same answer without applying anything again.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @param trackedQueryId Must belong to the project in the path.
 @return ApiChangeTrackedQueryNPassesRequest
*/
func (a *TrackedQueriesAPIService) ChangeTrackedQueryNPasses(ctx context.Context, organizationId string, projectId string, trackedQueryId string) ApiChangeTrackedQueryNPassesRequest {
	return ApiChangeTrackedQueryNPassesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
		trackedQueryId: trackedQueryId,
	}
}

// Execute executes the request
//  @return TrackedQueryDetailResource
func (a *TrackedQueriesAPIService) ChangeTrackedQueryNPassesExecute(r ApiChangeTrackedQueryNPassesRequest) (*TrackedQueryDetailResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TrackedQueryDetailResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackedQueriesAPIService.ChangeTrackedQueryNPasses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/{trackedQueryId}/passes"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"trackedQueryId"+"}", url.PathEscape(parameterValueToString(r.trackedQueryId, "trackedQueryId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if r.changeTrackedQueryPassesRequestData == nil {
		return localVarReturnValue, nil, reportError("changeTrackedQueryPassesRequestData is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.changeTrackedQueryPassesRequestData
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCountTrackedQueriesRequest struct {
	ctx context.Context
	ApiService *TrackedQueriesAPIService
	organizationId string
	projectId string
	status *string
}

// Restrict both numbers to one status. Lower-case; an unknown value is rejected, not ignored. Omitted, every status is counted and priced.
func (r ApiCountTrackedQueriesRequest) Status(status string) ApiCountTrackedQueriesRequest {
	r.status = &status
	return r
}

func (r ApiCountTrackedQueriesRequest) Execute() (*TrackedQueryCountResource, *http.Response, error) {
	return r.ApiService.CountTrackedQueriesExecute(r)
}

/*
CountTrackedQueries Count a project's tracked queries and price checking them

Minimum role: viewer. Two numbers about one project: how many tracked queries it holds, and what force-checking that same set would cost. Omit `status` to count every tracked query whatever its status; send `active` or `paused` to count and price only those. `checkCost` is a PRICED DRY RUN expressed in check budget units — one unit per pass, the same unit the plan allowance is counted in, so it is directly comparable with `checksAvailable` from the entitlements operation — and it is the sum of each matched tracked query's configured passes. Asking reserves nothing, debits nothing and starts no check. It is deliberately NOT a forecast of what the check-all operation will consume: that operation skips paused queries, skips a query whose check is already pending or running, re-runs a check awaiting retry without charging for it again, and stops at whatever budget is left — none of which is subtracted here. Count with `status=active` for the figure closest to a full check-all. Both numbers are read from the write model, so a tracked query created moments ago is already in them; that is why they can be AHEAD of the `total` returned by the tracked-queries listing, which counts a search projection, and ahead of the keyword listings, which read projections refreshed in the background. Summing the unfiltered count over every project of an organization, archived projects included, reproduces countOrganizationTrackedQueries, which counts through the same counter in the same store. An archived project still answers, because this is a read, but no check can be submitted there while it stays archived, so its cost is hypothetical. For a month of scheduled rounds across the whole organization instead of one round over one project, read getOrganizationProjectedMonthlyChecks. No monetary amount is published or implied: the cost of a check is published only in budget units.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiCountTrackedQueriesRequest
*/
func (a *TrackedQueriesAPIService) CountTrackedQueries(ctx context.Context, organizationId string, projectId string) ApiCountTrackedQueriesRequest {
	return ApiCountTrackedQueriesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return TrackedQueryCountResource
func (a *TrackedQueriesAPIService) CountTrackedQueriesExecute(r ApiCountTrackedQueriesRequest) (*TrackedQueryCountResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TrackedQueryCountResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackedQueriesAPIService.CountTrackedQueries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/count"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiForceCheckAllActiveTrackedQueriesRequest struct {
	ctx context.Context
	ApiService *TrackedQueriesAPIService
	organizationId string
	projectId string
	idempotencyKey *string
}

// Repeating a request with the same key answers with the first attempt&#39;s result instead of submitting a second wave.
func (r ApiForceCheckAllActiveTrackedQueriesRequest) IdempotencyKey(idempotencyKey string) ApiForceCheckAllActiveTrackedQueriesRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiForceCheckAllActiveTrackedQueriesRequest) Execute() (*SubmittedChecksResource, *http.Response, error) {
	return r.ApiService.ForceCheckAllActiveTrackedQueriesExecute(r)
}

/*
ForceCheckAllActiveTrackedQueries Check every eligible tracked query of a project now

Minimum role: manager. Submits a fresh check for every eligible tracked query of the project, ignoring how recently each was last checked, least-recently-checked first, and at most 1000 tracked queries per call. Eligible is narrower than active: a paused query is skipped, and so is one whose check is already pending or running for the same engine. A query whose check is awaiting a retry is included and, WHEN THE ENGINE HAS NOT CHANGED SINCE, costs nothing extra, because its first submission already paid for it; if the engine did change, the pending run is replaced and the replacement is paid for. What is left is trimmed to what the organization's remaining check budget can pay for — a check costs one budget unit per pass. While a subscription is cancelled but still inside its paid grace window nothing is submitted at all and `submitted` is 0; name the queries explicitly through the check operation to run them in that window. CALLING AGAIN DOES NOT CONTINUE WHERE THIS CALL STOPPED: submissions are handed to a worker, and a tracked query stops being selected only once that worker has started its check, so a second call made before the queue drains selects and submits the same tracked queries again. That is safe while the first check is still running — the duplicate is collapsed, and nothing is checked or charged twice — but a check that has already finished is run again and charged again, because this operation ignores staleness by design. To cover a project with more than 1000 eligible tracked queries, wait for the submitted wave to be picked up — each tracked query's lastCheckedAt advances when its check completes — and call again then. The response lists the tracked queries submitted and carries NO job id: a check already in flight is reused rather than started again, so no id could be guaranteed to exist. Submission is accepted, not completed: a listed tracked query can still lose the last budget units to another caller before the worker reaches it. The request takes no body, and any field sent is rejected. Requires an Idempotency-Key header.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiForceCheckAllActiveTrackedQueriesRequest
*/
func (a *TrackedQueriesAPIService) ForceCheckAllActiveTrackedQueries(ctx context.Context, organizationId string, projectId string) ApiForceCheckAllActiveTrackedQueriesRequest {
	return ApiForceCheckAllActiveTrackedQueriesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return SubmittedChecksResource
func (a *TrackedQueriesAPIService) ForceCheckAllActiveTrackedQueriesExecute(r ApiForceCheckAllActiveTrackedQueriesRequest) (*SubmittedChecksResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SubmittedChecksResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackedQueriesAPIService.ForceCheckAllActiveTrackedQueries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/check-all"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTrackedQueryRequest struct {
	ctx context.Context
	ApiService *TrackedQueriesAPIService
	organizationId string
	projectId string
	trackedQueryId string
}

func (r ApiGetTrackedQueryRequest) Execute() (*TrackedQueryDetailResource, *http.Response, error) {
	return r.ApiService.GetTrackedQueryExecute(r)
}

/*
GetTrackedQuery Get a tracked query

Minimum role: viewer. The configuration of one tracked query: the text sent to the engine, the engine, locale and country it is asked in, the clusters it belongs to, and how often it is checked. A lastCheckedAt of null means no check has completed yet — it is not a check that found nothing. A tracked query belonging to another project answers 404, the same answer an unknown id gets, so the API never confirms that an inaccessible tracked query exists. Rank positions, share of voice and sentiment are not part of this response: they belong to a date window and are served by the analytics endpoints.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @param trackedQueryId Must belong to the project in the path.
 @return ApiGetTrackedQueryRequest
*/
func (a *TrackedQueriesAPIService) GetTrackedQuery(ctx context.Context, organizationId string, projectId string, trackedQueryId string) ApiGetTrackedQueryRequest {
	return ApiGetTrackedQueryRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
		trackedQueryId: trackedQueryId,
	}
}

// Execute executes the request
//  @return TrackedQueryDetailResource
func (a *TrackedQueriesAPIService) GetTrackedQueryExecute(r ApiGetTrackedQueryRequest) (*TrackedQueryDetailResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TrackedQueryDetailResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackedQueriesAPIService.GetTrackedQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/{trackedQueryId}"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"trackedQueryId"+"}", url.PathEscape(parameterValueToString(r.trackedQueryId, "trackedQueryId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPauseTrackedQueryRequest struct {
	ctx context.Context
	ApiService *TrackedQueriesAPIService
	organizationId string
	projectId string
	trackedQueryId string
	idempotencyKey *string
}

// Repeating a request with the same key answers with the first attempt&#39;s result instead of pausing again.
func (r ApiPauseTrackedQueryRequest) IdempotencyKey(idempotencyKey string) ApiPauseTrackedQueryRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiPauseTrackedQueryRequest) Execute() (*TrackedQueryDetailResource, *http.Response, error) {
	return r.ApiService.PauseTrackedQueryExecute(r)
}

/*
PauseTrackedQuery Pause a tracked query

Minimum role: manager. Stops the scheduler from checking this tracked query; it keeps its configuration, its clusters and every result already collected, and nothing is deleted. Pausing a query that is already paused succeeds and answers the same body — this is a PUT asserting a state, not a transition, so it is safe to repeat. It does NOT cancel a check that is already running: a check in flight when the pause lands still completes and still consumes the budget unit it reserved. The request takes no body, and any field sent is rejected. Requires an Idempotency-Key header.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @param trackedQueryId Must belong to the project in the path.
 @return ApiPauseTrackedQueryRequest
*/
func (a *TrackedQueriesAPIService) PauseTrackedQuery(ctx context.Context, organizationId string, projectId string, trackedQueryId string) ApiPauseTrackedQueryRequest {
	return ApiPauseTrackedQueryRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
		trackedQueryId: trackedQueryId,
	}
}

// Execute executes the request
//  @return TrackedQueryDetailResource
func (a *TrackedQueriesAPIService) PauseTrackedQueryExecute(r ApiPauseTrackedQueryRequest) (*TrackedQueryDetailResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TrackedQueryDetailResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackedQueriesAPIService.PauseTrackedQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/{trackedQueryId}/pause"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"trackedQueryId"+"}", url.PathEscape(parameterValueToString(r.trackedQueryId, "trackedQueryId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRemoveClustersFromTrackedQueryRequest struct {
	ctx context.Context
	ApiService *TrackedQueriesAPIService
	organizationId string
	projectId string
	trackedQueryId string
	idempotencyKey *string
	clusterMembershipRequestData *ClusterMembershipRequestData
}

// A client-chosen key, unique per operation, so a lost response can be retried without repeating the write.
func (r ApiRemoveClustersFromTrackedQueryRequest) IdempotencyKey(idempotencyKey string) ApiRemoveClustersFromTrackedQueryRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

// Required. A DELETE with no body is rejected.
func (r ApiRemoveClustersFromTrackedQueryRequest) ClusterMembershipRequestData(clusterMembershipRequestData ClusterMembershipRequestData) ApiRemoveClustersFromTrackedQueryRequest {
	r.clusterMembershipRequestData = &clusterMembershipRequestData
	return r
}

func (r ApiRemoveClustersFromTrackedQueryRequest) Execute() (*TrackedQueryDetailResource, *http.Response, error) {
	return r.ApiService.RemoveClustersFromTrackedQueryExecute(r)
}

/*
RemoveClustersFromTrackedQuery Remove a tracked query from clusters

Minimum role: manager. Removes the tracked query from every cluster named in "queryClusterIds" and answers with the query in its new state. A cluster the query does not belong to is skipped, not reported as an error. Neither the clusters nor the tracked query are deleted: only the membership between them. Every cluster must belong to the project in the path. NOTE: this DELETE requires a request body — some HTTP client libraries and proxies strip bodies from DELETE, and a stripped body is refused with a validation error rather than interpreted as "remove all clusters". The "Idempotency-Key" header is required, and a repeat of the same key and body returns the recorded answer without removing anything again.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @param trackedQueryId Must belong to the project in the path.
 @return ApiRemoveClustersFromTrackedQueryRequest
*/
func (a *TrackedQueriesAPIService) RemoveClustersFromTrackedQuery(ctx context.Context, organizationId string, projectId string, trackedQueryId string) ApiRemoveClustersFromTrackedQueryRequest {
	return ApiRemoveClustersFromTrackedQueryRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
		trackedQueryId: trackedQueryId,
	}
}

// Execute executes the request
//  @return TrackedQueryDetailResource
func (a *TrackedQueriesAPIService) RemoveClustersFromTrackedQueryExecute(r ApiRemoveClustersFromTrackedQueryRequest) (*TrackedQueryDetailResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TrackedQueryDetailResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackedQueriesAPIService.RemoveClustersFromTrackedQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/{trackedQueryId}/clusters"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
[...]
