/*
Mencoro API

Public API for Mencoro customers. Authenticate with an API key: `Authorization: Bearer mencoro_sk_...`.

API version: 1.0.0
Contact: support@mencoro.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mencoro

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DiscoveryAPIService DiscoveryAPI service
type DiscoveryAPIService service

type ApiStartBrandDiscoveryJobRequest struct {
	ctx context.Context
	ApiService *DiscoveryAPIService
	organizationId string
	projectId string
	idempotencyKey *string
	startBrandDiscoveryJobRequest *StartBrandDiscoveryJobRequest
}

// Repeat it to retry a start whose response was lost; the same key returns the same job instead of starting a second one.
func (r ApiStartBrandDiscoveryJobRequest) IdempotencyKey(idempotencyKey string) ApiStartBrandDiscoveryJobRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiStartBrandDiscoveryJobRequest) StartBrandDiscoveryJobRequest(startBrandDiscoveryJobRequest StartBrandDiscoveryJobRequest) ApiStartBrandDiscoveryJobRequest {
	r.startBrandDiscoveryJobRequest = &startBrandDiscoveryJobRequest
	return r
}

func (r ApiStartBrandDiscoveryJobRequest) Execute() (*AcceptedJobResource, *http.Response, error) {
	return r.ApiService.StartBrandDiscoveryJobExecute(r)
}

/*
StartBrandDiscoveryJob Start a brand discovery job for a project

Minimum role: manager. Starts background discovery of the brands and competitors around a project and answers 202 with the job to poll; it never returns brands inline. The job PROPOSES names: it creates and updates nothing, so neither the brand profile nor the competitor list changes because this endpoint was called. The organization must be active. Unlike keyword and prompt discovery this operation does not require an entitled subscription, matching the application behaviour it mirrors. Ten starts per minute per organization, counted across every key of every member and shared with the same operation in the Mencoro app; a retry carrying an Idempotency-Key already answered is served from the record and does not count. A project whose brand monitoring profile has not been created yet is still accepted and still billed: the job runs grounded on the project name alone, with no website domains, brand names or competitors to work from, and completes normally. Configure the brand profile first if you want the discovery grounded.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId Must belong to the organization in the path.
 @return ApiStartBrandDiscoveryJobRequest
*/
func (a *DiscoveryAPIService) StartBrandDiscoveryJob(ctx context.Context, organizationId string, projectId string) ApiStartBrandDiscoveryJobRequest {
	return ApiStartBrandDiscoveryJobRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return AcceptedJobResource
func (a *DiscoveryAPIService) StartBrandDiscoveryJobExecute(r ApiStartBrandDiscoveryJobRequest) (*AcceptedJobResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AcceptedJobResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DiscoveryAPIService.StartBrandDiscoveryJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/discovery/brands"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.startBrandDiscoveryJobRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStartBrandNameSuggestionJobRequest struct {
	ctx context.Context
	ApiService *DiscoveryAPIService
	organizationId string
	idempotencyKey *string
	startBrandNameSuggestionJobRequest *StartBrandNameSuggestionJobRequest
}

// Repeat it to retry a start whose response was lost; the same key returns the same job instead of starting a second one.
func (r ApiStartBrandNameSuggestionJobRequest) IdempotencyKey(idempotencyKey string) ApiStartBrandNameSuggestionJobRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiStartBrandNameSuggestionJobRequest) StartBrandNameSuggestionJobRequest(startBrandNameSuggestionJobRequest StartBrandNameSuggestionJobRequest) ApiStartBrandNameSuggestionJobRequest {
	r.startBrandNameSuggestionJobRequest = &startBrandNameSuggestionJobRequest
	return r
}

func (r ApiStartBrandNameSuggestionJobRequest) Execute() (*AcceptedJobResource, *http.Response, error) {
	return r.ApiService.StartBrandNameSuggestionJobExecute(r)
}

/*
StartBrandNameSuggestionJob Start a brand-name alias suggestion job

Minimum role: manager. Starts a background, web-search-grounded job that suggests alias spellings for one entity - a brand, a project or a competitor - described entirely by the body, and answers 202 with the job to poll; it never returns suggestions inline. The entity need not exist: nothing is looked up, nothing is attached and nothing is saved, so the suggestions are the caller's to apply. Names sent in `enteredBrandNames` are excluded from the result. The organization must be active; no subscription is required, matching the application behaviour this mirrors. Ten starts per minute per organization, counted across every key of every member; a retry carrying an Idempotency-Key already answered is served from the record and does not count.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @return ApiStartBrandNameSuggestionJobRequest
*/
func (a *DiscoveryAPIService) StartBrandNameSuggestionJob(ctx context.Context, organizationId string) ApiStartBrandNameSuggestionJobRequest {
	return ApiStartBrandNameSuggestionJobRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return AcceptedJobResource
func (a *DiscoveryAPIService) StartBrandNameSuggestionJobExecute(r ApiStartBrandNameSuggestionJobRequest) (*AcceptedJobResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AcceptedJobResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DiscoveryAPIService.StartBrandNameSuggestionJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/brand-name-suggestions"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if r.startBrandNameSuggestionJobRequest == nil {
		return localVarReturnValue, nil, reportError("startBrandNameSuggestionJobRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.startBrandNameSuggestionJobRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStartKeywordDiscoveryJobRequest struct {
	ctx context.Context
	ApiService *DiscoveryAPIService
	organizationId string
	projectId string
	idempotencyKey *string
	startKeywordDiscoveryJobRequest *StartKeywordDiscoveryJobRequest
}

// Repeat it to retry a start whose response was lost; the same key returns the same job instead of starting a second one.
func (r ApiStartKeywordDiscoveryJobRequest) IdempotencyKey(idempotencyKey string) ApiStartKeywordDiscoveryJobRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiStartKeywordDiscoveryJobRequest) StartKeywordDiscoveryJobRequest(startKeywordDiscoveryJobRequest StartKeywordDiscoveryJobRequest) ApiStartKeywordDiscoveryJobRequest {
	r.startKeywordDiscoveryJobRequest = &startKeywordDiscoveryJobRequest
	return r
}

func (r ApiStartKeywordDiscoveryJobRequest) Execute() (*AcceptedJobResource, *http.Response, error) {
	return r.ApiService.StartKeywordDiscoveryJobExecute(r)
}

/*
StartKeywordDiscoveryJob Start a keyword discovery job for a project

Minimum role: manager. Starts background keyword discovery from free-text seed input and answers 202 with the job to poll; it never returns keywords inline. The job SUGGESTS keywords - it creates no tracked queries and changes nothing in the project, so a completed job is a list to choose from, not work that has been applied. Queries the project already tracks are excluded from the suggestions automatically; `excludeQueries` adds more on top for this run only. The organization must be active and hold an entitled subscription, because the run spends provider budget. Ten starts per minute per organization, counted across every key of every member; a retry carrying an Idempotency-Key already answered is served from the record and does not count. Run tuning is not exposed: the discovery fan-out uses provider defaults.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId Must belong to the organization in the path.
 @return ApiStartKeywordDiscoveryJobRequest
*/
func (a *DiscoveryAPIService) StartKeywordDiscoveryJob(ctx context.Context, organizationId string, projectId string) ApiStartKeywordDiscoveryJobRequest {
	return ApiStartKeywordDiscoveryJobRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return AcceptedJobResource
func (a *DiscoveryAPIService) StartKeywordDiscoveryJobExecute(r ApiStartKeywordDiscoveryJobRequest) (*AcceptedJobResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AcceptedJobResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DiscoveryAPIService.StartKeywordDiscoveryJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/discovery/keywords"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if r.startKeywordDiscoveryJobRequest == nil {
		return localVarReturnValue, nil, reportError("startKeywordDiscoveryJobRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.startKeywordDiscoveryJobRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStartPromptDiscoveryJobRequest struct {
	ctx context.Context
	ApiService *DiscoveryAPIService
	organizationId string
	projectId string
	idempotencyKey *string
	startPromptDiscoveryJobRequest *StartPromptDiscoveryJobRequest
}

// Repeat it to retry a start whose response was lost; the same key returns the same job instead of starting a second one.
func (r ApiStartPromptDiscoveryJobRequest) IdempotencyKey(idempotencyKey string) ApiStartPromptDiscoveryJobRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiStartPromptDiscoveryJobRequest) StartPromptDiscoveryJobRequest(startPromptDiscoveryJobRequest StartPromptDiscoveryJobRequest) ApiStartPromptDiscoveryJobRequest {
	r.startPromptDiscoveryJobRequest = &startPromptDiscoveryJobRequest
	return r
}

func (r ApiStartPromptDiscoveryJobRequest) Execute() (*AcceptedJobResource, *http.Response, error) {
	return r.ApiService.StartPromptDiscoveryJobExecute(r)
}

/*
StartPromptDiscoveryJob Start a geo prompt discovery job for a project

Minimum role: manager. Starts background discovery of natural-language prompts - the questions an answer engine gets asked - from free-text seed input, and answers 202 with the job to poll; it never returns prompts inline. The job SUGGESTS prompts: it creates no tracked queries and changes nothing in the project. `country` is required here, unlike keyword discovery, because a prompt is a question asked from somewhere and the provider request has no default for it. Queries the project already tracks are excluded automatically; `excludeQueries` adds more for this run only. The organization must be active and hold an entitled subscription, because the run spends provider budget. Ten starts per minute per organization, counted across every key of every member; a retry carrying an Idempotency-Key already answered is served from the record and does not count. Run tuning is not exposed: the discovery fan-out uses provider defaults.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId Must belong to the organization in the path.
 @return ApiStartPromptDiscoveryJobRequest
*/
func (a *DiscoveryAPIService) StartPromptDiscoveryJob(ctx context.Context, organizationId string, projectId string) ApiStartPromptDiscoveryJobRequest {
	return ApiStartPromptDiscoveryJobRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return AcceptedJobResource
func (a *DiscoveryAPIService) StartPromptDiscoveryJobExecute(r ApiStartPromptDiscoveryJobRequest) (*AcceptedJobResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AcceptedJobResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DiscoveryAPIService.StartPromptDiscoveryJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/discovery/prompts"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if r.startPromptDiscoveryJobRequest == nil {
		return localVarReturnValue, nil, reportError("startPromptDiscoveryJobRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.startPromptDiscoveryJobRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
