/*
Mencoro API

Public API for Mencoro customers. Authenticate with an API key: `Authorization: Bearer mencoro_sk_...`.

API version: 1.0.0
Contact: support@mencoro.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mencoro

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// CapturesAPIService CapturesAPI service
type CapturesAPIService service

type ApiListAiResponsesRequest struct {
	ctx context.Context
	ApiService *CapturesAPIService
	organizationId string
	projectId string
	dateFrom *string
	dateTo *string
	trackedQueryId *string
	engines *[]string
	limit *int32
	offset *int32
	sortOrder *string
}

// Inclusive lower bound, widened to 00:00:00 UTC of the named day. Must be inside the retention window.
func (r ApiListAiResponsesRequest) DateFrom(dateFrom string) ApiListAiResponsesRequest {
	r.dateFrom = &dateFrom
	return r
}

// Inclusive upper bound, widened to 23:59:59 UTC of the named day.
func (r ApiListAiResponsesRequest) DateTo(dateTo string) ApiListAiResponsesRequest {
	r.dateTo = &dateTo
	return r
}

// Only captures of this tracked query. Must belong to the project in the path.
func (r ApiListAiResponsesRequest) TrackedQueryId(trackedQueryId string) ApiListAiResponsesRequest {
	r.trackedQueryId = &trackedQueryId
	return r
}

// Only captures from these AI engines. Repeat the parameter or pass a comma-separated list. An empty filter means every engine.
func (r ApiListAiResponsesRequest) Engines(engines []string) ApiListAiResponsesRequest {
	r.engines = &engines
	return r
}

// Page size. A larger value is rejected, never silently reduced.
func (r ApiListAiResponsesRequest) Limit(limit int32) ApiListAiResponsesRequest {
	r.limit = &limit
	return r
}

// Number of captures to skip before the page starts.
func (r ApiListAiResponsesRequest) Offset(offset int32) ApiListAiResponsesRequest {
	r.offset = &offset
	return r
}

// Direction of the capture-time ordering. An unknown value is rejected, not replaced by the default.
func (r ApiListAiResponsesRequest) SortOrder(sortOrder string) ApiListAiResponsesRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiListAiResponsesRequest) Execute() (*ListAiResponses200Response, *http.Response, error) {
	return r.ApiService.ListAiResponsesExecute(r)
}

/*
ListAiResponses List captured AI answers

Minimum role: viewer. Every AI answer captured for a project, newest first, one page at a time. This is the evidence under the analytics operations: the full answer text and the sources the engine cited, exactly as captured. Read `unresolved` on a citation before attributing its domain — a true value means the URL is still a redirector and the domain belongs to that redirector, not to the publisher; count the citation, do not credit the site. `passIndex` and `passCount` describe multi-pass sampling: rows sharing a `trackedQueryId` and `capturedAt` are passes of one run, not duplicates, so aggregating across them without dividing by `passCount` double-counts that run. `responseText` is the whole answer, so a page of 100 is a large response — lower `limit` rather than paging blind. Captures are kept for 16 months and purged after that; a `dateFrom` before the window is rejected rather than answered with an empty page. `total` counts every capture the filter matches, not the size of this page.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiListAiResponsesRequest
*/
func (a *CapturesAPIService) ListAiResponses(ctx context.Context, organizationId string, projectId string) ApiListAiResponsesRequest {
	return ApiListAiResponsesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return ListAiResponses200Response
func (a *CapturesAPIService) ListAiResponsesExecute(r ApiListAiResponsesRequest) (*ListAiResponses200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListAiResponses200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapturesAPIService.ListAiResponses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/ai-responses"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.dateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dateFrom", r.dateFrom, "form", "")
	}
	if r.dateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dateTo", r.dateTo, "form", "")
	}
	if r.trackedQueryId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trackedQueryId", r.trackedQueryId, "form", "")
	}
	if r.engines != nil {
		t := *r.engines
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "engines", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "engines", t, "form", "multi")
		}
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
		r.offset = &defaultValue
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	} else {
		var defaultValue string = "desc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListSearchSnapshotsRequest struct {
	ctx context.Context
	ApiService *CapturesAPIService
	organizationId string
	projectId string
	dateFrom *string
	dateTo *string
	trackedQueryId *string
	limit *int32
	offset *int32
	sortOrder *string
}

// Inclusive lower bound, widened to 00:00:00 UTC of the named day. Must be inside the retention window.
func (r ApiListSearchSnapshotsRequest) DateFrom(dateFrom string) ApiListSearchSnapshotsRequest {
	r.dateFrom = &dateFrom
	return r
}

// Inclusive upper bound, widened to 23:59:59 UTC of the named day.
func (r ApiListSearchSnapshotsRequest) DateTo(dateTo string) ApiListSearchSnapshotsRequest {
	r.dateTo = &dateTo
	return r
}

// Only captures of this tracked query. Must belong to the project in the path.
func (r ApiListSearchSnapshotsRequest) TrackedQueryId(trackedQueryId string) ApiListSearchSnapshotsRequest {
	r.trackedQueryId = &trackedQueryId
	return r
}

// Page size. A larger value is rejected, never silently reduced.
func (r ApiListSearchSnapshotsRequest) Limit(limit int32) ApiListSearchSnapshotsRequest {
	r.limit = &limit
	return r
}

// Number of captures to skip before the page starts.
func (r ApiListSearchSnapshotsRequest) Offset(offset int32) ApiListSearchSnapshotsRequest {
	r.offset = &offset
	return r
}

// Direction of the capture-time ordering. An unknown value is rejected, not replaced by the default.
func (r ApiListSearchSnapshotsRequest) SortOrder(sortOrder string) ApiListSearchSnapshotsRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiListSearchSnapshotsRequest) Execute() (*ListSearchSnapshots200Response, *http.Response, error) {
	return r.ApiService.ListSearchSnapshotsExecute(r)
}

/*
ListSearchSnapshots List captured search-results pages

Minimum role: viewer. Every organic search page captured for a project, newest first, one page at a time. This is what the rank figures in the analytics operations were computed from: the ranked results as they stood at `capturedAt`, not as they stand now. Read `unresolved` on a result before attributing its domain — a true value means the URL is still a redirector and the domain belongs to that redirector; count the result, do not credit the site. `rating` and `ratingVotes` come from a rich-result star rating when Google showed one and are absent far more often than present; their absence says nothing about the page. There is no `engines` filter because every capture here comes from Google SERP. Captures are kept for 16 months and purged after that; a `dateFrom` before the window is rejected rather than answered with an empty page. `total` counts every capture the filter matches, not the size of this page.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiListSearchSnapshotsRequest
*/
func (a *CapturesAPIService) ListSearchSnapshots(ctx context.Context, organizationId string, projectId string) ApiListSearchSnapshotsRequest {
	return ApiListSearchSnapshotsRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return ListSearchSnapshots200Response
func (a *CapturesAPIService) ListSearchSnapshotsExecute(r ApiListSearchSnapshotsRequest) (*ListSearchSnapshots200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListSearchSnapshots200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapturesAPIService.ListSearchSnapshots")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/search-snapshots"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.dateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dateFrom", r.dateFrom, "form", "")
	}
	if r.dateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dateTo", r.dateTo, "form", "")
	}
	if r.trackedQueryId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trackedQueryId", r.trackedQueryId, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
		r.offset = &defaultValue
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	} else {
		var defaultValue string = "desc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListShoppingSnapshotsRequest struct {
	ctx context.Context
	ApiService *CapturesAPIService
	organizationId string
	projectId string
	dateFrom *string
	dateTo *string
	trackedQueryId *string
	limit *int32
	offset *int32
	sortOrder *string
}

// Inclusive lower bound, widened to 00:00:00 UTC of the named day. A date before the retention floor is refused rather than answered with an empty page: shopping captures are aged out by the raw-data purge like every other capture.
func (r ApiListShoppingSnapshotsRequest) DateFrom(dateFrom string) ApiListShoppingSnapshotsRequest {
	r.dateFrom = &dateFrom
	return r
}

// Inclusive upper bound, widened to 23:59:59 UTC of the named day.
func (r ApiListShoppingSnapshotsRequest) DateTo(dateTo string) ApiListShoppingSnapshotsRequest {
	r.dateTo = &dateTo
	return r
}

// Only captures of this tracked query. Must belong to the project in the path.
func (r ApiListShoppingSnapshotsRequest) TrackedQueryId(trackedQueryId string) ApiListShoppingSnapshotsRequest {
	r.trackedQueryId = &trackedQueryId
	return r
}

// Page size. A larger value is rejected, never silently reduced.
func (r ApiListShoppingSnapshotsRequest) Limit(limit int32) ApiListShoppingSnapshotsRequest {
	r.limit = &limit
	return r
}

// Number of captures to skip before the page starts.
func (r ApiListShoppingSnapshotsRequest) Offset(offset int32) ApiListShoppingSnapshotsRequest {
	r.offset = &offset
	return r
}

// Direction of the capture-time ordering. An unknown value is rejected, not replaced by the default.
func (r ApiListShoppingSnapshotsRequest) SortOrder(sortOrder string) ApiListShoppingSnapshotsRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiListShoppingSnapshotsRequest) Execute() (*ListShoppingSnapshots200Response, *http.Response, error) {
	return r.ApiService.ListShoppingSnapshotsExecute(r)
}

/*
ListShoppingSnapshots List captured shopping-results pages

Minimum role: viewer. Every shopping page captured for a project, newest first, one page at a time: the ranked offers as they stood at `capturedAt`. `price` and `currency` are what the seller showed at that moment — no tax normalisation, no shipping, no conversion — and two offers in one snapshot may carry different currencies, so convert before comparing. `productId` is the marketplace's own identifier for the listing, stable enough to follow one offer across snapshots, and it is not a Mencoro id. Offers turn over far faster than organic results, so two snapshots days apart routinely share none; that is the marketplace behaving normally, not a gap in the capture. Unlike organic results, a shopping offer carries no `unresolved` flag: the capture pipeline does not record one for this surface. Shopping captures are trimmed by the same raw-data purge as AI answers and search pages, so the same retention floor applies: a `dateFrom` before it is refused rather than answered with an empty page. `total` counts every capture the filter matches, not the size of this page.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiListShoppingSnapshotsRequest
*/
func (a *CapturesAPIService) ListShoppingSnapshots(ctx context.Context, organizationId string, projectId string) ApiListShoppingSnapshotsRequest {
	return ApiListShoppingSnapshotsRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return ListShoppingSnapshots200Response
func (a *CapturesAPIService) ListShoppingSnapshotsExecute(r ApiListShoppingSnapshotsRequest) (*ListShoppingSnapshots200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListShoppingSnapshots200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapturesAPIService.ListShoppingSnapshots")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/shopping-snapshots"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.dateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dateFrom", r.dateFrom, "form", "")
	}
	if r.dateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dateTo", r.dateTo, "form", "")
	}
	if r.trackedQueryId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trackedQueryId", r.trackedQueryId, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
		r.offset = &defaultValue
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	} else {
		var defaultValue string = "desc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
