/*
Mencoro API

Public API for Mencoro customers. Authenticate with an API key: `Authorization: Bearer mencoro_sk_...`.

API version: 1.0.0
Contact: support@mencoro.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mencoro

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// AnalyticsAPIService AnalyticsAPI service
type AnalyticsAPIService service

type ApiGetAvailableFiltersRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	organizationId string
	projectId string
}

func (r ApiGetAvailableFiltersRequest) Execute() (*GetAvailableFilters200Response, *http.Response, error) {
	return r.ApiService.GetAvailableFiltersExecute(r)
}

/*
GetAvailableFilters Filter values a project is configured for

Minimum role: viewer. Call this first: it is where every other analytics operation sends you for the valid engines, countries and keyword clusters of a project, and the values it returns are the exact strings the engines, countries and queryClusterIds parameters accept — anything else is rejected as a 400. Engines are engine codes, countries are ISO-3166 alpha-2 codes, and clusters are {id, name} objects whose id goes in queryClusterIds. Takes no date window: it describes how the project is configured right now, so a value is listed as soon as a tracked query uses it, even when no response has been captured for it yet. An empty list therefore means nothing is configured for it, not that no data was collected. Competitor ids are not part of this response.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiGetAvailableFiltersRequest
*/
func (a *AnalyticsAPIService) GetAvailableFilters(ctx context.Context, organizationId string, projectId string) ApiGetAvailableFiltersRequest {
	return ApiGetAvailableFiltersRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return GetAvailableFilters200Response
func (a *AnalyticsAPIService) GetAvailableFiltersExecute(r ApiGetAvailableFiltersRequest) (*GetAvailableFilters200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetAvailableFilters200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetAvailableFilters")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/available-filters"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCitedSourcesRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	organizationId string
	projectId string
	dateFrom *string
	dateTo *string
	engines *[]string
	groupBy *string
	limit *int32
	offset *int32
}

// Inclusive start of the window, Y-m-d. Must fall inside the data retention window.
func (r ApiGetCitedSourcesRequest) DateFrom(dateFrom string) ApiGetCitedSourcesRequest {
	r.dateFrom = &dateFrom
	return r
}

// Inclusive end of the window, Y-m-d.
func (r ApiGetCitedSourcesRequest) DateTo(dateTo string) ApiGetCitedSourcesRequest {
	r.dateTo = &dateTo
	return r
}

// Repeatable, or comma-separated. Only the AI engines carry citations.
func (r ApiGetCitedSourcesRequest) Engines(engines []string) ApiGetCitedSourcesRequest {
	r.engines = &engines
	return r
}

// Grain of the roll-up: \&quot;domain\&quot; by host, \&quot;page\&quot; by exact URL.
func (r ApiGetCitedSourcesRequest) GroupBy(groupBy string) ApiGetCitedSourcesRequest {
	r.groupBy = &groupBy
	return r
}

// Page size. A larger value is rejected, never silently reduced.
func (r ApiGetCitedSourcesRequest) Limit(limit int32) ApiGetCitedSourcesRequest {
	r.limit = &limit
	return r
}

// Number of sources to skip.
func (r ApiGetCitedSourcesRequest) Offset(offset int32) ApiGetCitedSourcesRequest {
	r.offset = &offset
	return r
}

func (r ApiGetCitedSourcesRequest) Execute() (*CitedSourcesResponse, *http.Response, error) {
	return r.ApiService.GetCitedSourcesExecute(r)
}

/*
GetCitedSources Domains and pages the AI answers cited

Minimum role: viewer. The sources the answer engines drew on across a project's AI answers over a date window, ranked by how often they were cited. Per source: citationCount, the total number of citations; distinctResponseCount and distinctQueryCount, how many captured answers and tracked queries it appeared in; avgPosition, its average 1-based rank inside the answers' citation lists, where LOWER is better. A null avgPosition means no citation in the window carried a position, not a rank of zero; a null domain or sampleTitle means the citation never carried one. `total` counts the distinct sources matching the window, before paging. The list is UNFILTERED by ownership: the brand's, competitors' and third-party sources sit in the same ranking. Only the AI answer engines (chatgpt, perplexity, google_ai_overview, google_ai_mode) produce citations, so filtering by google_serp or google_shopping is accepted and returns nothing. Citations still behind an answer engine's redirect (a google.com/goto link, whose URL names the engine rather than the source) are excluded, so a source cited only through such links is absent from this list rather than counted as zero.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiGetCitedSourcesRequest
*/
func (a *AnalyticsAPIService) GetCitedSources(ctx context.Context, organizationId string, projectId string) ApiGetCitedSourcesRequest {
	return ApiGetCitedSourcesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return CitedSourcesResponse
func (a *AnalyticsAPIService) GetCitedSourcesExecute(r ApiGetCitedSourcesRequest) (*CitedSourcesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CitedSourcesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetCitedSources")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/cited-sources"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dateFrom == nil {
		return localVarReturnValue, nil, reportError("dateFrom is required and must be specified")
	}
	if r.dateTo == nil {
		return localVarReturnValue, nil, reportError("dateTo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dateFrom", r.dateFrom, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "dateTo", r.dateTo, "form", "")
	if r.engines != nil {
		t := *r.engines
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "engines", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "engines", t, "form", "multi")
		}
	}
	if r.groupBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "groupBy", r.groupBy, "form", "")
	} else {
		var defaultValue string = "domain"
		parameterAddToHeaderOrQuery(localVarQueryParams, "groupBy", defaultValue, "form", "")
		r.groupBy = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
		r.offset = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetClusterBreakdownRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	organizationId string
	projectId string
	dateFrom *string
	dateTo *string
	engines *[]string
	countries *[]string
	queryClusterIds *[]string
	includeUngroupedQueries *bool
}

// Inclusive start of the window, Y-m-d. Must fall inside the data retention window.
func (r ApiGetClusterBreakdownRequest) DateFrom(dateFrom string) ApiGetClusterBreakdownRequest {
	r.dateFrom = &dateFrom
	return r
}

// Inclusive end of the window, Y-m-d.
func (r ApiGetClusterBreakdownRequest) DateTo(dateTo string) ApiGetClusterBreakdownRequest {
	r.dateTo = &dateTo
	return r
}

// Repeatable, or comma-separated.
func (r ApiGetClusterBreakdownRequest) Engines(engines []string) ApiGetClusterBreakdownRequest {
	r.engines = &engines
	return r
}

// ISO-3166 alpha-2 codes or English names. Must be configured on the project.
func (r ApiGetClusterBreakdownRequest) Countries(countries []string) ApiGetClusterBreakdownRequest {
	r.countries = &countries
	return r
}

// Restrict to these clusters. Each must belong to the project.
func (r ApiGetClusterBreakdownRequest) QueryClusterIds(queryClusterIds []string) ApiGetClusterBreakdownRequest {
	r.queryClusterIds = &queryClusterIds
	return r
}

// Sent alone, returns only the ungrouped bucket rather than adding it to every cluster.
func (r ApiGetClusterBreakdownRequest) IncludeUngroupedQueries(includeUngroupedQueries bool) ApiGetClusterBreakdownRequest {
	r.includeUngroupedQueries = &includeUngroupedQueries
	return r
}

func (r ApiGetClusterBreakdownRequest) Execute() (*ProjectRankTrackingClusterBreakdown, *http.Response, error) {
	return r.ApiService.GetClusterBreakdownExecute(r)
}

/*
GetClusterBreakdown Rank-tracking metrics per keyword cluster

Minimum role: viewer. One row per keyword cluster over a date window, with its tracked query and keyword counts, average positions, rates, share of voice and sentiment split. A row whose clusterId is null is the ungrouped bucket: the tracked queries belonging to no cluster. Position metrics are 1-based and LOWER is better; rates, positivityIndex and shareOfVoice are 0-100 percentages where higher is better. A null metric means nothing was captured for that cluster in the window — it is not a zero, and averaging or charting it as one would misstate the period. dataDirtySince is non-null while a recalculation is pending, meaning the numbers predate the latest configuration change.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiGetClusterBreakdownRequest
*/
func (a *AnalyticsAPIService) GetClusterBreakdown(ctx context.Context, organizationId string, projectId string) ApiGetClusterBreakdownRequest {
	return ApiGetClusterBreakdownRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return ProjectRankTrackingClusterBreakdown
func (a *AnalyticsAPIService) GetClusterBreakdownExecute(r ApiGetClusterBreakdownRequest) (*ProjectRankTrackingClusterBreakdown, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProjectRankTrackingClusterBreakdown
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetClusterBreakdown")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/metrics/clusters"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dateFrom == nil {
		return localVarReturnValue, nil, reportError("dateFrom is required and must be specified")
	}
	if r.dateTo == nil {
		return localVarReturnValue, nil, reportError("dateTo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dateFrom", r.dateFrom, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "dateTo", r.dateTo, "form", "")
	if r.engines != nil {
		t := *r.engines
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "engines", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "engines", t, "form", "multi")
		}
	}
	if r.countries != nil {
		t := *r.countries
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "countries", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "countries", t, "form", "multi")
		}
	}
	if r.queryClusterIds != nil {
		t := *r.queryClusterIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "queryClusterIds", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "queryClusterIds", t, "form", "multi")
		}
	}
	if r.includeUngroupedQueries != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeUngroupedQueries", r.includeUngroupedQueries, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeUngroupedQueries", defaultValue, "form", "")
		r.includeUngroupedQueries = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCompetitorCoOccurrenceRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	organizationId string
	projectId string
	dateFrom *string
	dateTo *string
	engines *[]string
	countries *[]string
	competitorId *string
}

// Inclusive start of the window, Y-m-d. Must fall inside the data retention window.
func (r ApiGetCompetitorCoOccurrenceRequest) DateFrom(dateFrom string) ApiGetCompetitorCoOccurrenceRequest {
	r.dateFrom = &dateFrom
	return r
}

// Inclusive end of the window, Y-m-d.
func (r ApiGetCompetitorCoOccurrenceRequest) DateTo(dateTo string) ApiGetCompetitorCoOccurrenceRequest {
	r.dateTo = &dateTo
	return r
}

// Repeatable, or comma-separated. SERP and Shopping carry no AI answer text, so they contribute no co-occurrence.
func (r ApiGetCompetitorCoOccurrenceRequest) Engines(engines []string) ApiGetCompetitorCoOccurrenceRequest {
	r.engines = &engines
	return r
}

// ISO-3166 alpha-2 codes or English names. Must be configured on the project.
func (r ApiGetCompetitorCoOccurrenceRequest) Countries(countries []string) ApiGetCompetitorCoOccurrenceRequest {
	r.countries = &countries
	return r
}

// Restricts the answer to a single tracked competitor. Omit it for every tracked competitor. The available-filters endpoint lists the valid ids.
func (r ApiGetCompetitorCoOccurrenceRequest) CompetitorId(competitorId string) ApiGetCompetitorCoOccurrenceRequest {
	r.competitorId = &competitorId
	return r
}

func (r ApiGetCompetitorCoOccurrenceRequest) Execute() (*CompetitorCoOccurrenceResponse, *http.Response, error) {
	return r.ApiService.GetCompetitorCoOccurrenceExecute(r)
}

/*
GetCompetitorCoOccurrence Head-to-head record of the brand against each tracked competitor

Minimum role: viewer. Restricted to the AI answers where the brand and a competitor are BOTH mentioned, one row per tracked competitor: sharedResponseCount is how many such answers there are, and brandWins / competitorWins / ties split them by who holds the better (lower) best mention position. winRate is the percentage 0-100 of those answers the brand wins; avgOwnPosition and avgCompetitorPosition are the average best mention position each side held, 1-based, so LOWER is better. exampleQueryText and exampleAiResponseId point at one representative shared answer. Every nullable field means "not known yet" rather than zero: a null winRate or average position is the absence of a shared answer in the window, not a record of losing. Tracked competitors only.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiGetCompetitorCoOccurrenceRequest
*/
func (a *AnalyticsAPIService) GetCompetitorCoOccurrence(ctx context.Context, organizationId string, projectId string) ApiGetCompetitorCoOccurrenceRequest {
	return ApiGetCompetitorCoOccurrenceRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return CompetitorCoOccurrenceResponse
func (a *AnalyticsAPIService) GetCompetitorCoOccurrenceExecute(r ApiGetCompetitorCoOccurrenceRequest) (*CompetitorCoOccurrenceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CompetitorCoOccurrenceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetCompetitorCoOccurrence")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/competitors/co-occurrence"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dateFrom == nil {
		return localVarReturnValue, nil, reportError("dateFrom is required and must be specified")
	}
	if r.dateTo == nil {
		return localVarReturnValue, nil, reportError("dateTo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dateFrom", r.dateFrom, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "dateTo", r.dateTo, "form", "")
	if r.engines != nil {
		t := *r.engines
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "engines", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "engines", t, "form", "multi")
		}
	}
	if r.countries != nil {
		t := *r.countries
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "countries", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "countries", t, "form", "multi")
		}
	}
	if r.competitorId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "competitorId", r.competitorId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMentionMixRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	organizationId string
	projectId string
	dateFrom *string
	dateTo *string
	engines *[]string
	countries *[]string
}

// Inclusive start of the window, Y-m-d. Must fall inside the data retention window.
func (r ApiGetMentionMixRequest) DateFrom(dateFrom string) ApiGetMentionMixRequest {
	r.dateFrom = &dateFrom
	return r
}

// Inclusive end of the window, Y-m-d.
func (r ApiGetMentionMixRequest) DateTo(dateTo string) ApiGetMentionMixRequest {
	r.dateTo = &dateTo
	return r
}

// Repeatable, or comma-separated. Non-AI engines contribute no mentions.
func (r ApiGetMentionMixRequest) Engines(engines []string) ApiGetMentionMixRequest {
	r.engines = &engines
	return r
}

// ISO-3166 alpha-2 codes or English names. Must be configured on the project.
func (r ApiGetMentionMixRequest) Countries(countries []string) ApiGetMentionMixRequest {
	r.countries = &countries
	return r
}

func (r ApiGetMentionMixRequest) Execute() (*ProjectMentionMixResponse, *http.Response, error) {
	return r.ApiService.GetMentionMixExecute(r)
}

/*
GetMentionMix Composition of a project brand mentions in AI answers

Minimum role: viewer. Counts of the project brand's own text mentions in AI answers over a date window, grouped three ways: byType (recommendation, comparison, listing, example, reference), byTone (positive, neutral, negative) and byQualifier (direct, conditional — a conditional mention is one the answer hedged with a condition). These are the inputs behind the Share of Voice weighted score. Every bucket is always present and is a plain count, never null: a zero means no mention of that kind was found in the window. The three groupings count the same mentions, so each one sums to the same total. Only the project brand is counted, never a competitor, and only mentions inside the answer text — a citation of the brand's URL is not a mention here. Only AI answer engines produce mentions, so restricting engines to google_serp or google_shopping alone returns all zeros. For the positive/neutral/negative split per engine and per competitor use the sentiment endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiGetMentionMixRequest
*/
func (a *AnalyticsAPIService) GetMentionMix(ctx context.Context, organizationId string, projectId string) ApiGetMentionMixRequest {
	return ApiGetMentionMixRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return ProjectMentionMixResponse
func (a *AnalyticsAPIService) GetMentionMixExecute(r ApiGetMentionMixRequest) (*ProjectMentionMixResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProjectMentionMixResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetMentionMix")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/mentions/mix"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dateFrom == nil {
		return localVarReturnValue, nil, reportError("dateFrom is required and must be specified")
	}
	if r.dateTo == nil {
		return localVarReturnValue, nil, reportError("dateTo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dateFrom", r.dateFrom, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "dateTo", r.dateTo, "form", "")
	if r.engines != nil {
		t := *r.engines
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "engines", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "engines", t, "form", "multi")
		}
	}
	if r.countries != nil {
		t := *r.countries
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "countries", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "countries", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMentionSamplesRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	organizationId string
	projectId string
	dateFrom *string
	dateTo *string
	engines *[]string
	countries *[]string
	sentiment *string
	mentionType *string
	competitorId *string
	sortBy *string
	limit *int32
	offset *int32
}

// Inclusive start of the window, Y-m-d. Must fall inside the data retention window.
func (r ApiGetMentionSamplesRequest) DateFrom(dateFrom string) ApiGetMentionSamplesRequest {
	r.dateFrom = &dateFrom
	return r
}

// Inclusive end of the window, Y-m-d.
func (r ApiGetMentionSamplesRequest) DateTo(dateTo string) ApiGetMentionSamplesRequest {
	r.dateTo = &dateTo
	return r
}

// Repeatable, or comma-separated. Non-AI engines contribute no mentions.
func (r ApiGetMentionSamplesRequest) Engines(engines []string) ApiGetMentionSamplesRequest {
	r.engines = &engines
	return r
}

// ISO-3166 alpha-2 codes or English names. Must be configured on the project.
func (r ApiGetMentionSamplesRequest) Countries(countries []string) ApiGetMentionSamplesRequest {
	r.countries = &countries
	return r
}

// Restrict to one sentiment label. Omit for every sentiment.
func (r ApiGetMentionSamplesRequest) Sentiment(sentiment string) ApiGetMentionSamplesRequest {
	r.sentiment = &sentiment
	return r
}

// Restrict to one mention type. Omit for every type.
func (r ApiGetMentionSamplesRequest) MentionType(mentionType string) ApiGetMentionSamplesRequest {
	r.mentionType = &mentionType
	return r
}

// UUID of a single competitor, as listed by the available-filters endpoint (competitors[].id). Omitted, the page is restricted to mentions storing no competitor id, which is own-brand and untracked-competitor mentions together — see the operation description and read mentionRelation to tell them apart.
func (r ApiGetMentionSamplesRequest) CompetitorId(competitorId string) ApiGetMentionSamplesRequest {
	r.competitorId = &competitorId
	return r
}

// recent: newest first. negative: negative sentiment first, then neutral, then positive, newest first inside each. engine and country: grouped alphabetically, newest first inside each group. An unknown value is rejected, not replaced by the default.
func (r ApiGetMentionSamplesRequest) SortBy(sortBy string) ApiGetMentionSamplesRequest {
	r.sortBy = &sortBy
	return r
}

// Page size. A larger value is rejected, never silently reduced.
func (r ApiGetMentionSamplesRequest) Limit(limit int32) ApiGetMentionSamplesRequest {
	r.limit = &limit
	return r
}

// Number of matching mentions to skip before the page starts.
func (r ApiGetMentionSamplesRequest) Offset(offset int32) ApiGetMentionSamplesRequest {
	r.offset = &offset
	return r
}

func (r ApiGetMentionSamplesRequest) Execute() (*ProjectMentionSamplesResponse, *http.Response, error) {
	return r.ApiService.GetMentionSamplesExecute(r)
}

/*
GetMentionSamples Sample of the raw AI mention texts of a project

Minimum role: viewer. A paginated page of the individual mention texts behind the aggregate numbers, for qualitative review and for checking sentiment labels by eye. Each sample carries the mention text, the engine and country it was seen in, the tracked query that produced it, its sentiment and mention type, and mentionPosition — a 1-based rank inside the answer where LOWER is better, always present. `total` counts every mention matching the filters, not the size of the page returned. Only mentions inside the answer text are returned: a citation of the brand URL is not a mention here, and only AI answer engines produce mentions, so restricting engines to google_serp or google_shopping alone returns an empty page rather than an error. Two fields carry a "not known" rather than a zero: country is null and queryText is empty when the tracked query behind the mention has since been deleted, and competitorId is null when the mention row stores no competitor id — which is NOT an assertion that the mention is about your own brand, since an untracked competitor also stores none. Read mentionRelation instead: `own` and `tracked-competitor` are what the scraper resolved to a configured entity, `untracked-competitor` is a rival the project does not track, and null means the row predates the field. brandName carries the mentioned brand, and is the only way to name an untracked competitor, which has no competitor id to resolve one from. Omitting the competitorId filter returns exactly the rows with no competitor id stored — that is, own-brand AND untracked-competitor mentions together, not every competitor; pass a competitor UUID to restrict the page to that competitor, and use mentionRelation to separate the rest. For the aggregate positive/neutral/negative split use the sentiment endpoint, and for weighted mention-type counts the mention mix endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiGetMentionSamplesRequest
*/
func (a *AnalyticsAPIService) GetMentionSamples(ctx context.Context, organizationId string, projectId string) ApiGetMentionSamplesRequest {
	return ApiGetMentionSamplesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return ProjectMentionSamplesResponse
func (a *AnalyticsAPIService) GetMentionSamplesExecute(r ApiGetMentionSamplesRequest) (*ProjectMentionSamplesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProjectMentionSamplesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetMentionSamples")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/mentions"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dateFrom == nil {
		return localVarReturnValue, nil, reportError("dateFrom is required and must be specified")
	}
	if r.dateTo == nil {
		return localVarReturnValue, nil, reportError("dateTo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dateFrom", r.dateFrom, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "dateTo", r.dateTo, "form", "")
	if r.engines != nil {
		t := *r.engines
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "engines", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "engines", t, "form", "multi")
		}
	}
	if r.countries != nil {
		t := *r.countries
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "countries", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "countries", t, "form", "multi")
		}
	}
	if r.sentiment != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sentiment", r.sentiment, "form", "")
	}
	if r.mentionType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mentionType", r.mentionType, "form", "")
	}
	if r.competitorId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "competitorId", r.competitorId, "form", "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "form", "")
	} else {
		var defaultValue string = "recent"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", defaultValue, "form", "")
		r.sortBy = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
		r.offset = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetMentionSamples400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMetricGlossaryRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
}

func (r ApiGetMetricGlossaryRequest) Execute() (*GetMetricGlossary200Response, *http.Response, error) {
	return r.ApiService.GetMetricGlossaryExecute(r)
}

/*
GetMetricGlossary Map everyday wording to a metric and the operation that serves it

Static reference, no project data. Each entry gives a metric, the everyday words people use for it, its unit and range, whether higher or lower is better, the operation that returns it, and example questions. Useful when turning a vague or non-technical request into the right call.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetMetricGlossaryRequest
*/
func (a *AnalyticsAPIService) GetMetricGlossary(ctx context.Context) ApiGetMetricGlossaryRequest {
	return ApiGetMetricGlossaryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetMetricGlossary200Response
func (a *AnalyticsAPIService) GetMetricGlossaryExecute(r ApiGetMetricGlossaryRequest) (*GetMetricGlossary200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetMetricGlossary200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetMetricGlossary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/metric-glossary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetOrganizationOverviewRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	organizationId string
}

func (r ApiGetOrganizationOverviewRequest) Execute() (*GetOrganizationOverview200Response, *http.Response, error) {
	return r.ApiService.GetOrganizationOverviewExecute(r)
}

/*
GetOrganizationOverview Snapshot rank-health board across an organization active projects

Minimum role: viewer. One row per active project — share of voice, mention rate, average mention position, positivity index and tracked-query count — ordered by share of voice, plus an organization-level aggregate of the same metrics. Archived projects are excluded. This is a current-state snapshot and takes no date window; for a date-ranged comparison call the per-project operations (getProjectMetrics, getProjectTimeSeries) for each projectId returned here. Every metric is nullable, and a null means the project has no rank data yet — not a score of zero. Higher is better for shareOfVoice, mentionRate and positivityIndex; avgMentionPosition is a 1-based rank, so LOWER is better.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @return ApiGetOrganizationOverviewRequest
*/
func (a *AnalyticsAPIService) GetOrganizationOverview(ctx context.Context, organizationId string) ApiGetOrganizationOverviewRequest {
	return ApiGetOrganizationOverviewRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return GetOrganizationOverview200Response
func (a *AnalyticsAPIService) GetOrganizationOverviewExecute(r ApiGetOrganizationOverviewRequest) (*GetOrganizationOverview200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetOrganizationOverview200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetOrganizationOverview")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/overview"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectMetricsRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	organizationId string
	projectId string
	dateFrom *string
	dateTo *string
	engines *[]string
	countries *[]string
	queryClusterIds *[]string
	includeUngroupedQueries *bool
}

// Inclusive start of the window, Y-m-d. Must fall inside the data retention window.
func (r ApiGetProjectMetricsRequest) DateFrom(dateFrom string) ApiGetProjectMetricsRequest {
	r.dateFrom = &dateFrom
	return r
}

// Inclusive end of the window, Y-m-d.
func (r ApiGetProjectMetricsRequest) DateTo(dateTo string) ApiGetProjectMetricsRequest {
	r.dateTo = &dateTo
	return r
}

// Repeatable, or comma-separated.
func (r ApiGetProjectMetricsRequest) Engines(engines []string) ApiGetProjectMetricsRequest {
	r.engines = &engines
	return r
}

// ISO-3166 alpha-2 codes or English names. Must be configured on the project.
func (r ApiGetProjectMetricsRequest) Countries(countries []string) ApiGetProjectMetricsRequest {
	r.countries = &countries
	return r
}

// Restrict to these keyword clusters. Each must belong to this project.
func (r ApiGetProjectMetricsRequest) QueryClusterIds(queryClusterIds []string) ApiGetProjectMetricsRequest {
	r.queryClusterIds = &queryClusterIds
	return r
}

// Only meaningful together with queryClusterIds: also counts the tracked queries that belong to no cluster.
func (r ApiGetProjectMetricsRequest) IncludeUngroupedQueries(includeUngroupedQueries bool) ApiGetProjectMetricsRequest {
	r.includeUngroupedQueries = &includeUngroupedQueries
	return r
}

func (r ApiGetProjectMetricsRequest) Execute() (*ProjectRankTrackingStats, *http.Response, error) {
	return r.ApiService.GetProjectMetricsExecute(r)
}

/*
GetProjectMetrics Headline visibility metrics of a project

Minimum role: viewer. The project overview over a date window: share of voice (own and per competitor), mention / SERP / shopping rates, average and best positions, position stability, the sentiment split and the position-distribution buckets. Positions are 1-based, so a LOWER number is better; rates, the positivity index and share of voice are percentages from 0 to 100, where HIGHER is better. Every `trend*` field is the signed change against the immediately preceding window of the same length: negative means an improved position, positive means an improved rate or score. A null metric means "not known yet", never zero: a scalar is null when the window holds no checks at all, and a `trend*` field is null when there is no earlier window to compare against. The counters (`mentionCount`, `*TrackedQueryCount`, `*QueriesWithResult`, `sentiment*` and `mentionTypeCounts`) are genuine zeros instead, so an empty window reads as zero counts with null rates. `dataDirtySince` is non-null while a recalculation is pending, meaning the figures may still move for dates from then on.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiGetProjectMetricsRequest
*/
func (a *AnalyticsAPIService) GetProjectMetrics(ctx context.Context, organizationId string, projectId string) ApiGetProjectMetricsRequest {
	return ApiGetProjectMetricsRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return ProjectRankTrackingStats
func (a *AnalyticsAPIService) GetProjectMetricsExecute(r ApiGetProjectMetricsRequest) (*ProjectRankTrackingStats, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProjectRankTrackingStats
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetProjectMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/metrics"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dateFrom == nil {
		return localVarReturnValue, nil, reportError("dateFrom is required and must be specified")
	}
	if r.dateTo == nil {
		return localVarReturnValue, nil, reportError("dateTo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dateFrom", r.dateFrom, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "dateTo", r.dateTo, "form", "")
	if r.engines != nil {
		t := *r.engines
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "engines", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "engines", t, "form", "multi")
		}
	}
	if r.countries != nil {
		t := *r.countries
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "countries", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "countries", t, "form", "multi")
		}
	}
	if r.queryClusterIds != nil {
		t := *r.queryClusterIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "queryClusterIds", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "queryClusterIds", t, "form", "multi")
		}
	}
	if r.includeUngroupedQueries != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeUngroupedQueries", r.includeUngroupedQueries, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeUngroupedQueries", defaultValue, "form", "")
		r.includeUngroupedQueries = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectSentimentRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	organizationId string
	projectId string
	dateFrom *string
	dateTo *string
	engines *[]string
	countries *[]string
	queryClusterIds *[]string
	includeUngroupedQueries *bool
}

// Inclusive start of the window, Y-m-d. Must fall inside the data retention window.
func (r ApiGetProjectSentimentRequest) DateFrom(dateFrom string) ApiGetProjectSentimentRequest {
	r.dateFrom = &dateFrom
	return r
}

// Inclusive end of the window, Y-m-d.
func (r ApiGetProjectSentimentRequest) DateTo(dateTo string) ApiGetProjectSentimentRequest {
	r.dateTo = &dateTo
	return r
}

// Repeatable, or comma-separated.
func (r ApiGetProjectSentimentRequest) Engines(engines []string) ApiGetProjectSentimentRequest {
	r.engines = &engines
	return r
}

// ISO-3166 alpha-2 codes or English names. Must be configured on the project.
func (r ApiGetProjectSentimentRequest) Countries(countries []string) ApiGetProjectSentimentRequest {
	r.countries = &countries
	return r
}

func (r ApiGetProjectSentimentRequest) QueryClusterIds(queryClusterIds []string) ApiGetProjectSentimentRequest {
	r.queryClusterIds = &queryClusterIds
	return r
}

func (r ApiGetProjectSentimentRequest) IncludeUngroupedQueries(includeUngroupedQueries bool) ApiGetProjectSentimentRequest {
	r.includeUngroupedQueries = &includeUngroupedQueries
	return r
}

func (r ApiGetProjectSentimentRequest) Execute() (*ProjectSentimentBreakdown, *http.Response, error) {
	return r.ApiService.GetProjectSentimentExecute(r)
}

/*
GetProjectSentiment Sentiment breakdown of a project brand mentions

Minimum role: viewer. Positive, neutral and negative split of the brand mentions in AI answers over a date window, per engine and per competitor. A null positivityIndex means no mentions were found in the window, which is not the same as a score of zero.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiGetProjectSentimentRequest
*/
func (a *AnalyticsAPIService) GetProjectSentiment(ctx context.Context, organizationId string, projectId string) ApiGetProjectSentimentRequest {
	return ApiGetProjectSentimentRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return ProjectSentimentBreakdown
func (a *AnalyticsAPIService) GetProjectSentimentExecute(r ApiGetProjectSentimentRequest) (*ProjectSentimentBreakdown, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProjectSentimentBreakdown
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetProjectSentiment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/sentiment"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dateFrom == nil {
		return localVarReturnValue, nil, reportError("dateFrom is required and must be specified")
	}
	if r.dateTo == nil {
		return localVarReturnValue, nil, reportError("dateTo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dateFrom", r.dateFrom, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "dateTo", r.dateTo, "form", "")
	if r.engines != nil {
		t := *r.engines
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "engines", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "engines", t, "form", "multi")
		}
	}
	if r.countries != nil {
		t := *r.countries
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "countries", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "countries", t, "form", "multi")
		}
	}
	if r.queryClusterIds != nil {
		t := *r.queryClusterIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "queryClusterIds", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "queryClusterIds", t, "form", "multi")
		}
	}
	if r.includeUngroupedQueries != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeUngroupedQueries", r.includeUngroupedQueries, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeUngroupedQueries", defaultValue, "form", "")
		r.includeUngroupedQueries = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectTimeSeriesRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	organizationId string
	projectId string
	dateFrom *string
	dateTo *string
	granularity *string
	engines *[]string
	countries *[]string
	queryClusterIds *[]string
	includeUngroupedQueries *bool
	competitorIds *[]string
}

// Inclusive start of the window, Y-m-d. Must fall inside the data retention window.
func (r ApiGetProjectTimeSeriesRequest) DateFrom(dateFrom string) ApiGetProjectTimeSeriesRequest {
	r.dateFrom = &dateFrom
	return r
}

// Inclusive end of the window, Y-m-d.
func (r ApiGetProjectTimeSeriesRequest) DateTo(dateTo string) ApiGetProjectTimeSeriesRequest {
	r.dateTo = &dateTo
	return r
}

// Bucket size of each point.
func (r ApiGetProjectTimeSeriesRequest) Granularity(granularity string) ApiGetProjectTimeSeriesRequest {
	r.granularity = &granularity
	return r
}

// Repeatable, or comma-separated.
func (r ApiGetProjectTimeSeriesRequest) Engines(engines []string) ApiGetProjectTimeSeriesRequest {
	r.engines = &engines
	return r
}

// ISO-3166 alpha-2 codes or English names. Must be configured on the project.
func (r ApiGetProjectTimeSeriesRequest) Countries(countries []string) ApiGetProjectTimeSeriesRequest {
	r.countries = &countries
	return r
}

func (r ApiGetProjectTimeSeriesRequest) QueryClusterIds(queryClusterIds []string) ApiGetProjectTimeSeriesRequest {
	r.queryClusterIds = &queryClusterIds
	return r
}

// On its own this NARROWS the series to tracked queries that belong to no cluster; combined with queryClusterIds it widens those clusters to also cover them.
func (r ApiGetProjectTimeSeriesRequest) IncludeUngroupedQueries(includeUngroupedQueries bool) ApiGetProjectTimeSeriesRequest {
	r.includeUngroupedQueries = &includeUngroupedQueries
	return r
}

// Repeatable, or comma-separated. Each id adds one series under the competitors map of every point.
func (r ApiGetProjectTimeSeriesRequest) CompetitorIds(competitorIds []string) ApiGetProjectTimeSeriesRequest {
	r.competitorIds = &competitorIds
	return r
}

func (r ApiGetProjectTimeSeriesRequest) Execute() (*ProjectRankTrackingTimeSeries, *http.Response, error) {
	return r.ApiService.GetProjectTimeSeriesExecute(r)
}

/*
GetProjectTimeSeries Rank-tracking metrics of a project over time

Minimum role: viewer. One point per bucket over the date window, each carrying the brand metrics and one same-shaped entry per requested competitor. Rank metrics (serp, shopping, mention, link) are 1-based averages where LOWER is better; positivity (0-100), shareOfVoice (0-100), mentionRate (0-100) and serpRate (0-100) are scores where higher is better. Every metric is nullable, and a null means no data was collected for that bucket, which is not the same as a value of zero. A project with no tracked queries returns an empty points list. Prefer weekly or monthly granularity over a long window to keep the response compact.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiGetProjectTimeSeriesRequest
*/
func (a *AnalyticsAPIService) GetProjectTimeSeries(ctx context.Context, organizationId string, projectId string) ApiGetProjectTimeSeriesRequest {
	return ApiGetProjectTimeSeriesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return ProjectRankTrackingTimeSeries
func (a *AnalyticsAPIService) GetProjectTimeSeriesExecute(r ApiGetProjectTimeSeriesRequest) (*ProjectRankTrackingTimeSeries, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProjectRankTrackingTimeSeries
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetProjectTimeSeries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/timeseries"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dateFrom == nil {
		return localVarReturnValue, nil, reportError("dateFrom is required and must be specified")
	}
	if r.dateTo == nil {
		return localVarReturnValue, nil, reportError("dateTo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dateFrom", r.dateFrom, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "dateTo", r.dateTo, "form", "")
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	} else {
		var defaultValue string = "daily"
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", defaultValue, "form", "")
		r.granularity = &defaultValue
	}
	if r.engines != nil {
		t := *r.engines
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "engines", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "engines", t, "form", "multi")
		}
	}
	if r.countries != nil {
		t := *r.countries
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "countries", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "countries", t, "form", "multi")
		}
	}
	if r.queryClusterIds != nil {
		t := *r.queryClusterIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "queryClusterIds", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "queryClusterIds", t, "form", "multi")
		}
	}
	if r.includeUngroupedQueries != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeUngroupedQueries", r.includeUngroupedQueries, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeUngroupedQueries", defaultValue, "form", "")
		r.includeUngroupedQueries = &defaultValue
	}
	if r.competitorIds != nil {
		t := *r.competitorIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "competitorIds", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "competitorIds", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetQueryMoversRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	organizationId string
	projectId string
	dateFrom *string
	dateTo *string
	engines *[]string
	countries *[]string
	sortBy *string
	sortOrder *string
	limit *int32
	offset *int32
}

// Inclusive start of the window, Y-m-d. Must fall inside the data retention window. The comparison window is the equally long stretch immediately before it.
func (r ApiGetQueryMoversRequest) DateFrom(dateFrom string) ApiGetQueryMoversRequest {
	r.dateFrom = &dateFrom
	return r
}

// Inclusive end of the window, Y-m-d.
func (r ApiGetQueryMoversRequest) DateTo(dateTo string) ApiGetQueryMoversRequest {
	r.dateTo = &dateTo
	return r
}

// Repeatable, or comma-separated.
func (r ApiGetQueryMoversRequest) Engines(engines []string) ApiGetQueryMoversRequest {
	r.engines = &engines
	return r
}

// ISO-3166 alpha-2 codes or English names. Must be configured on the project.
func (r ApiGetQueryMoversRequest) Countries(countries []string) ApiGetQueryMoversRequest {
	r.countries = &countries
	return r
}

// Which trend delta ranks the rows. Positions improve as they fall, so a positive delta is always an improvement whichever key you pick. An unknown value is rejected, not replaced by the default.
func (r ApiGetQueryMoversRequest) SortBy(sortBy string) ApiGetQueryMoversRequest {
	r.sortBy = &sortBy
	return r
}

// desc for the top gainers, asc for the top losers.
func (r ApiGetQueryMoversRequest) SortOrder(sortOrder string) ApiGetQueryMoversRequest {
	r.sortOrder = &sortOrder
	return r
}

// Page size. A value above the maximum is rejected, never clamped.
func (r ApiGetQueryMoversRequest) Limit(limit int32) ApiGetQueryMoversRequest {
	r.limit = &limit
	return r
}

func (r ApiGetQueryMoversRequest) Offset(offset int32) ApiGetQueryMoversRequest {
	r.offset = &offset
	return r
}

func (r ApiGetQueryMoversRequest) Execute() (*TrackedQueryMoversResponse, *http.Response, error) {
	return r.ApiService.GetQueryMoversExecute(r)
}

/*
GetQueryMovers Tracked queries ranked by how much a metric moved

Minimum role: viewer. One row per tracked query — a single engine plus country — carrying its current metric envelope and the signed change against the immediately preceding window of equal length: a 7-day window is compared with the 7 days before it. Every trend delta is signed so that POSITIVE means improved, including the position trends, where the underlying avgSerpPosition / avgShoppingPosition / avgMentionPosition / avgLinkPosition are 1-based ranks and therefore LOWER is better. shareOfVoice and positivityIndex are percentages from 0 to 100, where HIGHER is better. Sorting applies to the trend keys only: sortOrder=desc gives the top gainers, asc the top losers. Every nullable field means "not known yet" rather than zero — a null position or shareOfVoice is a query with no data in the window, and a null positivityIndex or trend is a period with no mentions to score, neither of which is a record of losing ground. total counts the tracked queries the filters match, not the rows on this page. dataDirtySince is a date from which the rank data is being recomputed, or null when nothing is pending; while it is non-null the deltas may still move.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiGetQueryMoversRequest
*/
func (a *AnalyticsAPIService) GetQueryMovers(ctx context.Context, organizationId string, projectId string) ApiGetQueryMoversRequest {
	return ApiGetQueryMoversRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return TrackedQueryMoversResponse
func (a *AnalyticsAPIService) GetQueryMoversExecute(r ApiGetQueryMoversRequest) (*TrackedQueryMoversResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TrackedQueryMoversResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetQueryMovers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/metrics/movers"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dateFrom == nil {
		return localVarReturnValue, nil, reportError("dateFrom is required and must be specified")
	}
	if r.dateTo == nil {
		return localVarReturnValue, nil, reportError("dateTo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dateFrom", r.dateFrom, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "dateTo", r.dateTo, "form", "")
	if r.engines != nil {
		t := *r.engines
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "engines", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "engines", t, "form", "multi")
		}
	}
	if r.countries != nil {
		t := *r.countries
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "countries", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "countries", t, "form", "multi")
		}
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "form", "")
	} else {
		var defaultValue string = "trend_share_of_voice"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", defaultValue, "form", "")
		r.sortBy = &defaultValue
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	} else {
		var defaultValue string = "desc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
		r.offset = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetShareOfVoiceFormulaRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	organizationId string
	projectId string
}

func (r ApiGetShareOfVoiceFormulaRequest) Execute() (*GetShareOfVoiceFormula200Response, *http.Response, error) {
	return r.ApiService.GetShareOfVoiceFormulaExecute(r)
}

/*
GetShareOfVoiceFormula The constants behind the Share of Voice score

Minimum role: viewer. Static reference data, the same for every project: the weights and multipliers that turn individual brand mentions into a Share of Voice score. Each mention is worth `mentionTypeWeights[type] * sentimentMultipliers[tone] * (conditional ? conditionalMultiplier : directMultiplier)`, and a competitor's Share of Voice is its share of the summed weights of every brand in the window, as a percentage. mentionTypeWeights is keyed by mention type (recommendation, comparison, listing, example, reference) and sentimentMultipliers by tone (positive, neutral, negative); a negative mention is discounted, not discarded, because it still evidences presence. A conditional mention is one the answer hedged with a condition ("if you need X"). Use this to explain a score, not to recompute one: the counts it applies to come from the mention mix endpoint. Every value is always present and is never null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiGetShareOfVoiceFormulaRequest
*/
func (a *AnalyticsAPIService) GetShareOfVoiceFormula(ctx context.Context, organizationId string, projectId string) ApiGetShareOfVoiceFormulaRequest {
	return ApiGetShareOfVoiceFormulaRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return GetShareOfVoiceFormula200Response
func (a *AnalyticsAPIService) GetShareOfVoiceFormulaExecute(r ApiGetShareOfVoiceFormulaRequest) (*GetShareOfVoiceFormula200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetShareOfVoiceFormula200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetShareOfVoiceFormula")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/metrics/share-of-voice-formula"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTrackedQueryTimeSeriesRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	organizationId string
	projectId string
	trackedQueryId string
	dateFrom *string
	dateTo *string
	granularity *string
	competitorIds *[]string
}

// Inclusive start of the window, Y-m-d. Must fall inside the data retention window.
func (r ApiGetTrackedQueryTimeSeriesRequest) DateFrom(dateFrom string) ApiGetTrackedQueryTimeSeriesRequest {
	r.dateFrom = &dateFrom
	return r
}

// Inclusive end of the window, Y-m-d.
func (r ApiGetTrackedQueryTimeSeriesRequest) DateTo(dateTo string) ApiGetTrackedQueryTimeSeriesRequest {
	r.dateTo = &dateTo
	return r
}

// Bucket size. Prefer weekly or monthly for long windows.
func (r ApiGetTrackedQueryTimeSeriesRequest) Granularity(granularity string) ApiGetTrackedQueryTimeSeriesRequest {
	r.granularity = &granularity
	return r
}

// Competitors to add as extra series, repeatable or comma-separated. Valid ids come from the available-filters endpoint.
func (r ApiGetTrackedQueryTimeSeriesRequest) CompetitorIds(competitorIds []string) ApiGetTrackedQueryTimeSeriesRequest {
	r.competitorIds = &competitorIds
	return r
}

func (r ApiGetTrackedQueryTimeSeriesRequest) Execute() (*TrackedQueryRankTrackingTimeSeries, *http.Response, error) {
	return r.ApiService.GetTrackedQueryTimeSeriesExecute(r)
}

/*
GetTrackedQueryTimeSeries Rank-tracking time series of a single tracked query

Minimum role: viewer. One point per bucket over the date window, each carrying the brand metrics and one same-shaped entry per requested competitor. Positions (serp, shopping, mention, link) are 1-based, so a LOWER number is better; positivity, shareOfVoice, mentionRate and serpRate are percentages from 0 to 100, where higher is better. Every metric is nullable, and a null means nothing was captured for that entity in that bucket — it is not a zero: a null shareOfVoice means no measurement, a shareOfVoice of 0 means measured and never mentioned. The tracked query fixes its own engine and country, so no engine or country filter is accepted. A non-null dataDirtySince is a timestamp warning that tracked queries were deleted from the project and historical buckets may still include their contributions until the nightly refresh rebuilds them.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @param trackedQueryId Must belong to the project in the path.
 @return ApiGetTrackedQueryTimeSeriesRequest
*/
func (a *AnalyticsAPIService) GetTrackedQueryTimeSeries(ctx context.Context, organizationId string, projectId string, trackedQueryId string) ApiGetTrackedQueryTimeSeriesRequest {
	return ApiGetTrackedQueryTimeSeriesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
		trackedQueryId: trackedQueryId,
	}
}

// Execute executes the request
//  @return TrackedQueryRankTrackingTimeSeries
func (a *AnalyticsAPIService) GetTrackedQueryTimeSeriesExecute(r ApiGetTrackedQueryTimeSeriesRequest) (*TrackedQueryRankTrackingTimeSeries, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TrackedQueryRankTrackingTimeSeries
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetTrackedQueryTimeSeries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/{trackedQueryId}/timeseries"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"trackedQueryId"+"}", url.PathEscape(parameterValueToString(r.trackedQueryId, "trackedQueryId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dateFrom == nil {
		return localVarReturnValue, nil, reportError("dateFrom is required and must be specified")
	}
	if r.dateTo == nil {
		return localVarReturnValue, nil, reportError("dateTo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dateFrom", r.dateFrom, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "dateTo", r.dateTo, "form", "")
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	} else {
		var defaultValue string = "daily"
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", defaultValue, "form", "")
		r.granularity = &defaultValue
	}
	if r.competitorIds != nil {
		t := *r.competitorIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "competitorIds", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "competitorIds", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTrackingCoverageRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	organizationId string
	projectId string
}

func (r ApiGetTrackingCoverageRequest) Execute() (*GetTrackingCoverage200Response, *http.Response, error) {
	return r.ApiService.GetTrackingCoverageExecute(r)
}

/*
GetTrackingCoverage Coverage and staleness of a project tracked queries

Minimum role: viewer. A current-state snapshot answering "what is stale or not being tracked": total is every tracked query on the project, active and paused split it by status, neverChecked counts the active queries that have never run, and overdue counts the active queries whose last check is older than their own check-frequency interval (daily, weekly or monthly). neverChecked and overdue are disjoint — a query that has never run is never also counted as overdue — and both ignore paused queries, which are not expected to be checked at all. sample lists up to 20 of the overdue queries, most stale first; it is a sample of overdue only, so it never contains a never-checked query and is empty when overdue is 0. Takes no date window: every count describes the project as it stands right now.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param projectId
 @return ApiGetTrackingCoverageRequest
*/
func (a *AnalyticsAPIService) GetTrackingCoverage(ctx context.Context, organizationId string, projectId string) ApiGetTrackingCoverageRequest {
	return ApiGetTrackingCoverageRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return GetTrackingCoverage200Response
func (a *AnalyticsAPIService) GetTrackingCoverageExecute(r ApiGetTrackingCoverageRequest) (*GetTrackingCoverage200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetTrackingCoverage200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetTrackingCoverage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

[...]
