openapi: 3.0.0
info:
  contact:
    email: support@mencoro.com
    name: Mencoro Support
    url: https://mencoro.com/contact/
  description: "Public API for Mencoro customers. Authenticate with an API key: `Authorization:\
    \ Bearer mencoro_sk_...`."
  license:
    name: Proprietary
    url: https://mencoro.com/legal/
  termsOfService: https://mencoro.com/legal/
  title: Mencoro API
  version: 1.0.0
servers:
- description: Production
  url: https://api.mencoro.com
security:
- ApiKey: []
tags:
- description: Tracked Queries
  name: Tracked Queries
- description: Analytics
  name: Analytics
- description: Organizations
  name: Organizations
- description: Billing
  name: Billing
- description: Captures
  name: Captures
- description: Clusters
  name: Clusters
- description: Projects
  name: Projects
- description: Discovery
  name: Discovery
- description: Invitations
  name: Invitations
- description: Jobs
  name: Jobs
- description: Account
  name: Account
- description: Members
  name: Members
- description: Organization operations
  name: Organization operations
paths:
  /api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/batch/check-frequency:
    put:
      description: "Minimum role: manager. Sets the same check frequency on every\
        \ tracked query named in `ids`, at most 100 distinct ids per call. The organization\
        \ must be active and the project must not be archived. Partial success: an\
        \ id that is not a tracked query of this project — unknown, malformed, already\
        \ deleted, or belonging to somewhere else — is reported under `failed` with\
        \ `tracked_query_not_found` while the rest are changed, and the call still\
        \ answers 200. Nothing is rolled back because an item failed. Setting the\
        \ frequency a query already has is accepted and changes nothing. This does\
        \ NOT run a check and does not reschedule one already in flight. It never\
        \ changes more than the ids it is given: there is no \"change everything matching\
        \ a filter\" mode. The Idempotency-Key header is required; a retry with the\
        \ same key and the same body returns this same answer without applying anything\
        \ again."
      operationId: batchChangeTrackedQueriesCheckFrequency
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "A client-chosen key, unique per operation. Replaying it returns\
          \ the first answer instead of applying anything again."
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchChangeTrackedQueryCheckFrequencyRequestData"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchWriteOutcome"
          description: "Per-id results. Read `failed`: a non-empty `failed` with a\
            \ 200 is the normal partial-success answer."
        "400":
          description: "The body was rejected, or the Idempotency-Key header is missing;\
            \ `details` names the field"
        "401":
          description: Missing or invalid API key
        "403":
          description: The key lacks the write capability
        "404":
          description: No organization or project the caller can access under these
            ids
        "409":
          description: "The organization is archived, the project is archived, or\
            \ the idempotency key was already used for a different request, a concurrent\
            \ request with the same key is still running, or a previous attempt with\
            \ it ended without a known outcome"
      summary: Change how often several tracked queries are checked
      tags:
      - Tracked Queries
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/batch/passes:
    put:
      description: "Minimum role: manager. Sets the same passes-per-check on every\
        \ tracked query named in `ids`, at most 100 distinct ids per call. The organization\
        \ must be active and the project must not be archived. Partial success, and\
        \ two distinct reasons appear under `failed`: an id that is not a tracked\
        \ query of this project answers `tracked_query_not_found`, and a `google_serp`\
        \ or `google_shopping` query asked for more than one pass answers `n_passes_not_supported_for_engine`\
        \ — those engines run a single pass. Both leave the rest of the batch changed\
        \ and the call still answers 200. Setting the value back to 1 is always allowed,\
        \ so a batch that lowers sampling never fails on engine grounds. This does\
        \ NOT run a check and does not change history already captured. More passes\
        \ cost proportionally more of the plan's check budget. It never changes more\
        \ than the ids it is given: there is no \"change everything matching a filter\"\
        \ mode. The Idempotency-Key header is required; a retry with the same key\
        \ and the same body returns this same answer without applying anything again."
      operationId: batchChangeTrackedQueriesNPasses
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "A client-chosen key, unique per operation. Replaying it returns\
          \ the first answer instead of applying anything again."
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchChangeTrackedQueryPassesRequestData"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchWriteOutcome"
          description: "Per-id results. Read `failed`: a non-empty `failed` with a\
            \ 200 is the normal partial-success answer."
        "400":
          description: "The body was rejected, or the Idempotency-Key header is missing;\
            \ `details` names the field"
        "401":
          description: Missing or invalid API key
        "403":
          description: The key lacks the write capability
        "404":
          description: No organization or project the caller can access under these
            ids
        "409":
          description: "The organization is archived, the project is archived, or\
            \ the idempotency key was already used for a different request, a concurrent\
            \ request with the same key is still running, or a previous attempt with\
            \ it ended without a known outcome"
      summary: Change how many passes several tracked queries run per check
      tags:
      - Tracked Queries
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/batch/pause:
    put:
      description: "Minimum role: manager. Pauses up to 100 tracked queries of one\
        \ project, each independently. Always answers 200 when the batch itself was\
        \ processed: read `failed` to find out which items were not paused, never\
        \ the status code. Items are never rolled back because a later one failed.\
        \ An id that is already paused is reported as successful — pausing asserts\
        \ a state, not a transition. An id that is not a tracked query of this project\
        \ is reported as failed with `tracked_query_not_found`, exactly as an id that\
        \ does not exist at all, and nothing is written for it. Pausing does not cancel\
        \ a check that is already running. Requires an Idempotency-Key header; a retry\
        \ must repeat the same ids in the same order to be recognised as a retry rather\
        \ than refused as a reused key."
      operationId: batchPauseTrackedQueries
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Repeating a request with the same key and the same ids answers
          with the first attempt's result.
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchTargetsRequestData"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/batchPauseTrackedQueries_200_response"
          description: "Per-item results. `failed` is always present, empty list included:\
            \ read it rather than inferring success from the status."
        "400":
          description: "The Idempotency-Key header is missing, the body carried an\
            \ unknown field, or \"ids\" was absent, malformed or larger than 100 distinct\
            \ entries"
        "401":
          description: Missing or invalid API key
        "403":
          description: The key lacks the write capability
        "404":
          description: No organization or project the caller can access under these
            ids
        "409":
          description: "The organization or the project is archived, or the idempotency\
            \ key was already used for a different request, a concurrent request with\
            \ the same key is still running, or a previous attempt with it ended without\
            \ a known outcome"
      summary: Pause several tracked queries
      tags:
      - Tracked Queries
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/batch/resume:
    put:
      description: "Minimum role: manager. Puts up to 100 paused tracked queries of\
        \ one project back under the scheduler, each independently. Always answers\
        \ 200 when the batch itself was processed: read `failed` to find out which\
        \ items were not resumed, never the status code. Items are never rolled back\
        \ because a later one failed. An id that is already active is reported as\
        \ successful — resuming asserts a state, not a transition. An id that is not\
        \ a tracked query of this project is reported as failed with `tracked_query_not_found`,\
        \ exactly as an id that does not exist at all, and nothing is written for\
        \ it. No check is run by this operation and nothing is back-filled for the\
        \ time the queries spent paused. Requires an Idempotency-Key header; a retry\
        \ must repeat the same ids in the same order to be recognised as a retry rather\
        \ than refused as a reused key."
      operationId: batchResumeTrackedQueries
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Repeating a request with the same key and the same ids answers
          with the first attempt's result.
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchTargetsRequestData"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/batchResumeTrackedQueries_200_response"
          description: "Per-item results. `failed` is always present, empty list included:\
            \ read it rather than inferring success from the status."
        "400":
          description: "The Idempotency-Key header is missing, the body carried an\
            \ unknown field, or \"ids\" was absent, malformed or larger than 100 distinct\
            \ entries"
        "401":
          description: Missing or invalid API key
        "403":
          description: The key lacks the write capability
        "404":
          description: No organization or project the caller can access under these
            ids
        "409":
          description: "The organization or the project is archived, or the idempotency\
            \ key was already used for a different request, a concurrent request with\
            \ the same key is still running, or a previous attempt with it ended without\
            \ a known outcome"
      summary: Resume several tracked queries
      tags:
      - Tracked Queries
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/bulk/clusters:
    delete:
      description: "Minimum role: manager. Removes every tracked query named in \"\
        ids\" from every cluster named in \"queryClusterIds\". At most 100 distinct\
        \ tracked queries per call; duplicates in \"ids\" are collapsed. Partial success:\
        \ the answer is 200 with a per-item \"successful\" and \"failed\" list even\
        \ when some items failed, nothing is rolled back, and an id that is not a\
        \ tracked query of this project is reported as a failed item rather than dropped.\
        \ Neither the clusters nor the tracked queries are deleted: only the membership\
        \ between them. Every cluster must belong to the project in the path; one\
        \ that does not is rejected with its field named and nothing is written at\
        \ all. NOTE: this DELETE requires a request body — some HTTP client libraries\
        \ and proxies strip bodies from DELETE, and a stripped body is refused with\
        \ a validation error rather than interpreted as \"remove everything\". The\
        \ \"Idempotency-Key\" header is required, and a repeat of the same key and\
        \ body returns the recorded answer without running the batch again."
      operationId: bulkRemoveClustersFromTrackedQueries
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "A client-chosen key, unique per operation, so a lost response\
          \ can be retried without repeating the batch."
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/bulkRemoveClustersFromTrackedQueries_request"
        description: Required. A DELETE with no body is rejected.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bulkRemoveClustersFromTrackedQueries_200_response"
          description: "Per-item results. Read \"failed\": a 200 does not mean every\
            \ item succeeded."
        "400":
          description: "The body was rejected or missing: an unknown field, a malformed\
            \ or missing id, more than 100 distinct ids, a cluster outside this project,\
            \ a stripped DELETE body, or a missing Idempotency-Key"
        "401":
          description: Missing or invalid API key
        "403":
          description: The key lacks the write capability
        "404":
          description: No organization or project the caller can access under these
            ids
        "409":
          description: "The organization is archived, the project is archived, or\
            \ the idempotency key was reused for a different body, a concurrent request\
            \ with the same key is still running, or a previous attempt with it ended\
            \ without a known outcome"
      summary: Remove many tracked queries from clusters
      tags:
      - Tracked Queries
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: "Minimum role: manager. Adds every tracked query named in \"ids\"\
        \ to every cluster named in \"queryClusterIds\". At most 100 distinct tracked\
        \ queries per call; duplicates in \"ids\" are collapsed. Partial success:\
        \ the answer is 200 with a per-item \"successful\" and \"failed\" list even\
        \ when some items failed, nothing is rolled back, and an id that is not a\
        \ tracked query of this project is reported as a failed item rather than dropped.\
        \ Clusters not named are left alone — this adds, it does not replace membership.\
        \ Every cluster must belong to the project in the path; one that does not\
        \ is rejected with its field named and nothing is written at all. The \"Idempotency-Key\"\
        \ header is required, and a repeat of the same key and body returns the recorded\
        \ answer without running the batch again."
      operationId: bulkAddClustersToTrackedQueries
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "A client-chosen key, unique per operation, so a lost response\
          \ can be retried without repeating the batch."
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/bulkAddClustersToTrackedQueries_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bulkAddClustersToTrackedQueries_200_response"
          description: "Per-item results. Read \"failed\": a 200 does not mean every\
            \ item succeeded."
        "400":
          description: "The body was rejected: an unknown field, a malformed or missing\
            \ id, more than 100 distinct ids, a cluster outside this project, or a\
            \ missing Idempotency-Key"
        "401":
          description: Missing or invalid API key
        "403":
          description: The key lacks the write capability
        "404":
          description: No organization or project the caller can access under these
            ids
        "409":
          description: "The organization is archived, the project is archived, or\
            \ the idempotency key was reused for a different body, a concurrent request\
            \ with the same key is still running, or a previous attempt with it ended\
            \ without a known outcome"
      summary: Add many tracked queries to clusters
      tags:
      - Tracked Queries
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/count:
    get:
      description: "Minimum role: viewer. Two numbers about one project: how many\
        \ tracked queries it holds, and what force-checking that same set would cost.\
        \ Omit `status` to count every tracked query whatever its status; send `active`\
        \ or `paused` to count and price only those. `checkCost` is a PRICED DRY RUN\
        \ expressed in check budget units — one unit per pass, the same unit the plan\
        \ allowance is counted in, so it is directly comparable with `checksAvailable`\
        \ from the entitlements operation — and it is the sum of each matched tracked\
        \ query's configured passes. Asking reserves nothing, debits nothing and starts\
        \ no check. It is deliberately NOT a forecast of what the check-all operation\
        \ will consume: that operation skips paused queries, skips a query whose check\
        \ is already pending or running, re-runs a check awaiting retry without charging\
        \ for it again, and stops at whatever budget is left — none of which is subtracted\
        \ here. Count with `status=active` for the figure closest to a full check-all.\
        \ Both numbers are read from the write model, so a tracked query created moments\
        \ ago is already in them; that is why they can be AHEAD of the `total` returned\
        \ by the tracked-queries listing, which counts a search projection, and ahead\
        \ of the keyword listings, which read projections refreshed in the background.\
        \ Summing the unfiltered count over every project of an organization, archived\
        \ projects included, reproduces countOrganizationTrackedQueries, which counts\
        \ through the same counter in the same store. An archived project still answers,\
        \ because this is a read, but no check can be submitted there while it stays\
        \ archived, so its cost is hypothetical. For a month of scheduled rounds across\
        \ the whole organization instead of one round over one project, read getOrganizationProjectedMonthlyChecks.\
        \ No monetary amount is published or implied: the cost of a check is published\
        \ only in budget units."
      operationId: countTrackedQueries
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Restrict both numbers to one status. Lower-case; an unknown\
          \ value is rejected, not ignored. Omitted, every status is counted and priced."
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - active
          - paused
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackedQueryCountResource"
          description: The tracked query count and the budget cost of checking that
            set
        "400":
          description: The status parameter was rejected; the details name the field
        "401":
          description: Missing or invalid API key
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization or project the caller can access under these
            ids
      summary: Count a project's tracked queries and price checking them
      tags:
      - Tracked Queries
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/check-all:
    put:
      description: "Minimum role: manager. Submits a fresh check for every eligible\
        \ tracked query of the project, ignoring how recently each was last checked,\
        \ least-recently-checked first, and at most 1000 tracked queries per call.\
        \ Eligible is narrower than active: a paused query is skipped, and so is one\
        \ whose check is already pending or running for the same engine. A query whose\
        \ check is awaiting a retry is included and, WHEN THE ENGINE HAS NOT CHANGED\
        \ SINCE, costs nothing extra, because its first submission already paid for\
        \ it; if the engine did change, the pending run is replaced and the replacement\
        \ is paid for. What is left is trimmed to what the organization's remaining\
        \ check budget can pay for — a check costs one budget unit per pass. While\
        \ a subscription is cancelled but still inside its paid grace window nothing\
        \ is submitted at all and `submitted` is 0; name the queries explicitly through\
        \ the check operation to run them in that window. CALLING AGAIN DOES NOT CONTINUE\
        \ WHERE THIS CALL STOPPED: submissions are handed to a worker, and a tracked\
        \ query stops being selected only once that worker has started its check,\
        \ so a second call made before the queue drains selects and submits the same\
        \ tracked queries again. That is safe while the first check is still running\
        \ — the duplicate is collapsed, and nothing is checked or charged twice —\
        \ but a check that has already finished is run again and charged again, because\
        \ this operation ignores staleness by design. To cover a project with more\
        \ than 1000 eligible tracked queries, wait for the submitted wave to be picked\
        \ up — each tracked query's lastCheckedAt advances when its check completes\
        \ — and call again then. The response lists the tracked queries submitted\
        \ and carries NO job id: a check already in flight is reused rather than started\
        \ again, so no id could be guaranteed to exist. Submission is accepted, not\
        \ completed: a listed tracked query can still lose the last budget units to\
        \ another caller before the worker reaches it. The request takes no body,\
        \ and any field sent is rejected. Requires an Idempotency-Key header."
      operationId: forceCheckAllActiveTrackedQueries
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Repeating a request with the same key answers with the first
          attempt's result instead of submitting a second wave.
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmittedChecksResource"
          description: The tracked queries submitted for a check
        "400":
          description: "The Idempotency-Key header is missing or malformed, or the\
            \ request carried a body"
        "401":
          description: Missing or invalid API key
        "403":
          description: The key lacks the write capability
        "404":
          description: No organization or project the caller can access under these
            ids
        "409":
          description: "The organization or the project is archived, or the idempotency\
            \ key was already used for a different request, a concurrent request with\
            \ the same key is still running, or a previous attempt with it ended without\
            \ a known outcome"
      summary: Check every eligible tracked query of a project now
      tags:
      - Tracked Queries
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/check:
    put:
      description: "Minimum role: manager. Asks for a fresh check of up to 100 named\
        \ tracked queries straight away, ignoring how recently each was last checked.\
        \ Answers 200 with per-item results and NO job id: a check that is already\
        \ in flight for a query is reused rather than started again, so there is no\
        \ id this operation could hand back that is guaranteed to exist. Follow progress\
        \ on the tracked query itself — its lastCheckedAt advances when the check\
        \ completes. A successful item means the check was accepted for submission\
        \ with budget available for it at that moment; it does not mean the check\
        \ has run. A checked query costs one budget unit per pass (nPasses), and items\
        \ that do not fit the remaining budget are reported as failed with `check_budget_forecast_exhausted`,\
        \ or `subscription_not_found` when the organization has no entitled subscription\
        \ — they are never reported as successful. That budget figure is a forecast\
        \ for this batch, and a pessimistic one: a tracked query already being checked\
        \ is joined to the check in flight and costs nothing, but it is still debited\
        \ here, so an item refused this way may have fitted. Resubmit it in a later\
        \ batch rather than treating the refusal as a statement about your subscription.\
        \ A paused query is reported as failed with `tracked_query_already_paused`:\
        \ paused queries are never checked. An id that is not a tracked query of this\
        \ project is reported as failed with `tracked_query_not_found`, exactly as\
        \ an id that does not exist. Requires an Idempotency-Key header; a retry must\
        \ repeat the same ids in the same order."
      operationId: batchForceCheckTrackedQueries
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Repeating a request with the same key and the same ids answers
          with the first attempt's result instead of submitting again.
        explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchTargetsRequestData"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/batchForceCheckTrackedQueries_200_response"
          description: "Per-item results. `failed` is always present, empty list included:\
            \ read it rather than inferring success from the status."
        "400":
          description: "The Idempotency-Key header is missing, the body carried an\
            \ unknown field, or \"ids\" was absent, malformed or larger than 100 distinct\
            \ entries"
        "401":
          description: Missing or invalid API key
        "403":
          description: The key lacks the write capability
        "404":
          description: No organization or project the caller can access under these
            ids
        "409":
          description: "The organization or the project is archived, or the idempotency\
            \ key was already used for a different request, a concurrent request with\
            \ the same key is still running, or a previous attempt with it ended without\
            \ a known outcome"
      summary: Check several tracked queries now
      tags:
      - Tracked Queries
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/available-filters:
    get:
      description: "Minimum role: viewer. Call this first: it is where every other\
        \ analytics operation sends you for the valid engines, countries and keyword\
        \ clusters of a project, and the values it returns are the exact strings the\
        \ engines, countries and queryClusterIds parameters accept — anything else\
        \ is rejected as a 400. Engines are engine codes, countries are ISO-3166 alpha-2\
        \ codes, and clusters are {id, name} objects whose id goes in queryClusterIds.\
        \ Takes no date window: it describes how the project is configured right now,\
        \ so a value is listed as soon as a tracked query uses it, even when no response\
        \ has been captured for it yet. An empty list therefore means nothing is configured\
        \ for it, not that no data was collected. Competitor ids are not part of this\
        \ response."
      operationId: getAvailableFilters
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAvailableFilters_200_response"
          description: "The engines, countries and clusters configured on the project"
        "401":
          description: Missing or invalid API key
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization or project the caller can access under these
            ids
      summary: Filter values a project is configured for
      tags:
      - Analytics
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/cited-sources:
    get:
      description: "Minimum role: viewer. The sources the answer engines drew on across\
        \ a project's AI answers over a date window, ranked by how often they were\
        \ cited. Per source: citationCount, the total number of citations; distinctResponseCount\
        \ and distinctQueryCount, how many captured answers and tracked queries it\
        \ appeared in; avgPosition, its average 1-based rank inside the answers' citation\
        \ lists, where LOWER is better. A null avgPosition means no citation in the\
        \ window carried a position, not a rank of zero; a null domain or sampleTitle\
        \ means the citation never carried one. `total` counts the distinct sources\
        \ matching the window, before paging. The list is UNFILTERED by ownership:\
        \ the brand's, competitors' and third-party sources sit in the same ranking.\
        \ Only the AI answer engines (chatgpt, perplexity, google_ai_overview, google_ai_mode)\
        \ produce citations, so filtering by google_serp or google_shopping is accepted\
        \ and returns nothing. Citations still behind an answer engine's redirect\
        \ (a google.com/goto link, whose URL names the engine rather than the source)\
        \ are excluded, so a source cited only through such links is absent from this\
        \ list rather than counted as zero."
      operationId: getCitedSources
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Inclusive start of the window, Y-m-d. Must fall inside the data\
          \ retention window."
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Inclusive end of the window, Y-m-d."
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Repeatable, or comma-separated. Only the AI engines carry citations."
        explode: true
        in: query
        name: engines
        required: false
        schema:
          items:
            enum:
            - chatgpt
            - perplexity
            - google_ai_overview
            - google_ai_mode
            - google_serp
            - google_shopping
            type: string
          type: array
        style: form
      - description: "Grain of the roll-up: \"domain\" by host, \"page\" by exact\
          \ URL."
        explode: true
        in: query
        name: groupBy
        required: false
        schema:
          default: domain
          enum:
          - domain
          - page
          type: string
        style: form
      - description: "Page size. A larger value is rejected, never silently reduced."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of sources to skip.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          description: "The cited sources for this page, plus the total number of\
            \ distinct sources in the window"
        "401":
          description: Missing or invalid API key
        "400":
          description: A filter or page bound was rejected; the details name the field
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization or project the caller can access under these
            ids
      summary: Domains and pages the AI answers cited
      tags:
      - Analytics
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/metrics/clusters:
    get:
      description: "Minimum role: viewer. One row per keyword cluster over a date\
        \ window, with its tracked query and keyword counts, average positions, rates,\
        \ share of voice and sentiment split. A row whose clusterId is null is the\
        \ ungrouped bucket: the tracked queries belonging to no cluster. Position\
        \ metrics are 1-based and LOWER is better; rates, positivityIndex and shareOfVoice\
        \ are 0-100 percentages where higher is better. A null metric means nothing\
        \ was captured for that cluster in the window — it is not a zero, and averaging\
        \ or charting it as one would misstate the period. dataDirtySince is non-null\
        \ while a recalculation is pending, meaning the numbers predate the latest\
        \ configuration change."
      operationId: getClusterBreakdown
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Inclusive start of the window, Y-m-d. Must fall inside the data\
          \ retention window."
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Inclusive end of the window, Y-m-d."
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Repeatable, or comma-separated."
        explode: true
        in: query
        name: engines
        required: false
        schema:
          items:
            enum:
            - chatgpt
            - perplexity
            - google_ai_overview
            - google_ai_mode
            - google_serp
            - google_shopping
            type: string
          type: array
        style: form
      - description: ISO-3166 alpha-2 codes or English names. Must be configured on
          the project.
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Restrict to these clusters. Each must belong to the project.
        explode: true
        in: query
        name: queryClusterIds
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: "Sent alone, returns only the ungrouped bucket rather than adding\
          \ it to every cluster."
        explode: true
        in: query
        name: includeUngroupedQueries
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          description: "One row per keyword cluster, plus the ungrouped bucket where\
            \ it applies"
        "401":
          description: Missing or invalid API key
        "400":
          description: A filter was rejected; the details name the field
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization or project the caller can access under these
            ids
      summary: Rank-tracking metrics per keyword cluster
      tags:
      - Analytics
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/competitors/co-occurrence:
    get:
      description: "Minimum role: viewer. Restricted to the AI answers where the brand\
        \ and a competitor are BOTH mentioned, one row per tracked competitor: sharedResponseCount\
        \ is how many such answers there are, and brandWins / competitorWins / ties\
        \ split them by who holds the better (lower) best mention position. winRate\
        \ is the percentage 0-100 of those answers the brand wins; avgOwnPosition\
        \ and avgCompetitorPosition are the average best mention position each side\
        \ held, 1-based, so LOWER is better. exampleQueryText and exampleAiResponseId\
        \ point at one representative shared answer. Every nullable field means \"\
        not known yet\" rather than zero: a null winRate or average position is the\
        \ absence of a shared answer in the window, not a record of losing. Tracked\
        \ competitors only."
      operationId: getCompetitorCoOccurrence
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Inclusive start of the window, Y-m-d. Must fall inside the data\
          \ retention window."
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Inclusive end of the window, Y-m-d."
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Repeatable, or comma-separated. SERP and Shopping carry no AI\
          \ answer text, so they contribute no co-occurrence."
        explode: true
        in: query
        name: engines
        required: false
        schema:
          items:
            enum:
            - chatgpt
            - perplexity
            - google_ai_overview
            - google_ai_mode
            - google_serp
            - google_shopping
            type: string
          type: array
        style: form
      - description: ISO-3166 alpha-2 codes or English names. Must be configured on
          the project.
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Restricts the answer to a single tracked competitor. Omit it
          for every tracked competitor. The available-filters endpoint lists the valid
          ids.
        explode: true
        in: query
        name: competitorId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          description: "One head-to-head row per tracked competitor, under \"competitors\""
        "401":
          description: Missing or invalid API key
        "400":
          description: A filter was rejected; the details name the field
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization or project the caller can access under these
            ids
      summary: Head-to-head record of the brand against each tracked competitor
      tags:
      - Analytics
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/mentions/mix:
    get:
      description: "Minimum role: viewer. Counts of the project brand's own text mentions\
        \ in AI answers over a date window, grouped three ways: byType (recommendation,\
        \ comparison, listing, example, reference), byTone (positive, neutral, negative)\
        \ and byQualifier (direct, conditional — a conditional mention is one the\
        \ answer hedged with a condition). These are the inputs behind the Share of\
        \ Voice weighted score. Every bucket is always present and is a plain count,\
        \ never null: a zero means no mention of that kind was found in the window.\
        \ The three groupings count the same mentions, so each one sums to the same\
        \ total. Only the project brand is counted, never a competitor, and only mentions\
        \ inside the answer text — a citation of the brand's URL is not a mention\
        \ here. Only AI answer engines produce mentions, so restricting engines to\
        \ google_serp or google_shopping alone returns all zeros. For the positive/neutral/negative\
        \ split per engine and per competitor use the sentiment endpoint."
      operationId: getMentionMix
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Inclusive start of the window, Y-m-d. Must fall inside the data\
          \ retention window."
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Inclusive end of the window, Y-m-d."
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Repeatable, or comma-separated. Non-AI engines contribute no\
          \ mentions."
        explode: true
        in: query
        name: engines
        required: false
        schema:
          items:
            enum:
            - chatgpt
            - perplexity
            - google_ai_overview
            - google_ai_mode
            - google_serp
            - google_shopping
            type: string
          type: array
        style: form
      - description: ISO-3166 alpha-2 codes or English names. Must be configured on
          the project.
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          description: "Mention counts by type, by tone and by qualifier"
        "401":
          description: Missing or invalid API key
        "400":
          description: A filter was rejected; the details name the field
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization or project the caller can access under these
            ids
      summary: Composition of a project brand mentions in AI answers
      tags:
      - Analytics
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/mentions:
    get:
      description: "Minimum role: viewer. A paginated page of the individual mention\
        \ texts behind the aggregate numbers, for qualitative review and for checking\
        \ sentiment labels by eye. Each sample carries the mention text, the engine\
        \ and country it was seen in, the tracked query that produced it, its sentiment\
        \ and mention type, and mentionPosition — a 1-based rank inside the answer\
        \ where LOWER is better, always present. `total` counts every mention matching\
        \ the filters, not the size of the page returned. Only mentions inside the\
        \ answer text are returned: a citation of the brand URL is not a mention here,\
        \ and only AI answer engines produce mentions, so restricting engines to google_serp\
        \ or google_shopping alone returns an empty page rather than an error. Two\
        \ fields carry a \"not known\" rather than a zero: country is null and queryText\
        \ is empty when the tracked query behind the mention has since been deleted,\
        \ and competitorId is null when the mention row stores no competitor id —\
        \ which is NOT an assertion that the mention is about your own brand, since\
        \ an untracked competitor also stores none. Read mentionRelation instead:\
        \ `own` and `tracked-competitor` are what the scraper resolved to a configured\
        \ entity, `untracked-competitor` is a rival the project does not track, and\
        \ null means the row predates the field. brandName carries the mentioned brand,\
        \ and is the only way to name an untracked competitor, which has no competitor\
        \ id to resolve one from. Omitting the competitorId filter returns exactly\
        \ the rows with no competitor id stored — that is, own-brand AND untracked-competitor\
        \ mentions together, not every competitor; pass a competitor UUID to restrict\
        \ the page to that competitor, and use mentionRelation to separate the rest.\
        \ For the aggregate positive/neutral/negative split use the sentiment endpoint,\
        \ and for weighted mention-type counts the mention mix endpoint."
      operationId: getMentionSamples
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Inclusive start of the window, Y-m-d. Must fall inside the data\
          \ retention window."
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Inclusive end of the window, Y-m-d."
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Repeatable, or comma-separated. Non-AI engines contribute no\
          \ mentions."
        explode: true
        in: query
        name: engines
        required: false
        schema:
          items:
            enum:
            - chatgpt
            - perplexity
            - google_ai_overview
            - google_ai_mode
            - google_serp
            - google_shopping
            type: string
          type: array
        style: form
      - description: ISO-3166 alpha-2 codes or English names. Must be configured on
          the project.
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Restrict to one sentiment label. Omit for every sentiment.
        explode: true
        in: query
        name: sentiment
        required: false
        schema:
          enum:
          - positive
          - neutral
          - negative
          type: string
        style: form
      - description: Restrict to one mention type. Omit for every type.
        explode: true
        in: query
        name: mentionType
        required: false
        schema:
          enum:
          - recommendation
          - comparison
          - listing
          - example
          - reference
          type: string
        style: form
      - description: "UUID of a single competitor, as listed by the available-filters\
          \ endpoint (competitors[].id). Omitted, the page is restricted to mentions\
          \ storing no competitor id, which is own-brand and untracked-competitor\
          \ mentions together — see the operation description and read mentionRelation\
          \ to tell them apart."
        explode: true
        in: query
        name: competitorId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: "recent: newest first. negative: negative sentiment first, then\
          \ neutral, then positive, newest first inside each. engine and country:\
          \ grouped alphabetically, newest first inside each group. An unknown value\
          \ is rejected, not replaced by the default."
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: recent
          enum:
          - recent
          - negative
          - engine
          - country
          type: string
        style: form
      - description: "Page size. A larger value is rejected, never silently reduced."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of matching mentions to skip before the page starts.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          description: A page of mention samples and the total matching the filters
        "401":
          description: Missing or invalid API key
        "400":
          content:
            application/json:
              examples:
                validationError:
                  description: "Produced by `?dateFrom=2026-02-01&dateTo=2026-03-01&engines=bard&limit=500`.\
                    \ Every error carries `code`, `message` and `requestId`; `details`\
                    \ is added only when a request failed validation, and names every\
                    \ field at fault in one response rather than one per round trip.\
                    \ `code` is `validation_error` for a rejected request and the\
                    \ domain error code otherwise - `organization_not_found`, `idempotency_key_reused`,\
                    \ `rate_limit_exceeded`. `requestId` is also returned in the X-Request-Id\
                    \ header; quote it when reporting a failure. `parameters` carries\
                    \ the placeholder values behind a message and is an empty array\
                    \ when a rule needs none, as both of these do."
                  summary: "The error envelope every failure of this API uses, here\
                    \ a request with two bad filters"
                  value:
                    code: validation_error
                    message: The request failed validation.
                    requestId: 0193c4f2-77b1-7e5a-9c03-2d8e4f6a1b90
                    details:
                      engines:
                      - code: invalid_value
                        message: "\"engines\" values must be drawn from: chatgpt,\
                          \ perplexity, google_ai_overview, google_ai_mode, google_serp,\
                          \ google_shopping."
                        parameters: []
                      limit:
                      - code: out_of_range
                        message: '"limit" must be between 1 and 100.'
                        parameters: []
              schema:
                $ref: "#/components/schemas/getMentionSamples_400_response"
          description: A filter was rejected; the details name the field
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization or project the caller can access under these
            ids
      summary: Sample of the raw AI mention texts of a project
      tags:
      - Analytics
      x-accepts:
      - application/json
  /api/v1/metric-glossary:
    get:
      description: "Static reference, no project data. Each entry gives a metric,\
        \ the everyday words people use for it, its unit and range, whether higher\
        \ or lower is better, the operation that returns it, and example questions.\
        \ Useful when turning a vague or non-technical request into the right call."
      operationId: getMetricGlossary
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getMetricGlossary_200_response"
          description: The metric catalogue
        "403":
          description: The key lacks the read capability
        "401":
          description: Missing or invalid API key
      summary: Map everyday wording to a metric and the operation that serves it
      tags:
      - Analytics
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/overview:
    get:
      description: "Minimum role: viewer. One row per active project — share of voice,\
        \ mention rate, average mention position, positivity index and tracked-query\
        \ count — ordered by share of voice, plus an organization-level aggregate\
        \ of the same metrics. Archived projects are excluded. This is a current-state\
        \ snapshot and takes no date window; for a date-ranged comparison call the\
        \ per-project operations (getProjectMetrics, getProjectTimeSeries) for each\
        \ projectId returned here. Every metric is nullable, and a null means the\
        \ project has no rank data yet — not a score of zero. Higher is better for\
        \ shareOfVoice, mentionRate and positivityIndex; avgMentionPosition is a 1-based\
        \ rank, so LOWER is better."
      operationId: getOrganizationOverview
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getOrganizationOverview_200_response"
          description: Per-project snapshot rows and the organization aggregate
        "401":
          description: Missing or invalid API key
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization the caller can access under this id
      summary: Snapshot rank-health board across an organization active projects
      tags:
      - Analytics
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/metrics:
    get:
      description: "Minimum role: viewer. The project overview over a date window:\
        \ share of voice (own and per competitor), mention / SERP / shopping rates,\
        \ average and best positions, position stability, the sentiment split and\
        \ the position-distribution buckets. Positions are 1-based, so a LOWER number\
        \ is better; rates, the positivity index and share of voice are percentages\
        \ from 0 to 100, where HIGHER is better. Every `trend*` field is the signed\
        \ change against the immediately preceding window of the same length: negative\
        \ means an improved position, positive means an improved rate or score. A\
        \ null metric means \"not known yet\", never zero: a scalar is null when the\
        \ window holds no checks at all, and a `trend*` field is null when there is\
        \ no earlier window to compare against. The counters (`mentionCount`, `*TrackedQueryCount`,\
        \ `*QueriesWithResult`, `sentiment*` and `mentionTypeCounts`) are genuine\
        \ zeros instead, so an empty window reads as zero counts with null rates.\
        \ `dataDirtySince` is non-null while a recalculation is pending, meaning the\
        \ figures may still move for dates from then on."
      operationId: getProjectMetrics
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Inclusive start of the window, Y-m-d. Must fall inside the data\
          \ retention window."
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Inclusive end of the window, Y-m-d."
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Repeatable, or comma-separated."
        explode: true
        in: query
        name: engines
        required: false
        schema:
          items:
            enum:
            - chatgpt
            - perplexity
            - google_ai_overview
            - google_ai_mode
            - google_serp
            - google_shopping
            type: string
          type: array
        style: form
      - description: ISO-3166 alpha-2 codes or English names. Must be configured on
          the project.
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Restrict to these keyword clusters. Each must belong to this
          project.
        explode: true
        in: query
        name: queryClusterIds
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: "Only meaningful together with queryClusterIds: also counts the\
          \ tracked queries that belong to no cluster."
        explode: true
        in: query
        name: includeUngroupedQueries
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          description: "Headline metrics, trends, sentiment split, per-competitor\
            \ share of voice and position distributions"
        "401":
          description: Missing or invalid API key
        "400":
          description: A filter was rejected; the details name the field
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization or project the caller can access under these
            ids
      summary: Headline visibility metrics of a project
      tags:
      - Analytics
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/sentiment:
    get:
      description: "Minimum role: viewer. Positive, neutral and negative split of\
        \ the brand mentions in AI answers over a date window, per engine and per\
        \ competitor. A null positivityIndex means no mentions were found in the window,\
        \ which is not the same as a score of zero."
      operationId: getProjectSentiment
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Inclusive start of the window, Y-m-d. Must fall inside the data\
          \ retention window."
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Inclusive end of the window, Y-m-d."
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Repeatable, or comma-separated."
        explode: true
        in: query
        name: engines
        required: false
        schema:
          items:
            enum:
            - chatgpt
            - perplexity
            - google_ai_overview
            - google_ai_mode
            - google_serp
            - google_shopping
            type: string
          type: array
        style: form
      - description: ISO-3166 alpha-2 codes or English names. Must be configured on
          the project.
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: queryClusterIds
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: includeUngroupedQueries
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          description: Sentiment per engine and per competitor
        "401":
          description: Missing or invalid API key
        "400":
          description: A filter was rejected; the details name the field
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization or project the caller can access under these
            ids
      summary: Sentiment breakdown of a project brand mentions
      tags:
      - Analytics
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/timeseries:
    get:
      description: "Minimum role: viewer. One point per bucket over the date window,\
        \ each carrying the brand metrics and one same-shaped entry per requested\
        \ competitor. Rank metrics (serp, shopping, mention, link) are 1-based averages\
        \ where LOWER is better; positivity (0-100), shareOfVoice (0-100), mentionRate\
        \ (0-100) and serpRate (0-100) are scores where higher is better. Every metric\
        \ is nullable, and a null means no data was collected for that bucket, which\
        \ is not the same as a value of zero. A project with no tracked queries returns\
        \ an empty points list. Prefer weekly or monthly granularity over a long window\
        \ to keep the response compact."
      operationId: getProjectTimeSeries
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Inclusive start of the window, Y-m-d. Must fall inside the data\
          \ retention window."
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Inclusive end of the window, Y-m-d."
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: Bucket size of each point.
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          default: daily
          enum:
          - daily
          - weekly
          - monthly
          type: string
        style: form
      - description: "Repeatable, or comma-separated."
        explode: true
        in: query
        name: engines
        required: false
        schema:
          items:
            enum:
            - chatgpt
            - perplexity
            - google_ai_overview
            - google_ai_mode
            - google_serp
            - google_shopping
            type: string
          type: array
        style: form
      - description: ISO-3166 alpha-2 codes or English names. Must be configured on
          the project.
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: queryClusterIds
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: On its own this NARROWS the series to tracked queries that belong
          to no cluster; combined with queryClusterIds it widens those clusters to
          also cover them.
        explode: true
        in: query
        name: includeUngroupedQueries
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Repeatable, or comma-separated. Each id adds one series under\
          \ the competitors map of every point."
        explode: true
        in: query
        name: competitorIds
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      responses:
        "200":
          description: "Points in bucket order, plus dataDirtySince: a date from which\
            \ the rank data is being recomputed, or null when nothing is pending"
        "401":
          description: Missing or invalid API key
        "400":
          description: A filter was rejected; the details name the field
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization or project the caller can access under these
            ids
      summary: Rank-tracking metrics of a project over time
      tags:
      - Analytics
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/metrics/movers:
    get:
      description: "Minimum role: viewer. One row per tracked query — a single engine\
        \ plus country — carrying its current metric envelope and the signed change\
        \ against the immediately preceding window of equal length: a 7-day window\
        \ is compared with the 7 days before it. Every trend delta is signed so that\
        \ POSITIVE means improved, including the position trends, where the underlying\
        \ avgSerpPosition / avgShoppingPosition / avgMentionPosition / avgLinkPosition\
        \ are 1-based ranks and therefore LOWER is better. shareOfVoice and positivityIndex\
        \ are percentages from 0 to 100, where HIGHER is better. Sorting applies to\
        \ the trend keys only: sortOrder=desc gives the top gainers, asc the top losers.\
        \ Every nullable field means \"not known yet\" rather than zero — a null position\
        \ or shareOfVoice is a query with no data in the window, and a null positivityIndex\
        \ or trend is a period with no mentions to score, neither of which is a record\
        \ of losing ground. total counts the tracked queries the filters match, not\
        \ the rows on this page. dataDirtySince is a date from which the rank data\
        \ is being recomputed, or null when nothing is pending; while it is non-null\
        \ the deltas may still move."
      operationId: getQueryMovers
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Inclusive start of the window, Y-m-d. Must fall inside the data\
          \ retention window. The comparison window is the equally long stretch immediately\
          \ before it."
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Inclusive end of the window, Y-m-d."
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Repeatable, or comma-separated."
        explode: true
        in: query
        name: engines
        required: false
        schema:
          items:
            enum:
            - chatgpt
            - perplexity
            - google_ai_overview
            - google_ai_mode
            - google_serp
            - google_shopping
            type: string
          type: array
        style: form
      - description: ISO-3166 alpha-2 codes or English names. Must be configured on
          the project.
        explode: true
        in: query
        name: countries
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Which trend delta ranks the rows. Positions improve as they\
          \ fall, so a positive delta is always an improvement whichever key you pick.\
          \ An unknown value is rejected, not replaced by the default."
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: trend_share_of_voice
          enum:
          - trend_serp
          - trend_shopping
          - trend_mention
          - trend_link
          - trend_share_of_voice
          type: string
        style: form
      - description: "desc for the top gainers, asc for the top losers."
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: "Page size. A value above the maximum is rejected, never clamped."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          description: "The ranked tracked queries under \"rows\", with \"total\"\
            \ and \"dataDirtySince\""
        "401":
          description: Missing or invalid API key
        "400":
          description: A filter or page bound was rejected; the details name the field
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization or project the caller can access under these
            ids
      summary: Tracked queries ranked by how much a metric moved
      tags:
      - Analytics
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/metrics/share-of-voice-formula:
    get:
      description: "Minimum role: viewer. Static reference data, the same for every\
        \ project: the weights and multipliers that turn individual brand mentions\
        \ into a Share of Voice score. Each mention is worth `mentionTypeWeights[type]\
        \ * sentimentMultipliers[tone] * (conditional ? conditionalMultiplier : directMultiplier)`,\
        \ and a competitor's Share of Voice is its share of the summed weights of\
        \ every brand in the window, as a percentage. mentionTypeWeights is keyed\
        \ by mention type (recommendation, comparison, listing, example, reference)\
        \ and sentimentMultipliers by tone (positive, neutral, negative); a negative\
        \ mention is discounted, not discarded, because it still evidences presence.\
        \ A conditional mention is one the answer hedged with a condition (\"if you\
        \ need X\"). Use this to explain a score, not to recompute one: the counts\
        \ it applies to come from the mention mix endpoint. Every value is always\
        \ present and is never null."
      operationId: getShareOfVoiceFormula
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getShareOfVoiceFormula_200_response"
          description: The Share of Voice weighting constants
        "401":
          description: Missing or invalid API key
        "400":
          description: "Not reachable here: the endpoint accepts no query parameters,\
            \ so it has nothing to reject. Listed because the error envelope is shared\
            \ across the API"
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization or project the caller can access under these
            ids
      summary: The constants behind the Share of Voice score
      tags:
      - Analytics
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/tracked-queries/{trackedQueryId}/timeseries:
    get:
      description: "Minimum role: viewer. One point per bucket over the date window,\
        \ each carrying the brand metrics and one same-shaped entry per requested\
        \ competitor. Positions (serp, shopping, mention, link) are 1-based, so a\
        \ LOWER number is better; positivity, shareOfVoice, mentionRate and serpRate\
        \ are percentages from 0 to 100, where higher is better. Every metric is nullable,\
        \ and a null means nothing was captured for that entity in that bucket — it\
        \ is not a zero: a null shareOfVoice means no measurement, a shareOfVoice\
        \ of 0 means measured and never mentioned. The tracked query fixes its own\
        \ engine and country, so no engine or country filter is accepted. A non-null\
        \ dataDirtySince is a timestamp warning that tracked queries were deleted\
        \ from the project and historical buckets may still include their contributions\
        \ until the nightly refresh rebuilds them."
      operationId: getTrackedQueryTimeSeries
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Must belong to the project in the path.
        explode: false
        in: path
        name: trackedQueryId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Inclusive start of the window, Y-m-d. Must fall inside the data\
          \ retention window."
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Inclusive end of the window, Y-m-d."
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: Bucket size. Prefer weekly or monthly for long windows.
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          default: daily
          enum:
          - daily
          - weekly
          - monthly
          type: string
        style: form
      - description: "Competitors to add as extra series, repeatable or comma-separated.\
          \ Valid ids come from the available-filters endpoint."
        explode: true
        in: query
        name: competitorIds
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      responses:
        "200":
          description: "One point per bucket, with brand and per-competitor metrics"
        "401":
          description: Missing or invalid API key
        "400":
          description: A filter was rejected; the details name the field
        "403":
          description: The key lacks the read capability
        "404":
          description: "No organization, project or tracked query the caller can access\
            \ under these ids"
      summary: Rank-tracking time series of a single tracked query
      tags:
      - Analytics
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/coverage:
    get:
      description: "Minimum role: viewer. A current-state snapshot answering \"what\
        \ is stale or not being tracked\": total is every tracked query on the project,\
        \ active and paused split it by status, neverChecked counts the active queries\
        \ that have never run, and overdue counts the active queries whose last check\
        \ is older than their own check-frequency interval (daily, weekly or monthly).\
        \ neverChecked and overdue are disjoint — a query that has never run is never\
        \ also counted as overdue — and both ignore paused queries, which are not\
        \ expected to be checked at all. sample lists up to 20 of the overdue queries,\
        \ most stale first; it is a sample of overdue only, so it never contains a\
        \ never-checked query and is empty when overdue is 0. Takes no date window:\
        \ every count describes the project as it stands right now."
      operationId: getTrackingCoverage
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getTrackingCoverage_200_response"
          description: Coverage counts and a sample of the most-overdue queries
        "401":
          description: Missing or invalid API key
        "400":
          description: "The request was rejected before it reached the project; this\
            \ endpoint accepts no query parameters, so no filter can be refused here"
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization or project the caller can access under these
            ids
      summary: Coverage and staleness of a project tracked queries
      tags:
      - Analytics
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/entitlements:
    get:
      description: "Minimum role: owner. Returns what the current plan allows, how\
        \ much of it has been consumed and when the allowance next resets, taken from\
        \ the most recent subscription contract whether it is running or cancelled.\
        \ An organization that has never subscribed answers `status: \"none\"` with\
        \ every budget and consumption field null — null means \"no plan on file,\
        \ so not known\", which is deliberately distinct from a budget or a consumption\
        \ of zero. Commercial and provider details (prices, Stripe identifiers, internal\
        \ tier codes) are not part of this contract."
      operationId: getEntitlements
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitlementsResource"
          description: The organization's allowance and consumption
        "401":
          description: Missing or invalid API key
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization the caller owns under this id
      summary: Get an organization's plan allowance and consumption
      tags:
      - Organizations
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/subscription:
    get:
      description: "Minimum role: viewer. The most recent subscription contract of\
        \ the organization, whatever its state: tier, billing interval, check budget\
        \ and consumption, and the cancellation and grace dates. An organization that\
        \ has never subscribed answers 200 with \"status\": \"none\" and every other\
        \ field null - a null is \"not applicable\", never a stand-in for a zero budget\
        \ or zero consumption. Stripe identifiers, prices and payment methods are\
        \ not part of this API."
      operationId: getSubscription
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionResource"
          description: "The subscription contract, or the \"none\" state"
        "401":
          description: Missing or invalid API key
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization the caller can access under this id
      summary: Get the subscription of an organization
      tags:
      - Billing
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/ai-responses:
    get:
      description: "Minimum role: viewer. Every AI answer captured for a project,\
        \ newest first, one page at a time. This is the evidence under the analytics\
        \ operations: the full answer text and the sources the engine cited, exactly\
        \ as captured. Read `unresolved` on a citation before attributing its domain\
        \ — a true value means the URL is still a redirector and the domain belongs\
        \ to that redirector, not to the publisher; count the citation, do not credit\
        \ the site. `passIndex` and `passCount` describe multi-pass sampling: rows\
        \ sharing a `trackedQueryId` and `capturedAt` are passes of one run, not duplicates,\
        \ so aggregating across them without dividing by `passCount` double-counts\
        \ that run. `responseText` is the whole answer, so a page of 100 is a large\
        \ response — lower `limit` rather than paging blind. Captures are kept for\
        \ 16 months and purged after that; a `dateFrom` before the window is rejected\
        \ rather than answered with an empty page. `total` counts every capture the\
        \ filter matches, not the size of this page."
      operationId: listAiResponses
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Inclusive lower bound, widened to 00:00:00 UTC of the named\
          \ day. Must be inside the retention window."
        explode: true
        in: query
        name: dateFrom
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "Inclusive upper bound, widened to 23:59:59 UTC of the named\
          \ day."
        explode: true
        in: query
        name: dateTo
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Only captures of this tracked query. Must belong to the project
          in the path.
        explode: true
        in: query
        name: trackedQueryId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Only captures from these AI engines. Repeat the parameter or
          pass a comma-separated list. An empty filter means every engine.
        explode: true
        in: query
        name: engines
        required: false
        schema:
          items:
            enum:
            - chatgpt
            - perplexity
            - google_ai_overview
            - google_ai_mode
            type: string
          type: array
        style: form
      - description: "Page size. A larger value is rejected, never silently reduced."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of captures to skip before the page starts.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Direction of the capture-time ordering. An unknown value is\
          \ rejected, not replaced by the default."
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAiResponses_200_response"
          description: A page of captured AI answers and the total the filter matches
        "400":
          description: "A filter, pagination or ordering parameter was rejected; the\
            \ details name the field"
        "401":
          description: Missing or invalid API key
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization or project the caller can access under these
            ids
      summary: List captured AI answers
      tags:
      - Captures
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/search-snapshots:
    get:
      description: "Minimum role: viewer. Every organic search page captured for a\
        \ project, newest first, one page at a time. This is what the rank figures\
        \ in the analytics operations were computed from: the ranked results as they\
        \ stood at `capturedAt`, not as they stand now. Read `unresolved` on a result\
        \ before attributing its domain — a true value means the URL is still a redirector\
        \ and the domain belongs to that redirector; count the result, do not credit\
        \ the site. `rating` and `ratingVotes` come from a rich-result star rating\
        \ when Google showed one and are absent far more often than present; their\
        \ absence says nothing about the page. There is no `engines` filter because\
        \ every capture here comes from Google SERP. Captures are kept for 16 months\
        \ and purged after that; a `dateFrom` before the window is rejected rather\
        \ than answered with an empty page. `total` counts every capture the filter\
        \ matches, not the size of this page."
      operationId: listSearchSnapshots
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Inclusive lower bound, widened to 00:00:00 UTC of the named\
          \ day. Must be inside the retention window."
        explode: true
        in: query
        name: dateFrom
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "Inclusive upper bound, widened to 23:59:59 UTC of the named\
          \ day."
        explode: true
        in: query
        name: dateTo
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Only captures of this tracked query. Must belong to the project
          in the path.
        explode: true
        in: query
        name: trackedQueryId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: "Page size. A larger value is rejected, never silently reduced."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of captures to skip before the page starts.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Direction of the capture-time ordering. An unknown value is\
          \ rejected, not replaced by the default."
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listSearchSnapshots_200_response"
          description: A page of captured search-results pages and the total the filter
            matches
        "400":
          description: "A filter, pagination or ordering parameter was rejected; the\
            \ details name the field"
        "401":
          description: Missing or invalid API key
        "403":
          description: The key lacks the read capability
        "404":
          description: No organization or project the caller can access under these
            ids
      summary: List captured search-results pages
      tags:
      - Captures
      x-accepts:
      - application/json
  /api/v1/organizations/{organizationId}/projects/{projectId}/shopping-snapshots:
    get:
      description: "Minimum role: viewer. Every shopping page captured for a project,\
        \ newest first, one page at a time: the ranked offers as they stood at `capturedAt`.\
        \ `price` and `currency` are what the seller showed at that moment — no tax\
        \ normalisation, no shipping, no conversion — and two offers in one snapshot\
        \ may carry different currencies, so convert before comparing. `productId`\
        \ is the marketplace's own identifier for the listing, stable enough to follow\
        \ one offer across snapshots, and it is not a Mencoro id. Offers turn over\
        \ far faster than organic results, so two snapshots days apart routinely share\
        \ none; that is the marketplace behaving normally, not a gap in the capture.\
        \ Unlike organic results, a shopping offer carries no `unresolved` flag: the\
        \ capture pipeline does not record one for this surface. Shopping captures\
        \ are trimmed by the same raw-data purge as AI answers and search pages, so\
[...]
